<div class="attribute-list-container">

    <label class="control-label u_margin-md-top" for="branding-primary-color">Primary Color:</label>
    <input id="branding-primary-color" type="text" class="form-control" ng-model="settings.brandingDraftPrimaryColor" placeholder="Enter a hex value, eg. #00FF00" ng-blur="saveBranding()">

    <label class="control-label u_margin-md-top" for="branding-primary-color">Secondary Color:</label>
    <input id="branding-secondary-color" type="text" class="form-control" ng-model="settings.brandingDraftSecondaryColor" placeholder="Enter a hex value, eg. #00FF00" ng-blur="saveBranding()">
</div>