<div class="branding-component-container attribute-list-container">

  <p class="u_margin-md-top">Any changes you make to your branding will apply to all Templates.</p>

  <div class="attribute-row attribute-row-first">
    <div class="col-xs-10 pl-0 attribute-desc">
      <component-icon icon="circleStar" type="streamline"></component-icon>
      <span>Logo</span>
    </div>
    <div class="col-xs-2 pr-0 align-right">
      <a id="edit-logo" ng-click="editLogo()">
        <span class="attribute-edit text-nowrap">
          <span translate>template.attribute-editor.edit-component</span>
          <i class="fa fa-lg fa-angle-right arrow-icon"></i>
        </span>
      </a>
    </div>
  </div>

  <div class="attribute-row">
    <div class="col-xs-10 pl-0 attribute-desc">
      <component-icon icon="palette" type="streamline"></component-icon>
      <span>Colors</span>
    </div>
    <div class="col-xs-2 pr-0 align-right">
      <a id="edit-colors" ng-click="editColors()">
        <span class="attribute-edit text-nowrap">
          <span translate>template.attribute-editor.edit-component</span>
          <i class="fa fa-lg fa-angle-right arrow-icon"></i>
        </span>
      </a>
    </div>
  </div>

</div>

<template-branding-colors></template-branding-colors>
