@import "mixins";

/* Variables
   ========================================================================== */
@import "variables";
@import "bootstrap-variables";
@import "fonts";


/* Bootstrap Core
   ========================================================================== */
@import "./web/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

/* FontAwesome
   ========================================================================== */
@import "./web/bower_components/font-awesome/scss/font-awesome";

/* Bootstrap Overwrites
   ========================================================================== */
@import "bootstrap-overwrites/mixins";
@import "bootstrap-overwrites/buttons";
@import "bootstrap-overwrites/dropdowns";
@import "bootstrap-overwrites/input-groups";
@import "bootstrap-overwrites/alerts";
@import "bootstrap-overwrites/labels";
@import "bootstrap-overwrites/navbar";
@import "bootstrap-overwrites/navs";
@import "bootstrap-overwrites/panels";
@import "bootstrap-overwrites/responsive-utilities";
@import "bootstrap-overwrites/modals";
@import "bootstrap-overwrites/breadcrumb";

/* Core
   ========================================================================== */
@import "core/global";
@import "core/utilities";
@import "core/fontawesome";
@import "core/glyphicons";
//@import "core/media";
@import "core/animation";
@import "core/layouts";


/* UI-Components
   ========================================================================== */
@import "ui-components/modals";
@import "ui-components/alignment-component";
@import "ui-components/alignment";
@import "ui-components/font-picker";
@import "ui-components/font-style";
@import "ui-components/common-header";
@import "ui-components/background-setting";
@import "ui-components/financial-selector";
@import "ui-components/column-settings";
@import "ui-components/font-size-picker";
@import "ui-components/font-setting";
@import "/web/bower_components/select2/select2.css";
@import "/web/bower_components/spectrum/spectrum.css";
@import "/web/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css";
@import "ui-components/loading-spinner";
@import "ui-components/ui-components-overwrites";
@import "ui-components/off-canvas";
@import "ui-components/action-sheet";
@import "ui-components/inverted-well";
@import "ui-components/distribution";
@import "ui-components/app-header";
@import "ui-components/toolbar";
@import "ui-components/file-picker";
@import "ui-components/empty-state";
@import "ui-components/file-empty-state";
@import "ui-components/lists";
@import "ui-components/responsive-table";
@import "ui-components/jumbo-card";
@import "ui-components/nav-sidebar";
@import "ui-components/tree-view-list";
@import "ui-components/simple-tabs";
@import "ui-components/bootstrap-slider-overwrites";
@import "ui-components/store-status.scss";
@import "ui-components/url-field";
@import "ui-components/tags.scss";
@import "ui-components/timeline.scss";
@import "ui-components/colorpicker";
@import "ui-components/filters";
@import "ui-components/subscription";
@import "ui-components/file-selector";
@import "ui-components/google-drive-picker";
@import "ui-components/template-picker";
@import "ui-components/playlist";
@import "ui-components/cta-tooltip";
@import "ui-components/toggle-switch";
@import "ui-components/email-tags";
@import "ui-components/progress-indicator";

/* Sections/Views
   ========================================================================== */
@import "sections/widgets";
@import "sections/storage-modal";
@import "sections/storage-selector";
@import "sections/alerts-app";
@import "sections/storage-full";
@import "sections/presentations";
@import "sections/editor-layout";
@import "sections/displays";
@import "sections/store";
@import "sections/store-nav";
@import "sections/store-products";
@import "sections/store-product-details";
@import "sections/store-cart";
@import "sections/schedules";
@import "sections/template-editor-layout";
@import "sections/onboarding";
@import "sections/checkout";
@import "sections/apps";
@import "sections/components/financial";
@import "sections/components/image";
@import "sections/components/video";
@import "sections/components/counter";
@import "sections/components/timedate";
