.navbar-default .navbar-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.navbar {
  z-index: 1000;
  margin-bottom: 0;
  &.navbar-default {
    .navbar-nav>.open>a {
        background: #FFF;
    } 
    .navbar-nav>li>a {
      border-radius: 4px;
      font-size: 13px;
      &:hover,&:focus {
        color: $rise-blue;
        background-color: $brand-bg;
      }
      &.selected {
        color: $rise-blue;
        background-color: $brand-bg;
      }
    }
  }
    .navbar-brand {
      padding: 6px;
      img {
        width: 100px;
      }
      .fa {
        padding: 10px;
      }
    }

    .navbar-nav {
      display: flex;
      align-items: center;
      margin: 0;
      
      &.actions-nav {
        margin-left: auto;
        display: flex;
      }
        >li {
            >a {
              padding: 6px;
              &.btn,
                &.company-buttons-icon-mobile {
                    margin-top: 8px;
                    margin-bottom: 0;
                }
            }
            button {
              @extend .navbar-btn;
            }
            >a.btn-link,
            >button.btn-link {
                &:hover,
                &:focus,
                &:active {
                    color: gray;
                }
            }
        }
    }
    
}

.navbar-default {
    li.user-profile-dropdown {
      margin-left: auto;
        >a {
            padding: 8px;
            margin-top: 0;
        }
        text-align: right;
        .user-id {
            span {
              @extend .u_ellipsis-md;
              display: block;
              font-size: 13px;
              line-height: 18px;
            }
            .username {
                line-height: 16px;
            }
        }
        .profile-pic {
            margin-left: 8px;
            margin-top: 1px;
            border-radius: 4px;
            img {
                height: 100%;
            }
        }
    }
}

.navbar {
  /* Small Devices, Tablets */
  @media (max-width: $screen-xs-max) {
      .navbar-nav {
        .open {
          .dropdown-menu {
            background-color: #FFF;
            position: absolute;
            border: 1px solid #CCC;
          }
        }
      }
  }

  /* Medium Devices, Desktops */
  @media (min-width: $screen-md) {
    padding: 2px 0;
    margin-bottom: 0;
  }
}


.app-navigation {
    ul {
        >li>a {
            display: block;
            .image {
                height: 16px;
                margin-right: 8px;
                float: left;
                img {
                    height: 100%;
                }
            }
        }
    }
    svg {
        width: 24px;
        height: 24px;
    }
    & path:first-child {
        fill: #4AB767;
    }
    & path:last-child {
        fill: #2D60AD;
    }
}


/* Small Devices, Tablets */

@media (max-width: $screen-xs-max) {
    li.user-profile-dropdown {
        >a {
            padding: 2px;
            margin-top: 8px;
        }
        .user-id {
            span {
                max-width: 100px;
            }
        }
    }
}

/*ENV NAME*/

.env-name {
  text-align: center;
  font-weight: 500;
}

.env-name-label {
  background-color: #222;
  padding: 6px;
  color: #FFF;
  margin-right: 4px;
}

.env-name-nav-item {
  .env-name-label {
    border-radius: 5px;
    display: inline-block;
  }
}

/* Company Selector
   ========================================================================== */

.company-search {
    padding-top: 20px;
}


/* Move Company
   ========================================================================== */

.move-company {
    label {
        font-weight: normal;
    }
    a {
        line-height: 34px;
    }
    h3 {
        font-size: 16px;
    }
    .to-company {
        margin-bottom: 20px;
    }
}


/* Company Settings
   ========================================================================== */

.company-settings .action-link {
    margin-left: 20px;
}

.double-margin {
    margin-bottom: 40px !important;
}

.sub-company-alert.test-company-alert {
    background-color: $brand-danger;
}

.sub-company-alert.test-company-alert + .sub-company-alert {
    margin-top: 0;
}

.sub-company-alert {
    width: 100%;
    line-height: 20px;
    bottom: -24px;
    background-color: lighten($brand-danger, 25%);
    color: #000;
    padding: 0 20px;
    border-bottom: 1px solid lighten($brand-danger, 15%);
    text-align: center;
    display: inline-block;
    height: 21px;
}

.sub-company-alert .sub-company-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 65%;
    float: left;
}

@media (min-width: $screen-xs-max) {
    .sub-company-alert .link-button {
        display: inline-block;
        font-weight: bold;
    }
}

@media (max-width: $screen-xs-max) {
    .sub-company-alert .link-button {
        float: right;
        font-weight: bold;
    }
}

.authorization-modal {
    text-align: center;
    .profile-img {
        width: 72px;
        height: 72px;
        -webkit-border-radius: 72px;
        -moz-border-radius: 72px;
        border-radius: 72px;
    }
    p,
    .btn {
        margin-top: 40px;
    }
}

.user-profile-dropdown {
    .dropdown-toggle {
        .user-id {
            span {
                display: block;
                line-height: 16px;
                font-size: 13px;
                text-align: right;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &.pending-registration {
                    line-height: 32px;
                    display: none;
                }
                @media (max-width: $screen-sm) {
                    width: 120px;
                }
            }
            strong {
                font-size: 12px;
                color: #999;
            }
        }
    }
    .google-account {
        margin: 15px;
        line-height: 32px;
    }
}

.dropdown-header {
    color: #555;
    padding: 10px;
    &.sub-company-header {
        background: #f8e4e2;
    }
    p {
        line-height: 18px;
        margin: 0;
        font-size: 13px;
        overflow: hidden;
        @media (max-width: $screen-xs) {
            strong {
                text-overflow: ellipsis;
                display: block;
                overflow: hidden;
                max-width: 260px;
            }
            a {
                display: block;
                margin-top: 5px;
            }
            .text-muted {
                display: none;
            }
        }
    }
}

.actions-nav {
    > li > a .label {
        position: absolute;
        left: 60%;
        top: -2px;
        z-index: 1;
        padding: 4px 7px;
        font-size: 50%;
        vertical-align: middle;
    }
    .dropdown .company-menu {
        right: -62px;
    }
    .dropdown .company-menu::before {
        right: 80px;
    }
    .dropdown .company-menu::after {
        right: 81px;
    }
}
