.grid-selector {
  overflow-y: scroll;
  max-height: calc(100vh - 340px);
}

.grid-selector-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  padding: 4px;
}

.grid-selector-list-item {
  border-radius: 2px;
  width: 32.5%;
  height: 120px;
  line-height: 120px;
  margin-bottom: 5px;
  color: #555;
  align-self: center;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.list-item-placeholder {
  visibility: hidden;
  height:         0 !important;
  margin-top:     0 !important;
  margin-bottom:  0 !important;
  padding-top:    0 !important;
  padding-bottom: 0 !important;
  border:         0 !important;
}

.grid-selector-list-item .list-item-label {
  background: #f2f2f2;
  font-weight: 500;
  line-height: 20px;
  padding: 2px 5px;
  overflow: hidden;
  border-radius: 5px;
  font-size: calc(10px + 0.15vw);
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 0; 
  width: 100%;
}

.grid-selector-list-item .list-item-icon {
  width: 33%;
  margin-top: -20px;
}

.grid-selector-list-item.list-type_image {
  border: 1px solid #D6DADC;
  background-color: #f2f2f2;
  img {
    max-width: 100%;
    max-height: 120px;
    vertical-align: middle;
  }
  .list-item-label {
    border-radius: 0;
  }  
}

.grid-selector-list-item {
  &::before, &::after {
    content: '';
    display: none;
    width: 100%;
    height: 100%;
    position:absolute;
  }
  &::before {
    opacity: 0.7;
    background-color: #4ab767;
    border-radius: 2px;
  }
  &::after {
    background: url('https://cdn2.hubspot.net/hubfs/2700250/storage-selected-icon@2x.png');
    background-size:24px;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
  }
  &:hover {
    box-shadow: 0px 0px 0px 1px #4ab767;
  }
  &.list-item--selected {
    &::before, &::after {
      display: block;
    }
    .list-item-label {
      background: #4ab767; 
      color: #FFF;
    }
  }
}

.grid-selector-list-item.list-item--throttled {
  &::before { 
    display: block;  
    opacity: 0.5;
    background-color: #b74a4a;
    border-radius: 2px;
  }
  &::after {
    display: block;  
    background: url('https://s3.amazonaws.com/Rise-Images/UI/throttled-file%402x.png');
    background-size:24px;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
  }
  .list-item-label {
    background: none; 
    color: #FFF;
  }
}

.grid-selector-list-item.list-item--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



/* ==========================================================================
   Small devices (tablets, 768px and up)
   ========================================================================== */

 
@media (min-width: 768px) {
  .grid-selector { 
    .grid-selector-list-item {
      width: 16.3%;
    }
  }
  .grid-selector-list_storage {
   
  }
}

/* ==========================================================================
   Medium devices (desktops, 992px and up) 
   ========================================================================== */
   
@media (min-width: 992px) {
  .grid-selector {
    .grid-selector-list-item {
      width: 12.2%;
    }
  }
}
