.rzslider {
  .rz-pointer {
    top: -14px !important;
    width: 32px !important;
    height: 32px !important;
    background-color: $rise-blue !important;
    outline: none !important;
  }

  .rz-bar {
    height: 10px !important;
    background: $white !important;
    border-radius: 4px !important;
    border: 1px solid $mid-gray !important;
    top: 14px !important;
  }

  .rz-pointer:after {
    background: $rise-blue !important;
  }
}

.col-xs-12 {
  .rzslider {
    margin-top: 15px !important;
  }
}
