.idea/
.vscode/
*.iml
node_modules
web/bower_components
web/pricing-component.js
reports
*.log
dist
tmp
web/tmp
web/scripts/config/config.js
web/vendor/tus
test/e2e/config/config.json
.DS_Store
.project
