<p ng-message="required" class="text-danger">This field is required.</p>
<p ng-message="pattern" class="text-danger">Please provide a valid URL.</p>
<p ng-message="noPreviewUrl" class="text-danger">Using Preview URLs is not supported. You can place one Presentation into another using Embedded Presentations.</p>
<p ng-message="responseHeaderValidator" class="text-danger">The owner of the Web Page at the URL provided does not allow the page to be embedded within an iFrame. If possible, please contact the Web Page owner to discuss ( <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/X-Frame-Options">X-Frame-Options</a> / <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-ancestors">Content-Security-Policy</a>).</p>
<p ng-message="fileType" class="text-danger">{{ngModelCtrl.customErrorMessage}}</p>
<p ng-message-default class="text-danger">Invalid field.</p>