<div class="form-group" ng-class="{ 'has-error' : (ngModelCtrl.$invalid && ngModelCtrl.$dirty) }">
  <label class="control-label" for="password">
    {{ label || 'Password' }}
  </label>
  <input id="password"
    type="password"
    class="form-control"
    placeholder="{{ placeholder || 'Enter Password' }}"
    ng-model="ngModel"/>

  <ng-messages role="alert" for="ngModelCtrl.$error" ng-if="ngModelCtrl.$invalid && ngModelCtrl.$dirty">
    <p ng-message="required" class="text-danger">Oops, don't leave this blank.</p>
    <p ng-message="minlength" class="text-danger">Password needs to be {{ minlength }} or more characters in length.</p>
    <p ng-message="currentPasswordNotValid" class="text-danger">Current Password is not valid.</p>
  </ng-messages>

  <div id="passwordMeter" ng-if="showPasswordMeter && scorePercentage && ngModelCtrl.$dirty">
    <p id="passwordFeedback" class="text-warning">{{feedback}}</p>

    <p>Strength: <span id="strengthText" class="text-{{strengthClass}}">{{strength}}</span></p>

    <div class="progress">
      <div class="progress-bar progress-bar-{{strengthClass}}" role="progressbar" aria-valuenow="{{scorePercentage}}"
      aria-valuemin="0" aria-valuemax="100" style="width: {{scorePercentage}}%">
      </div>
    </div>
  </div>

</div>