<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
</head>
<body>
  <div style="background:#f9f9f9;margin:0px;padding:20px" bgcolor="f9f9f9">
      <table cellspacing="0" border="0" cellpadding="0" align="center" width="595" bgcolor="white" style="border-collapse:separate;border-spacing:0;font-family:Helvetica,Arial,sans-serif;letter-spacing:0;table-layout:fixed">
          <tbody>
              <tr>
                  <td style="border:1px solid #dddddd;border-radius:2px;font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:40px 60px">
                      <table width="100%" style="border-collapse:separate;border-spacing:0;table-layout:fixed">
                          <tbody>
                              <tr>
                                  <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:0;text-align:left" align="left">
                                      <img src="https://ci4.googleusercontent.com/proxy/tIn39Uu_-8P30B-NjHrQ6M6cn10CNDo8yKsbzHxTVxQDdshB0RN9KmjFHpgXqGvxfJy7jhFQFRMnvpkBo-cGxyTaPHX-YnB8cvvmC5v4FbYHFSbiRAgMRCOGqol3psI81bf9vVzerfYrewyW=s0-d-e1-ft#https://uploads.intercomcdn.com/i/o/6993581/b0c28bc9f12d8f147f01c291/File1465138287030" width="165" height="62" style="padding:15px 0 30px;text-align:left" class="CToWUd">
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                      <table width="100%" style="border-collapse:separate;border-spacing:0;table-layout:fixed">
                          <tbody>
                              <tr>
                                  <td style="color:#525252;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:22px;padding:0">
                                      <p style="line-height:1.5;margin:0 0 17px;text-align:left!important" align="left">Hi there,</p>
                                      <p style="line-height:1.5;margin:0 0 17px;text-align:left!important" align="left">To complete the setup of ‘{{display.name}}’ Display, &nbsp;you need to install Rise Player on your Media Player hardware.&nbsp;</p>
                                      <p style="line-height:1.5;margin:0 0 17px;text-align:left!important" align="left">Find your operating system below, download the applicable installer, and copy it to the Media Player that you intend to use.</p>

                                       <div style="width: 100%;
                      display: inline-block;
                      padding: 10px;
                      border: 1px solid #DDD; text-align:center;">
                                          <p><span>Your Display ID is:</span>
                                          <b style="border: none;
                      outline: none!important;
                      font-size: 26px;
                      line-height: 18px;
                      padding: 0;
                      margin: 0 22px;
                      top: 3px;
                      position: relative;">{{display.id}}</b>
                                             </p>
                                      </div>

                                      <p></p>
                                      <p style="line-height:1.5;margin:0 0 17px;text-align:left!important" align="left"><b>Windows Installation</b>
                                          <br>Run the Rise Player installer on your dedicated Media Player, and follow the on-screen setup instructions.
                                          <br>
                                      </p>
                                      <div style="margin-bottom:16px;text-align:center!important" align="center"><a href="http://install-versions.risevision.com/installer-win-32.exe" style="background:#47b767;border:none;border-radius:3px;color:#fff;display:inline-block;font-size:14px;font-weight:bold;outline:none!important;padding:12px 35px;text-decoration:none" target="_blank">Download Windows 10 [32-bit]</a></div>
                                      <p style="line-height:1.5;margin:0 0 17px;text-align:left!important" align="left"></p>
                                      <div style="margin-bottom:16px;text-align:center!important" align="center"><a href="http://install-versions.risevision.com/installer-win-64.exe" style="background:#47b767;border:none;border-radius:3px;color:#fff;display:inline-block;font-size:14px;font-weight:bold;outline:none!important;padding:12px 35px;text-decoration:none" target="_blank">Download Windows 10 [64-bit]</a></div>
                                      <p style="line-height:1.5;margin:0 0 17px;text-align:left!important" align="left">
                                          <br><b>Ubuntu Installation</b></p>
                                      <p style="line-height:1.5;margin:0 0 17px;text-align:left!important" align="left">Open a terminal window, navigate to the directory that contains the Rise Player installer, and run the following commands (do not run the installer as root or via sudo):</p>
                                      <p style="line-height:1.5;margin:0 0 17px;text-align:left!important" align="left"><i>chmod +x installer-lnx-32.sh<br>./installer-lnx-32.sh</i>
                                          <br><b><i>OR</i></b>
                                          <br><i>chmod +x installer-lnx-64.sh<br>./installer-lnx-64.sh<br><br></i>Once entered, follow the on-screen setup instructions.
                                          <br>
                                      </p>
                                      <div style="margin-bottom:16px;text-align:center!important" align="center"><a href="http://install-versions.risevision.com/installer-lnx-32.sh" style="background:#47b767;border:none;border-radius:3px;color:#fff;display:inline-block;font-size:14px;font-weight:bold;outline:none!important;padding:12px 35px;text-decoration:none" target="_blank">Download Ubuntu 14.04 LTS [32-bit]</a></div>
                                      <p style="line-height:1.5;margin:0 0 17px;text-align:left!important" align="left"></p>
                                      <div style="margin-bottom:16px;text-align:center!important" align="center"><a href="http://install-versions.risevision.com/installer-lnx-64.sh" style="background:#47b767;border:none;border-radius:3px;color:#fff;display:inline-block;font-size:14px;font-weight:bold;outline:none!important;padding:12px 35px;text-decoration:none" target="_blank">Download Ubuntu 14.04 LTS [64-bit]</a></div>
                                      <p style="line-height:1.5;margin:0 0 17px;text-align:left!important" align="left"></p>
                                      <p style="line-height:1.5;margin:0 0 17px;text-align:left!important" align="left">If you have any questions at all, just reply to this email. &nbsp;We’re here to help!</p>
                                      <p style="line-height:1.5;margin:0 0 17px;text-align:left!important" align="left">-Robb
                                          <br>Rise Vision Community Manager</p>
                                  </td>
                              </tr>
                              <tr>
                              </tr>
                          </tbody>
                      </table>
                      <div style="width: 100%;
      display: inline-block;
      padding: 10px;
      border: 1px solid #DDD;">
                          <p><a href="http://blog.risevision.com/" style="border:none;outline:none!important" target="_blank" style="font-size: 14px;
      line-height: 22px;
      padding: 0;
      color: #9C9C9C;
      margin: 0 22px;">Follow Our Blog</a>
                              <span style="margin:6px;">|</span>
                              <a href="https://community.risevision.com/" style="border:none;outline:none!important" target="_blank" style="font-size: 14px;
      line-height: 22px;
      padding: 0;
      color: #9C9C9C;
      margin: 0 22px;">Join Our Community</a></p>
                      </div>
                  </td>
              </tr>
          </tbody>
      </table>
      <table width="100%" align="middle" style="border-collapse:separate;border-spacing:0;table-layout:fixed">
          <tbody>
              <tr>
                  <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:0">
                      <table cellspacing="0" border="0" cellpadding="0" align="center" width="600" bgcolor="transparent" style="border-collapse:separate;border-spacing:0;font-family:Helvetica,Arial,sans-serif;letter-spacing:0;table-layout:fixed">
                          <tbody>
                              <tr>
                                  <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:21px 30px 15px;text-align:center" align="center">
                                      <p style="color:#b7b7b7;font-size:12px;font-weight:300;margin:0 0 6px;text-decoration:none">Rise Vision 545 King Street West Toronto, Ontario Canada M5V 1M1
                                      </p>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </td>
              </tr>
          </tbody>
      </table>
      <img src="https://ci6.googleusercontent.com/proxy/94UV-nuYOyaXKD1YCpDXB5ruwcW_sYxQQvG2RxuEMxt7q9-uEdIZR-4zRw02NMdu2utq_8sdSqtxCHd4n_9TCCKrLJWQMs1MqA359Li7jYnYbKF2M14SBqV5MGGmk31pJw=s0-d-e1-ft#https://via.intercom-mail.com/o?h=c7dc0bfd5c9c489cf4ef372e153ce3b8576b5468-" width="1" height="1" style="display:block" alt="intercom" class="CToWUd">
      <div class="yj6qo"></div>
      <div class="adL">
      </div>
  </div>

</body>
</html>
