<div id="displayAddedPage">
  <div class="row">
    <div class="col-xs-12">
      <p>
        Congrats! You’ve added a Display named <strong>{{display.name}}</strong>. The next step is to plug in your Display 
        and watch how your audience engages with your creation! To do that you’ll need a Media Player. 
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 u_margin-sm-top">
      <p>
        A Media Player is a small computer that is connected, typically with an HDMI cable, 
        to the TV (Display) that you want your content to appear on. The Media Player (computer) 
        has our Rise Player software installed on it to show your content on the TV (Display).
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 u_margin-md-top text-center">
      <div class="panel panel-default panel-thick-shadow">
        <div class="panel-body u_margin-xs-top">
          <div class="row">
            <div class="col-xs-12">
              <img class="img-responsive" src="../images/display-add/rise-vision-relationship.svg" width="510">
            </div>
          </div>
          <div class="row u_margin-md-top u_margin-xs-bottom">
            <div class="col-xs-4">
              TV (Display)
            </div>
            <div class="col-xs-4">
              Media Player (Computer)
            </div>
            <div class="col-xs-4">
              Rise Vision (us!)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 u_margin-md-top">
      <p>
        We offer inexpensive pre-configured Media Players or you can configure your own.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 u_margin-sm-top text-center">
      <p>
        <strong>I want to ...</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="text-center sideways-panels">
        <div id="preconfiguredPlayerPanel" class="panel panel-default u_bordered-hover u_remove-bottom u_clickable" ng-click="setCurrentPage('preconfiguredMediaPlayer')">
          <div class="panel-body u_margin-sm-top">
            <div class="row">
              <div class="col-xs-12">
                <img src="../images/display-add/rise-media-player.svg" width="67">
              </div>
            </div>
            <div class="row u_margin-md-top">
              <div class="col-xs-12">
                <span class="font-weight-medium u_link u_link-no-underline">
                  Save time and be up and running quickly with a pre-configured Rise Vision Media Player
                </span>
              </div>
            </div>
          </div>
        </div>

        <div id="userPlayerPanel" class="panel panel-default u_bordered-hover u_remove-bottom u_clickable" ng-click="setCurrentPage('userMediaPlayer')">
          <div class="panel-body u_margin-sm-top">
            <div class="row">
              <div class="col-xs-12">
                <img src="../images/display-add/media-player.svg" width="67">
              </div>
            </div>
            <div class="row u_margin-md-top">
              <div class="col-xs-12">
                <span class="font-weight-medium u_link u_link-no-underline">
                  Configure my own Media Player
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
