<div class="app-header">
  <div class="title-block">
    <!-- App Title -->
    <h1 id="title" translate>displays-app.title</h1>
  </div>

  <div class="global-actions" require-role="da">
    <a id="displayAddButton" class="btn btn-lg btn-primary" ng-click="displayFactory.addDisplayModal()">
      {{ 'displays-app.actions.new' | translate }}
      <i class="fa fa-plus icon-right"></i>
    </a>
  </div>
</div>

<search-filter filter-config="filterConfig" search="search" do-search="displays.doSearch"></search-filter>

<div class="add-padding half-top half-bottom bg-warning" ng-show="search.query">
  <span translate>displays-app.list.searchNotification</span>
</div>

<div class="content-box half-top">
  <div class="scrollable-list"
  scrolling-list="displays.load()"
  rv-spinner rv-spinner-key="displays-list-loader"
  rv-spinner-start-active="1"
  >
    <table id="displaysListTable" class="table-2 table-hover">
      <thead>
        <tr>
          <th class="col-sm-5 clickable" id="tableHeaderName" ng-click="displays.sortBy('name')">
            {{ 'displays-app.list.heading.name' | translate }}
            <!-- ngIf: search.sortBy == 'name' -->
            <i ng-if="search.sortBy == 'name'" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[search.reverse]"></i>
            <!-- end ngIf: search.sortBy == 'name' -->
          </th>
          <th class="visible-lg visible-md" translate>
            displays-app.list.heading.address
          </th>
          <th id="tableHeaderLastConnection" class="col-sm-2 text-center">
            {{ 'displays-app.list.heading.lastConnection' | translate }}
          </th>
          <th id="tableHeaderStatus" class="col-sm-2 text-center">
            {{ 'displays-app.list.heading.status' | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable-row" ng-class="{ 'bg-warning' : selectedCompayId !== display.companyId }" ng-repeat="display in displays.items.list" ui-sref="apps.displays.change({displayId: display.id, companyId: display.companyId})">
          <td class="col-sm-5 display-name"><a ui-sref="apps.displays.change({displayId: display.id, companyId: display.companyId})"><span class="ellipsis"><strong>{{display.name}}</strong></span></a></td>
          <td class="nowrap display-address visible-lg visible-md"><a ui-sref="apps.displays.change({displayId: display.id, companyId: display.companyId})"><span class="text-muted ellipsis">{{display.address}}</span></a></td>
          <td class="nowrap display-last-connection visible-lg visible-md"><a ui-sref="apps.displays.change({displayId: display.id, companyId: display.companyId})"><span class="text-muted ellipsis">{{display.lastConnectionTime | date:'d-MMM-yyyy h:mm a'}}</span></a></td>
          <td class="col-sm-2 text-center">
            <div>
              <a ui-sref="apps.displays.change({displayId: display.id, companyId: display.companyId})">
                <span class="add-left">
                  <i ng-if="displayService.statusLoading" class="fa fa-spinner fa-spin fa-fw"></i>
                  <i ng-if="!displayService.statusLoading" class="fa {{display | status}} fa-circle"></i>
                </span>
              </a>
            </div>
          </td>
        </tr>
        <!-- If no displays available -->
        <tr ng-show="displays.items.list.length === 0 && !search.query">
          <td colspan="4" class="text-center"><span translate>displays-app.list.empty</span></td>
        </tr>
        <!-- If no search results -->
        <tr ng-show="displays.items.list.length === 0 && search.query">
          <td colspan="4" class="text-center"><span translate>displays-app.list.no-results</span></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
