<div id="configure-control-modal">
  <div class="modal-header">
    <button id="dismissButton" type="button" class="close" ng-click="dismiss()">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title" translate>displays-app.fields.player.displayControl.configureModal.title</h3>
  </div>
  <div class="modal-body">	
    <a class="info-link" href="https://help.risevision.com/hc/en-us/articles/115005727826" target="_blank">
      <i class="fa fa-question-circle icon-left" aria-hidden="true"></i>
      <span translate>displays-app.fields.player.displayControl.configureModal.help</span>
    </a>

    <textarea class="form-control u_margin-md-top" rows="12" ng-model="formData.displayControlContents"></textarea>
  </div>

  <div class="modal-footer">
    <button id="resetButton" class="btn btn-danger pull-left" ng-click="resetForm()" translate>
      displays-app.fields.player.displayControl.configureModal.reset
    </button>

    <button id="saveButton" type="submit" class="btn btn-primary"
            ng-click="saveConfiguration()" ng-disabled="displayDetails.$invalid" require-role="da"
            rv-spinner rv-spinner-key="saving-display-control" rv-spinner-start-active="0">
      {{ factory.savingDisplay ? ('common.saving' | translate) : ('common.save' | translate)}}
      <i class="fa fa-check icon-right"></i>
    </button>

    <button id="cancelButton" class="btn btn-default" ng-click="dismiss()">
      {{'common.cancel' | translate}}
      <i class="fa fa-times icon-right"></i>
    </button>
  </div>
</div>
