<div class="form-group u_margin-sm-bottom" ng-class="{'has-error': !displayDetails.name.$pristine && displayDetails.name.$invalid}" show-errors>
  <label class="control-label">{{'displays-app.fields.name.name' | translate}} *</label>
  <input type="text" class="form-control" placeholder="Display Name" id="name" name="name" ng-model="display.name" required>
  <p class="text-danger" ng-show="!displayDetails.name.$pristine && displayDetails.name.$error.required" translate>
    displays-app.fields.name.required
  </p>
</div>

<div ng-controller="displayControls">
  <!-- DESKTOP BUTTONS -->
  <div class="row">
    <div class="col-sm-4 col-md-3 col-md-offset-3">
      <button type="button" class="btn btn-default btn-block u_margin-sm-bottom" ng-disabled="!display.playerVersion" ng-click="confirm(display.id, display.name, 'restart')" require-role="da">
        {{ 'displays-app.fields.controls.restart.name' | translate }}
        <i class="fa fa-refresh icon-right"></i>
      </button>
    </div>
    <div class="col-sm-4 col-md-3">
      <button type="button" class="btn btn-default btn-block u_margin-sm-bottom" ng-disabled="!display.playerVersion || !canReboot(display)" ng-click="confirm(display.id, display.name, 'reboot')" require-role="da">
        {{ 'displays-app.fields.controls.reboot.name' | translate }}
        <i class="fa fa-power-off icon-right"></i>
      </button>
    </div>
    <div class="col-sm-4 col-md-3">
      <button id="installPlayer" type="button" class="btn btn-default btn-block u_margin-sm-bottom" ng-click="factory.addDisplayModal(display)">
          {{ 'displays-app.fields.controls.install' | translate }}
        <i class="fa fa-cloud-download icon-right"></i>
      </button>
    </div>
  </div>

  <!-- DISPLAY ERRORS AND ALERTS -->
  <div class="row">
      <div class="col-sm-12">
          <div ng-show="controlsError" class="alert alert-danger" role="alert">
              <strong translate>displays-app.fields.controls.error</strong> {{controlsError}}
          </div>
          <div class="panel animated fadeIn" ng-show="controlsInfo">
              <div class="panel-body bg-warning">
                  <strong>{{ controlsInfo | translate }}</strong>
              </div>
          </div>
      </div>
  </div>

</div>
<hr>

<div class="row half-top">

  <div class="col-sm-6 col-xs-12">
    <!-- DISPLAY DETAILS -->
    <div class="u_lh-normal u_margin-sm-bottom">
      <label class="control-label" translate>displays-app.displayDetails</label>
    </div>
    <div class="panel panel-default">
      <table class="table">
        <tbody class="table-body">
          <tr class="table-body__row">
            <td class="table-body__cell" translate><span>displays-app.fields.player.id</span></td>
            <td class="table-body__cell"><span> {{display.id}} </span></td>
          </tr>
          <tr class="table-body__row">
            <td class="table-body__cell" translate><span>displays-app.fields.player.status</span></td>
            <td class="table-body__cell">
                <i ng-if="displayService.statusLoading" class="fa fa-spinner fa-spin fa-fw"></i>
                <span class="text-danger" ng-show="!displayService.statusLoading && (display | status) === 'offline'"> <i class="fa fa-times"></i> Offline</span>
                <a ng-show="!displayService.statusLoading && (display | status) === 'offline'" href="https://help.risevision.com/hc/en-us/articles/115002694906-Why-is-my-Display-status-offline-" target="_blank">Why is my Display offline?</a>
                <span class="text-success" ng-show="!displayService.statusLoading && (display | status) === 'online'"> <i class="fa fa-check"></i> Online</span>
                <a id="notActivatedLink" class="u_icon-hover u_clickable" ng-show="!displayService.statusLoading && (display | status) === 'notinstalled'" ng-click="factory.addDisplayModal(display)">
                  {{ 'displays-app.list.status.notActivated' | translate }}
                </a>
            </td>
          </tr>
          <tr class="table-body__row">
            <td class="table-body__cell"><span translate>displays-app.fields.player.schedule.assigned</span></td>
            <td class="table-body__cell">
              <span>
                <a id="addToSchedule" ng-if="!displayService.hasSchedule(display)" ui-sref="apps.schedules.list({ cid: display.companyId })" target="_blank">
                  <span class="btn btn-primary btn-xs">
                    {{ 'displays-app.fields.player.schedule.addToSchedule' | translate }}
                    <i class="fa fa-external-link icon-right" aria-hidden="true"></i>
                  </span>
                </a>
                <a id="viewSchedule" ng-if="displayService.hasSchedule(display)" ui-sref="apps.schedules.details({ scheduleId: display.scheduleId, cid: display.companyId })" target="_blank">
                  <span class="table-link u_ellipsis-md-top">
                    {{display.scheduleName}}
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                  </span>
                </a>
              </span>
            </td>
          </tr>
          <tr class="table-body__row">
            <td class="table-body__cell"><span translate>displays-app.fields.player.lastConnection</span></td>
            <td class="table-body__cell"><span>{{display.lastConnectionTime | date:'d-MMM-yyyy h:mm a'}}</span></td>
          </tr>
          <tr class="table-body__row">
            <td class="table-body__cell"><span translate>displays-app.fields.player.resolution</span></td>
            <td class="table-body__cell"><span ng-show="display.playerVersion">{{display.width | resolution: display.height}}</span></td>
          </tr>
          <tr class="table-body__row">
            <td class="table-body__cell"><span translate>displays-app.fields.player.ipAddress</span></td>
            <td class="table-body__cell"><span>{{display.playerLocalIpAddress}}</span></td>
          </tr>
          <tr class="table-body__row">
            <td class="table-body__cell"><span translate>displays-app.fields.player.operatingSystem</span></td>
            <td class="table-body__cell"><span>{{display.os}}</span></td>
          </tr>
          <tr class="table-body__row" ng-show="display.macAddress">
            <td class="table-body__cell"><span translate>displays-app.fields.player.macAddress</span></td>
            <td class="table-body__cell"><span>{{display.macAddress}}</span></td>
          </tr>
          <tr class="table-body__row" ng-class="{'alert-warning': display.playerVersion && playerProFactory.isOutdatedPlayer(display), 'alert-danger': display.playerVersion && playerProFactory.isUnsupportedPlayer(display)}">
            <td class="table-body__cell"><span translate>displays-app.fields.player.playerVersion</span></td>
            <td class="table-body__cell" ng-if="!display.playerVersion"></td>
            <td class="table-body__cell" ng-if="display.playerVersion && playerProFactory.isOutdatedPlayer(display)">
              <span>{{(display.playerName ? display.playerName + " " : "") + (display.playerVersion ? display.playerVersion + " " : "") + (display.playerProAuthorized ? 'Licensed' : 'Free')}}</span>
              <a href="https://help.risevision.com/hc/en-us/articles/115004250723-Why-is-Rise-Player-version-not-current-" target="_blank" translate>displays-app.fields.player.version.notCurrent</a>
            </td>
            <td class="table-body__cell" ng-if="display.playerVersion && playerProFactory.isUnsupportedPlayer(display)">
              <span>{{(display.playerName ? display.playerName + " " : "") + (display.playerVersion ? display.playerVersion + " " : "")}}</span>
              <a href="" ng-click="factory.addDisplayModal(display)"><span class="text-danger" translate>displays-app.fields.player.version.unsupported</span> - {{'displays-app.fields.player.version.upgrade' | translate}}</a>
            </td>
            <td class="table-body__cell" ng-if="display.playerVersion && !playerProFactory.isOutdatedPlayer(display) && !playerProFactory.isUnsupportedPlayer(display)">
              <span>{{(display.playerName ? display.playerName + " " : "") + (display.playerVersion ? display.playerVersion + " " : "") + (display.playerProAuthorized ? 'Licensed' : 'Free')}}</span>
            </td>
          </tr>
          <tr class="table-body__row">
            <td class="table-body__cell"><span translate>displays-app.fields.player.viewerVersion</span></td>
            <td class="table-body__cell"><span>{{display.viewerVersion}}</span></td>
          </tr>
          <tr class="table-body__row">
            <td class="table-body__cell"><span translate>displays-app.fields.player.browserVersion</span></td>
            <td class="table-body__cell"><span>{{(display.browserName ? display.browserName + " " : "") + (display.browserVersion ? display.browserVersion : "")}}</span></td>
          </tr>
          <tr class="table-body__row" ng-show="display.serialNumber">
            <td class="table-body__cell"><span translate>displays-app.fields.player.serialNumber</span></td>
            <td class="table-body__cell"><span>{{display.serialNumber}}</span></td>
          </tr>
          <tr class="table-body__row" ng-show="display.cpu">
            <td class="table-body__cell"><span translate>displays-app.fields.player.cpu</span></td>
            <td class="table-body__cell"><span>{{display.cpu}}</span></td>
          </tr>
          <tr class="table-body__row" ng-show="display.hostName">
            <td class="table-body__cell"><span translate>displays-app.fields.player.hostName</span></td>
            <td class="table-body__cell"><span>{{display.hostName}}</span></td>
          </tr>
          <tr class="table-body__row" ng-show="display.productName">
            <td class="table-body__cell"><span translate>displays-app.fields.player.productName</span></td>
            <td class="table-body__cell"><span>{{display.productName}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="col-sm-6 col-xs-12">
    <!-- PROFESSIONAL FEATURES -->
    <div class="u_lh-normal u_margin-sm-bottom">
      <label class="control-label" translate>displays-app.fields.player.rpp.features</label>
      <a href="https://help.risevision.com/hc/en-us/articles/115003830563-Get-started-with-Rise-Player-Professional" target="_blank"><i class="fa fa-question-circle icon-right" aria-hidden="true"></i></a>
    </div>
    <div class="panel panel-default">
      <table class="table table--pro-features" ng-class="{ 'table--disabled': !display.playerProAuthorized }">
        <tbody class="table-body">
          <tr class="table-body__row text-center u_padding-md" ng-show="!currentPlanFactory.isPlanActive() && !display.playerProAuthorized">
            <td colspan="2">
              <span translate>displays-app.fields.player.rpp.unlock</span><br/>
              <button type="button" ng-click="showPlansModal()" class="btn btn-xs btn-primary u_margin-sm-top" translate>
                displays-app.fields.player.rpp.start-trial
              </button>
            </td>
          </tr>

          <tr class="table-body__row">
            <td class="table-body__cell text-nowrap u_no-border">
               <div class="checkbox u_remove-margin" id="enableInputs">
                <label class="">
                  <input type="checkbox" ng-model="display.monitoringEnabled" ng-disabled="!display.playerProAuthorized">
                  <span class="no-select" translate>displays-app.fields.player.rpp.monitoring</span>
                </label>
              </div></td>
              <td class="table-body__cell u_no-border">
              <span translate>displays-app.fields.player.rpp.send-email-offline</span>
            </td>
          </tr>

          <tr class="table-body__row">
            <td class="table-body__cell text-nowrap u_no-border u_align-top">
              <span translate>displays-app.fields.player.rpp.email-recipients</span>
            </td>
            <td class="table-body__cell u_no-border" ng-class="{ 'has-error': !displayDetails.monitoringEmails.$valid }">
              <emails-field name="monitoringEmails" ng-model="display.monitoringEmails"></emails-field>
              <p class="help-block validation-error-message-email" ng-show="!displayDetails.monitoringEmails.$valid" translate>
                displays-app.fields.player.rpp.invalid-email
              </p>
            </td>
          </tr>

          <tr class="table-body__row">
            <td class="table-body__cell text-nowrap u_align-top u_no-border">
              <span translate>displays-app.fields.player.rpp.monitoring-timeline</span>
            </td>
            <td class="table-body__cell u_no-border">
              <timeline-basic-textbox timeline-string="display.monitoringSchedule" ng-disabled="!display.monitoringEnabled" />
            </td>
          </tr>

          <tr class="table-body__row" ng-class="{ 'table--disabled': !display.playerProAuthorized }" ng-if="!playerProFactory.isCROSLegacy(display) && !playerProFactory.isChromeOSPlayer(display)">
            <td class="table-body__cell">
              <span translate>displays-app.fields.player.displayControl.label</span>
            </td>
            <!-- ACTIVE -->
            <td class="table-body__cell" ng-show="playerProFactory.isDisplayControlCompatiblePlayer(display)">
              <span translate> displays-app.fields.player.displayControl.description </span>
              <button type="button" class="btn btn-primary btn-xs" ng-click="playerProFactory.openConfigureDisplayControl(display)" ng-disabled="!display.playerProAuthorized" require-role="da" translate>
                displays-app.fields.player.displayControl.configure
              </button>
            </td>
            <!-- INACTIVE -->
            <td class="table-body__cell" ng-hide="playerProFactory.isDisplayControlCompatiblePlayer(display)">
              <span>
                <div class="text-danger">
                  <span translate>
                    displays-app.fields.player.displayControl.unsupported
                  </span>
                </div>
              </span>
            </td>
          </tr>

          <tr class="table-body__row" ng-if="!playerProFactory.isCROSLegacy(display) && !playerProFactory.isChromeOSPlayer(display)">
            <td class="table-body__cell"><span translate>displays-app.fields.player.rpp.offline-play</span></td>
            <td class="table-body__cell">
              <span translate>displays-app.fields.player.rpp.offline-play-desc</span>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>

    <!-- SCREENSHOT  -->
    <div ng-if="!playerProFactory.isCROSLegacy(display)">
      <screenshot></screenshot>
    </div>
  </div>
</div>

<!--      SETTINGS       -->

<div class="form-group" ng-show="display.playerVersion || display.onlineStatus === 'online'">
  <div class="form-group form-inline" ng-show="playerProFactory.isCROSLegacy(display) || playerProFactory.isChromeOSPlayer(display)">
    <label class="control-label" translate>displays-app.fields.player.orientation.name</label>
    <select class="form-control" ng-model="display.orientation" integer-parser>
      <option value="0" translate>displays-app.fields.player.orientation.0</option>
      <option value="90" translate>displays-app.fields.player.orientation.90</option>
      <option value="180" translate>displays-app.fields.player.orientation.180</option>
      <option value="270" translate>displays-app.fields.player.orientation.270</option>
    </select>
  </div>
</div>

<div class="form-group">
  <div class="checkbox">
    <label class="control-label">
      <input type="checkbox" ng-model="display.useCompanyAddress"> <strong translate>displays-app.fields.address.useCompany</strong>
    </label>
  </div>
</div>

<div ng-hide="display.useCompanyAddress" class="u_margin-md-top u_margin-md-bottom">
  <div class="form-group">
    <label class="control-label" translate>displays-app.fields.address.description</label>
    <input type="text" class="form-control" ng-model="display.addressDescription">
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.street</label>
        <input type="text" class="form-control" ng-model="display.street">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.unit</label>
        <input type="text" class="form-control" ng-model="display.unit">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.city</label>
        <input type="text" class="form-control" ng-model="display.city">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.country.name</label>
        <select class="form-control" ng-model="display.country" ng-options="c.code as c.name for c in countries" empty-select-parser>
          <option value="" ng-show="false" translate>displays-app.fields.address.country.placeholder</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.province.name</label>
        <input type="text" class="form-control" ng-model="display.province" ng-hide="display.country == 'US' || display.country == 'CA'" />
        <select class="form-control selectpicker" ng-model="display.province" ng-options="c[1] as c[0] for c in regionsCA" ng-show="display.country == 'CA'" empty-select-parser>
          <option value="" ng-show="false" translate>displays-app.fields.address.province.provincePlaceholder</option>
        </select>
        <select class="form-control selectpicker" ng-model="display.province" ng-options="c[1] as c[0] for c in regionsUS" ng-show="display.country == 'US'" empty-select-parser>
          <option value="" ng-show="false" translate>displays-app.fields.address.province.statePlaceholder</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.postalCode</label>
        <input type="text" class="form-control" ng-model="display.postalCode">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" translate>displays-app.fields.address.timezone.name</label>
    <select class="form-control" ng-model="display.timeZoneOffset" integer-parser>
      <option value="" ng-show="false" translate>displays-app.fields.address.timezone.placeholder</option>
      <option value="{{c[1]}}" ng-repeat="c in timezones">{{c[0]}}</option>
    </select>
  </div>
  <hr>
</div><!--display address-->

<div class="form-group reboot-time">
  <div class="checkbox">
    <label class="control-label"><input type="checkbox" ng-model="display.restartEnabled"> <strong translate>displays-app.fields.reboot</strong></label>
  </div>
  <time-picker ng-model="display.restartTime" ng-disabled="!display.restartEnabled"></time-picker>
</div>
