<div id="displayAddedPage">
  <div class="panel mb-0">

    <div class="panel-body text-center">
      <div class="row">
        <div class="col-xs-12 u_margin-md-top aligner">
          <img class="img-responsive" src="../images/display-add/rise-vision-relationship.svg" width="510">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 aligner">
          <div class="row u_margin-md-top u_margin-xs-bottom" style="width:530px;">
            <div class="col-xs-4">
              TV (Display)
            </div>
            <div class="col-xs-4">
              Media Player (Computer)
            </div>
            <div class="col-xs-4">
              Rise Vision (us!)
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-lg">
            Great! In order for your Template to show on your Display, you need to connect your Display 
            to Rise Vision. To do this, you need a “Media Player” (a small computer that connects to a 
            Display, as shown above). 
            <a href="https://help.risevision.com/hc/en-us/articles/115001817143" id="learnMore" target="_blank">
            Learn more about Media Players.</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 u_margin-sm-top">
          <p class="text-lg">
            <strong>Do you have a Media Player or do you need to buy one?</strong>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group w-100" role="group" aria-label="Do you have a Media Player?">
            <button id="preconfiguredPlayerButton" type="button" class="btn w-50" ng-click="hasOwnPlayer = false" ng-class="{'btn-toggle-blue-off' : hasOwnPlayer, 'btn-toggle-blue-on' : !hasOwnPlayer}">
              <i class="fa fa-white fa-check icon-left" ng-show="!hasOwnPlayer"></i>
              I don’t have a Media Player.
            </button>
            <button id="ownPlayerButton" type="button" class="btn w-50" ng-click="hasOwnPlayer = true" ng-class="{'btn-toggle-blue-off' : !hasOwnPlayer, 'btn-toggle-blue-on' : hasOwnPlayer}">
              <i class="fa fa-white fa-check icon-left" ng-show="hasOwnPlayer"></i>
              I have a Media Player.
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <button id="nextButton" type="submit" class="btn btn-primary w-100" aria-label="Next" tabindex="1" ng-click="showMediaPlayerPage(hasOwnPlayer)">Next Step →</button>
        </div>
      </div>
    </div>

  </div>
</div>
