<div class="app-header my-4">
  <h1 class="app-header-title" translate>displays-app.details.title</h1>


    <div class="toggle-group ml-auto">

      <input type="checkbox" id="on-off-switch" ng-model="display.playerProAuthorized" ng-change="toggleProAuthorized()" ng-disabled="updatingRPP || !isProToggleEnabled()">
      <label for="on-off-switch">
        <span translate>displays-app.details.rpp-is</span>
        <span class="bold" ng-class="display.playerProAuthorized ? 'text-green' : 'text-error'" ng-show="!updatingRPP">
          <span>{{ display.playerProAuthorized ? 'ON' : 'OFF' }}</span>

          <a href="https://help.risevision.com/hc/en-us/articles/115003626863#_ga=2.193387565.1036005128.1516585172-448654264.1459728419" target="_blank" aria-label="Open Help Article">
            <i class="fa fa-question-circle icon-right" aria-hidden="true"></i>
          </a>

        </span>

        <span ng-show="updatingRPP">
          <span translate>displays-app.details.rpp-loading</span> <i class="fa fa-spinner fa-spin fa-fw"></i>
        </span>
      </label>

      <div class="onoffswitch" aria-hidden="true">
          <div class="onoffswitch-label">
              <div class="onoffswitch-inner"></div>
              <div class="onoffswitch-switch"></div>
          </div>
      </div>
    </div>
  
</div><!--app-header-->

<div id="display-loader" rv-spinner rv-spinner-key="display-loader" rv-spinner-start-active="0"></div>

<div>
  <form role="form" name="displayDetails">
    <div class="row" ng-show="areAllProLicensesUsed()">
      <div class="col-sm-12">
        <div class="alert alert-warning" role="alert">
          <span translate translate-values="{ count: getProLicenseCount() }">displays-app.details.all-licenses-used</span>
          <a href="#" class="u_margin-left" ng-click="showPlansModal(true)" translate>displays-app.details.get-more</a>
        </div>
      </div>
    </div>
    <div class="row" ng-show="!isProSupported()">
      <div class="col-sm-12">
        <div class="alert alert-warning" role="alert">
          <span translate>displays-app.details.rpp-not-supported</span>
        </div>
      </div>
    </div>

    <display-fields></display-fields>

    <div id="errorBox" ng-show="factory.apiError" class="alert alert-danger" role="alert">
      <strong>{{factory.errorMessage}}</strong> {{factory.apiError}}
    </div>

    <div class="button-row text-right">
      <p class="visible-xs"><last-modified change-date="display.changeDate" changed-by="display.changedBy"></last-modified></p>
      <!-- Indicates delete or destructive action -->
      <button id="deleteButton" type="button" class="btn btn-danger pull-left" ng-click="confirmDelete()" require-role="da">
        {{'common.delete' | translate}}
        <i class="fa fa-white fa-trash-o icon-right"></i>
      </button>
      <span class="hidden-xs u_margin-right"><last-modified change-date="display.changeDate" changed-by="display.changedBy"></last-modified></span>
      <!-- Indicates a successful or positive action -->
      <button id="saveButton" type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="displayDetails.$invalid || factory.savingDisplay" require-role="da">
        {{ factory.savingDisplay ? ('common.saving' | translate) : ('common.save' | translate)}}
        <i class="fa fa-check icon-right"></i>
      </button>
      <!-- Indicates cancel or non-destructive action -->
      <button id="cancelButton" ui-sref="apps.displays.list" class="btn btn-default">
        {{'common.cancel' | translate}}
        <i class="fa fa-times icon-right"></i>
      </button>
    </div>
  </form><!-- ticketDetails -->
</div><!--container-->
