<div id="displayAddModal" class="madero-style">
  <div class="modal-header">
    <button id="dismissButton" type="button" class="close" ng-click="dismiss()">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title" translate="displays-app.add.title" ng-if="!downloadOnly"></h3>
    <h3 class="modal-title" translate="displays-app.add.activate" ng-if="downloadOnly"></h3>
  </div>
  <div class="modal-body">
    <name-your-display ng-if="!currentPage"></name-your-display>
    <ng-include ng-if="currentPage === 'displayAdded'" src="'partials/displays/display-added.html'"></ng-include>

    <ng-include ng-if="currentPage === 'preconfiguredMediaPlayer'" src="'partials/displays/preconfigured-media-player.html'"></ng-include>
    <ng-include ng-if="currentPage === 'userMediaPlayer'" src="'partials/displays/user-media-player.html'"></ng-include>
    <ng-include ng-if="currentPage && currentPage.indexOf('osDetails') !== -1" src="'partials/displays/os-details.html'"></ng-include>
  </div>
</div>
