<div class="row">
  <div class="col-sm-6">
    <a class="btn btn-primary btn-block u_margin-sm-bottom" ng-click="displayTracker('Player Download', display.id, display.name, 'Ubuntu 32bit')" href="http://install-versions.risevision.com/installer-lnx-32.sh">
      {{'displays-app.download.linux32' |  translate }}
      <img class="icon-right" src="https://s3.amazonaws.com/Rise-Images/Icons/ubuntu.png" width="16" height="16">
    </a>
  </div>
  <div class="col-sm-6">
    <a class="btn btn-primary btn-block u_margin-sm-bottom" ng-click="displayTracker('Player Download', display.id, display.name, 'Windows 32bit')" href="http://install-versions.risevision.com/installer-win-32.exe">
      {{'displays-app.download.win32' |  translate }}
      <img class="icon-right" src="https://s3.amazonaws.com/Rise-Images/Icons/windows.png" width="16" height="16">
    </a>
  </div>
</div><!--row-->

<div class="row">
  <div class="col-sm-6">
    <a class="btn btn-primary btn-block u_margin-sm-bottom" ng-click="displayTracker('Player Download', display.id, display.name, 'Ubuntu 64bit')" href="http://install-versions.risevision.com/installer-lnx-64.sh">
      {{'displays-app.download.linux64' |  translate }}
      <img class="icon-right" src="https://s3.amazonaws.com/Rise-Images/Icons/ubuntu.png" width="16" height="16">
    </a>
  </div>
  <div class="col-sm-6">
    <a id="downloadWindows64" class="btn btn-primary btn-block u_margin-sm-bottom" ng-click="displayTracker('Player Download', display.id, display.name, 'Windows 64bit')" href="http://install-versions.risevision.com/installer-win-64.exe">
      {{'displays-app.download.win64' |  translate }}
      <img class="icon-right" src="https://s3.amazonaws.com/Rise-Images/Icons/windows.png" width="16" height="16">
    </a>
  </div>
</div><!--row-->

<div class="row">
  <div class="col-sm-6">
    <a id="downloadRaspbianARMv7" class="btn btn-primary btn-block u_margin-sm-bottom"
    ng-click="displayTracker('Player Download', display.id, display.name, 'Raspbian ARMv7')"
    href="http://install-versions.risevision.com/installer-lnx-armv7l.sh">
      {{'displays-app.download.armv7l' |  translate }}
      <img class="icon-right" src="https://s3.amazonaws.com/Rise-Images/Icons/raspbian.png" width="16" height="16">
    </a>
  </div>
</div><!--row-->
