<div rv-spinner rv-spinner-key="name-your-display" rv-spinner-start-active="1">

  <form id="forms.displayAdd" role="form" name="forms.displayAdd" ng-submit="save()" novalidate>
    <div class="panel mb-0">

      <div class="panel-body">
        <div class="form-group" ng-class="{'has-error': !forms.displayAdd.name.$pristine && forms.displayAdd.name.$invalid}" show-errors>
          <label for="name" class="control-label">First, let’s give your Display a name:</label>
          <input type="text" class="form-control" placeholder="Hallway Display #2" id="name" name="name" ng-model="display.name" autofocus required>
          <p class="text-danger" ng-show="!forms.displayAdd.name.$pristine && forms.displayAdd.name.$error.required">
            Please enter a name for your Display.
          </p>
        </div>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12">
            <div ng-show="factory.apiError" class="alert alert-danger" role="alert">
              <strong>{{factory.errorMessage}}</strong> {{factory.apiError}}
            </div>

            <button id="nextButton" type="submit" class="btn btn-primary w-100" aria-label="Next" tabindex="1" form="forms.displayAdd" ng-disabled="forms.displayAdd.$invalid || factory.savingDisplay" require-role="da">Next Step →</button>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
