<div id="osDetailsPage">

  <div class="panel mb-0">

    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-lg">
            To connect your Media Player to Rise Vision you need to download and install “Rise Player” on your Media Player.
          </p>
        </div>
      </div>

      <div class="row u_margin-sm-bottom">
        <div class="col-sm-6">
          <strong ng-show="currentPage === 'osDetailsWindows'">Download Rise Player for Windows:</strong>
          <strong ng-show="currentPage === 'osDetailsLinux'">Download Rise Player for Linux:</strong>
          <strong ng-show="currentPage === 'osDetailsChromeOs'">Download Rise Player for Chrome OS:</strong>
          <strong ng-show="currentPage === 'osDetailsRaspberryPi'">Download Rise Player for Raspberry Pi:</strong>
        </div>
        <div class="col-sm-6 text-right">
          <a href="#" ng-click="setCurrentPage('userMediaPlayer')">
            Choose a different operating system
          </a>
        </div>
      </div>

      <div class="row">        
        <div ng-show="currentPage === 'osDetailsWindows'">
          <div class="col-sm-6">
            <a href="http://install-versions.risevision.com/installer-win-32.exe" class="btn btn-default w-100">
              Download for Windows 7 and Up (32-bit)
            </a>
          </div>
          <div class="col-sm-6">
            <a id="downloadWindows64" href="http://install-versions.risevision.com/installer-win-64.exe" class="btn btn-default w-100">
              Download for Windows 7 and Up (64-bit)
            </a>
          </div>
        </div>

        <div ng-show="currentPage === 'osDetailsLinux'">
          <div class="col-sm-6">
            <a href="http://install-versions.risevision.com/installer-lnx-32.sh" class="btn btn-default w-100">
              Download for Ubuntu 16.04 LTS (32-bit)
            </a>
          </div>
          <div class="col-sm-6">
            <a href="http://install-versions.risevision.com/installer-lnx-64.sh" class="btn btn-default w-100">
              Download for Ubuntu 16.04 LTS (64-bit)
            </a>
          </div>
        </div>

        <div class="col-sm-12" ng-show="currentPage === 'osDetailsChromeOs'">
          <a href="https://help.risevision.com/hc/en-us/articles/360001252066" target="_blank" class="btn btn-default w-100">
            Download for Chrome OS
          </a>
        </div>

        <div class="col-sm-12" ng-show="currentPage === 'osDetailsRaspberryPi'">
          <a href="http://install-versions.risevision.com/installer-lnx-armv7l.sh" class="btn btn-default w-100">
            Download for Raspberry Pi
          </a>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 u_margin-sm-top">
          <p class="text-lg">
            After you’ve downloaded and installed Rise Player on your Media Player, enter this Display ID when prompted:
          </p>
        </div>
      </div>

      <div class="alert alert-lighter-gray text-center mb-0">
        <strong id="displayIdField" class="display-id">{{display.id}}</strong>
      </div>

      <display-email></display-email>

    </div>

    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <button id="previousButton" type="submit" class="btn btn-default w-100" aria-label="Previous" tabindex="1" ng-click="setCurrentPage('userMediaPlayer')">← Previous Step</button>
        </div>
      </div>
    </div>

  </div>

</div>
