<div id="preconfiguredPlayerPage">
  <div class="row">
    <div class="col-xs-12">
      <p>
        Great choice! With a pre-configured Rise Vision Media Player you’ll be up and running in just a few minutes.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 u_margin-sm-top text-center">
      <p>
        <strong>I want to ...</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="text-center sideways-panels">

        <div class="panel panel-default u_bordered-hover u_remove-bottom u_clickable">
          <a id="purchasePlayerLink" href="https://www.thebookpc.com/risevision-s/97.htm" id="purchaseMediaPlayer" target="_blank">
            <div class="panel-body u_margin-sm-top">
              <div class="row">
                <div class="col-xs-12">
                  <img src="../images/display-add/rise-media-player.svg" height="60">
                </div>
              </div>
              <div class="row u_margin-md-top">
                <div class="col-xs-12">
                  <span class="font-weight-medium u_link u_link-no-underline">
                    Buy A Rise Vision Media Player
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="panel panel-default u_bordered-hover u_remove-bottom u_clickable">
          <a href="https://help.risevision.com/hc/en-us/articles/115001817143" id="learnMore" target="_blank">
            <div class="panel-body u_margin-sm-top">
              <div class="row">
                <div class="col-xs-12">
                  <img src="../images/display-add/learn-more.svg" height="60">
                </div>
              </div>
              <div class="row u_margin-md-top">
                <div class="col-xs-12">
                  <span class="font-weight-medium u_link u_link-no-underline">
                    Learn More About Media Players
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 u_margin-lg-top">
      <p>
        Once you receive your Media Player plug in your Display and enter the Display ID below to activate it and show the content you’ve created!
      </p>
    </div>
  </div>

  <ng-include src="'partials/displays/display-id.html'"></ng-include>

  <emailed-instructions></emailed-instructions>

</div>
