<div id="preconfiguredPlayerPage">

  <div class="panel mb-0">

    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-lg">
            Don’t have a Media Player? No worries! Click the button below to buy a pre-configured one.
          </p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-xs-12">
          <a class="btn btn-primary w-100" id="purchasePlayerLink" href="https://www.thebookpc.com/risevision-s/97.htm" id="purchaseMediaPlayer" target="_blank">
            Buy A Recommended Media Player
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="text-lg">
            After you receive your Media Player and connect it to your Display, enter this Display ID when prompted:
          </p>
        </div>
      </div>

      <div class="alert alert-lighter-gray text-center mb-0">
        <strong id="displayIdField" class="display-id">{{display.id}}</strong>
      </div>

      <display-email></display-email>

    </div>

    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <button id="previousButton" type="submit" class="btn btn-default w-100" aria-label="Previous" tabindex="1" ng-click="setCurrentPage('displayAdded')">← Previous Step</button>
        </div>
      </div>
    </div>

  </div>

</div>
