<div id="userPlayerPage">

  <div class="panel mb-0">

    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-lg">
            To connect your Media Player to Rise Vision you need to download and install “Rise Player” on your Media Player.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 u_margin-sm-top">
          <p class="text-lg">
            <strong>Choose your operating system:</strong>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 u_margin-sm-top text-center">
            <div class="panel panel-default u_bordered-hover u_remove-bottom u_clickable">
              <a id="pickWindowsLink" href="#" ng-click="setCurrentPage('osDetailsWindows');">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <img src="../images/display-add/windows-logo.svg" height="60">
                    </div>
                  </div>
                  <div class="row u_margin-md-top">
                    <div class="col-xs-12">
                      <strong>
                        Windows
                      </strong>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-sm-3 u_margin-sm-top text-center">
            <div class="panel panel-default u_bordered-hover u_remove-bottom u_clickable">
              <a href="#" ng-click="setCurrentPage('osDetailsLinux')">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <img src="../images/display-add/ubuntu-logo.svg" height="60">
                    </div>
                  </div>
                  <div class="row u_margin-md-top">
                    <div class="col-xs-12">
                      <strong>
                        Linux
                      </strong>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-sm-3 u_margin-sm-top text-center">
            <div class="panel panel-default u_bordered-hover u_remove-bottom u_clickable">
              <a href="#" ng-click="setCurrentPage('osDetailsChromeOs')">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <img src="../images/display-add/chrome-os-logo.svg" height="60">
                    </div>
                  </div>
                  <div class="row u_margin-md-top">
                    <div class="col-xs-12">
                      <strong>
                        Chrome OS
                      </strong>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-sm-3 u_margin-sm-top text-center">
            <div class="panel panel-default u_bordered-hover u_remove-bottom u_clickable">
              <a href="#" ng-click="setCurrentPage('osDetailsRaspberryPi')">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <img src="../images/display-add/raspberry-pi-logo.svg" height="60">
                    </div>
                  </div>
                  <div class="row u_margin-md-top">
                    <div class="col-xs-12">
                      <strong>
                        Raspberry Pi
                      </strong>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
      </div>

    </div>

    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <button id="previousButton" type="submit" class="btn btn-default w-100" aria-label="Previous" tabindex="1" ng-click="setCurrentPage('displayAdded')">← Previous Step</button>
        </div>
      </div>
    </div>

  </div>

</div>
