<div id="presentationCTA" class="text-center">

    <h1 class="u_margin-lg-top">Let's Get Started</h1>

    <h3 class="text-muted" style="font-weight: 400" translate>Choose a popular template to start from or create your first presentation with a blank slate.</h3>

    <div class="u_margin-md-bottom u_margin-md-top" style="max-width: 800px; margin-left: auto; margin-right: auto">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/store/image-slide.png" alt="">
                        <p class="text-muted u_margin-md-bottom u_margin-md-top">
                            Full Screen Image
                        </p>
                        <a id="imageFromLauncher" href="/editor/workspace/new/?copyOf=758113f9-2b45-44a8-9a73-21e09492b92c" class="btn btn-block btn-primary">
                            Start with this Template
                        </a>
                    </div>
                </div><!--panel-->
            </div><!--col-->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/store/video-slide.png" alt="">
                        <p class="text-muted u_margin-md-bottom u_margin-md-top">
                            Full Screen Video
                        </p>
                        <a id="videoFromLauncher" href="/editor/workspace/new/?copyOf=60868bdb-b7cc-44d1-a53e-1cbd5aa70fe9" class="btn btn-block btn-primary">
                            Start with this Template
                        </a>
                    </div>
                </div><!--panel-->  
            </div><!--col-->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/store/blank-slide.png" alt="">
                        <p class="text-muted u_margin-md-bottom u_margin-md-top">
                            Blank Presentation
                        </p>
                        <a id="blankFromLauncher" ui-sref="apps.editor.workspace.artboard" class="btn btn-block btn-primary">
                            Start from Scratch
                        </a>
                    </div>
                </div><!--panel-->
            </div><!--col-->
        </div>
        <div class="text-center">
            <button id="presentationCTAButton" class="btn btn-default u_margin-md-top" ng-click="editorFactory.addPresentationModal()">
                More Templates
            </button>
        </div>
    </div>
</div>
