<div id="appLauncherContainer">
  <div class="container">

  <ng-include ng-show="!editorFactory.presentations.loadingItems && editorFactory.presentations.items.list.length === 0" src="'partials/launcher/add-presentation-cta.html'"></ng-include>
  
  <div ng-show="editorFactory.presentations.items.list.length > 0">
    <div class="text-right add-top add-bottom">
      <button id="helpToggleButton" class="btn btn-link" ng-click="toggleHelp()">{{'launcher.howToShow'|translate}}</button>
    </div>

    <div id="helpContainer" class="video-box add-bottom" ng-show="showHelp">
        <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/Animations/howitworks.gif">
    </div>

    <div class="row" ng-init="listLimit=10">

      <div class="col-sm-4" ng-controller="PresentationListController">
        <button id="presentationAddButton" class="btn btn-link pull-right visible-lg" ng-click="editorFactory.addPresentationModal()">{{'editor-app.list.actions.add' |translate}} <i class="fa fa-plus icon-right"></i></button>
        <h3><a ui-sref="apps.editor.list"><img src="https://s3.amazonaws.com/Rise-Images/Icons/presentations-icon.png" class="add-right"> {{'editor-app.list.title' |translate}}</a></h3>
        <button class="btn btn-default btn-sm btn-block hidden-lg" ng-click="editorFactory.addPresentationModal()">{{'editor-app.list.actions.add' |translate}} <i class="fa fa-plus icon-right"></i></button>
          <div id="presentationsList" class="scrollable-list" rv-spinner rv-spinner-key="presentation-list-loader" rv-spinner-start-active="1"> 

            <div class="text-center" ng-hide="factory.loadingItems || factory.items.list.length > 0">
            <h4 class="text-muted add-bottom add-top" translate>editor-app.list.noPresentations</h4>
                <button class="btn btn-primary btn-lg" ng-click="editorFactory.addPresentationModal()">{{'editor-app.list.actions.add' |translate}} <i class="fa fa-plus icon-right"></i></button>
            </div>

            <div class="list" ng-class="{'help-active' : showHelp}" ng-hide="factory.items.list.length == 0">
              <div class="list-item clickable" ng-repeat="presentation in factory.items.list" ui-sref="apps.editor.workspace.artboard({presentationId: presentation.id})">
                <h4>{{presentation.name}}</h4>
              </div><!--list-item-->
            </div>
          </div><!--scrollable-list-->
          <a id="presentationsViewAll" class="add-top add-bottom btn btn-default btn-block" ui-sref="apps.editor.list" ng-hide="factory.items.list.length == 0" translate>editor-app.list.viewAll</a>
      </div><!--col-->

      <div class="col-sm-4" ng-controller="schedulesList">
        <a id="scheduleAddButton" class="btn btn-link pull-right visible-lg" ui-sref="apps.schedules.add">{{ 'schedules-app.actions.new' | translate }} <i class="fa fa-plus icon-right"></i></a>
        <h3><a ui-sref="apps.schedules.list"><img src="https://s3.amazonaws.com/Rise-Images/Icons/schedules-icon.png" class="add-right"> {{'schedules-app.title' | translate}}</a></h3>
        <a class="btn btn-default btn-sm btn-block hidden-lg" ui-sref="apps.schedules.add">{{ 'schedules-app.actions.new' | translate }} <i class="fa fa-plus icon-right"></i></a>
          <div id="schedulesList" class="scrollable-list" rv-spinner rv-spinner-key="schedules-list-loader" rv-spinner-start-active="1"> 

            <div class="text-center" ng-hide="loadingSchedules || schedules.list.length > 0">
              <h4 class="text-muted add-bottom add-top" translate>schedules-app.list.noSchedules</h4>
              <button class="btn btn-primary btn-lg" ui-sref="apps.schedules.add">{{ 'schedules-app.actions.new' | translate }} <i class="fa fa-plus icon-right"></i></button>
            </div>

            <div class="list" ng-class="{'help-active' : showHelp}" ng-hide="schedules.list.length == 0">
              <div class="list-item clickable" ng-repeat="schedule in schedules.list" ui-sref="apps.schedules.details({scheduleId: schedule.id})">
                <h4>{{schedule.name}}</h4>
              </div><!--list-item-->
            </div>
          </div><!--scrollable-list-->
          <a id="schedulesViewAll" class="add-top add-bottom btn btn-default btn-block" ui-sref="apps.schedules.list" ng-hide="schedules.list.length == 0" translate>schedules-app.list.viewAll</a>
      </div><!--col-->

      <div class="col-sm-4" ng-controller="displaysList">
        <a id="displayAddButton" class="btn btn-link pull-right visible-lg" ui-sref="apps.displays.add" ng-click="launcherTracker('Add Display')">{{ 'displays-app.actions.new' | translate }} <i class="fa fa-plus icon-right"></i></a>
        <h3><a ui-sref="apps.displays.list"><img src="https://s3.amazonaws.com/Rise-Images/Icons/displays-icon.png" class="add-right"> {{ 'displays-app.title' | translate}}</a></h3>
        <a class="btn btn-default btn-sm btn-block hidden-lg" ui-sref="apps.displays.add" ng-click="launcherTracker('Add Display')">{{ 'displays-app.actions.new' | translate }} <i class="fa fa-plus icon-right"></i></a>
          <div id="displaysList" class="scrollable-list" rv-spinner rv-spinner-key="displays-list-loader" rv-spinner-start-active="1"> 
            <div class="text-center" ng-hide="loadingDisplays || displays.list.length > 0">
              <h4 class="text-muted add-bottom add-top" translate>displays-app.list.noDisplays</h4>
              <button class="btn btn-primary btn-lg" ui-sref="apps.displays.add" ng-click="launcherTracker('Add Display')">{{ 'displays-app.actions.new' | translate }} <i class="fa fa-plus icon-right"></i></button>
            </div>

            <div class="list" ng-class="{'help-active' : showHelp}" ng-hide="displays.list.length == 0">
              <div class="list-item clickable" ng-repeat="display in displays.list" ui-sref="apps.displays.details({displayId: display.id})">
                <h4>{{display.name}}</h4>
              </div><!--list-item-->
            </div>
          </div><!--scrollable-list-->
          <a id="displaysViewAll" class="add-top add-bottom btn btn-default btn-block" ui-sref="apps.displays.list" ng-hide="displays.list.length == 0" translate>displays-app.list.viewAll</a>
      </div><!--col-->
    </div><!--row-->    
  </div>

  <priority-support-banner></priority-support-banner>

  </div><!--container-->
</div><!--appLauncherContainer-->