<div id="appLauncherContainer" rv-spinner rv-spinner-key="launcher-loader" rv-spinner-start-active="1">

  <in-app-messages></in-app-messages>

  <ng-include ng-show="!launcherFactory.presentations.loadingItems && launcherFactory.presentations.list.length === 0 && !launcherFactory.presentations.apiError" src="'partials/launcher/get-started-cta.html'"></ng-include>
  
  <div ng-show="launcherFactory.presentations.list.length > 0 || launcherFactory.presentations.apiError">

    <weekly-templates></weekly-templates>

    <div class="row u_margin-md-top">

      <div class="col-sm-4">
        <button id="presentationAddButton" class="btn btn-link pull-right visible-lg" ng-click="editorFactory.addPresentationModal()">{{'editor-app.list.actions.add' |translate}} <i class="fa fa-plus icon-right"></i></button>
        <h3><a ui-sref="apps.editor.list"><img src="https://s3.amazonaws.com/Rise-Images/Icons/presentations-icon.png" class="u_margin-right">{{'editor-app.list.title' |translate}}</a></h3>
        <button class="btn btn-default btn-sm btn-block hidden-lg" ng-click="editorFactory.addPresentationModal()">{{'editor-app.list.actions.add' |translate}} <i class="fa fa-plus icon-right"></i></button>
          <div id="presentationsList" class="scrollable-list" rv-spinner rv-spinner-key="presentation-list-loader" rv-spinner-start-active="1"> 

            <div id="errorBox" ng-show="launcherFactory.presentations.apiError" class="text-danger u_padding-md" role="alert">
              <i class="fa fa-times icon-left"></i>
              <strong>{{launcherFactory.presentations.errorMessage}}</strong> {{launcherFactory.presentations.apiError}}
            </div>

            <div class="text-center" ng-hide="launcherFactory.presentations.loadingItems || launcherFactory.presentations.list.length > 0 || launcherFactory.presentations.apiError">
              <h4 class="text-muted u_margin-md-bottom u_margin-md-top" translate>editor-app.list.noPresentations</h4>
                  <button class="btn btn-primary btn-lg" ng-click="editorFactory.addPresentationModal()">{{'editor-app.list.actions.add' |translate}} <i class="fa fa-plus icon-right"></i></button>
            </div>

            <div class="list" ng-class="{'help-active' : showHelp}" ng-hide="launcherFactory.presentations.list.length == 0">
              <div class="list-item u_clickable" ng-repeat="presentation in launcherFactory.presentations.list" ng-click="openPresentation(presentation)">
                <h4>{{presentation.name}}</h4>
              </div><!--list-item-->
            </div>
          </div><!--scrollable-list-->
          <a id="presentationsViewAll" class="u_margin-md-top u_margin-md-bottom btn btn-default btn-block" ui-sref="apps.editor.list" ng-hide="launcherFactory.presentations.list.length == 0" translate>editor-app.list.viewAll</a>
      </div><!--col-->

      <div class="col-sm-4">
        <a id="scheduleAddButton" class="btn btn-link pull-right visible-lg" ui-sref="apps.schedules.add">{{ 'schedules-app.actions.new' | translate }} <i class="fa fa-plus icon-right"></i></a>
        <h3><a ui-sref="apps.schedules.list"><img src="https://s3.amazonaws.com/Rise-Images/Icons/schedules-icon.png" class="u_margin-right">{{'schedules-app.title' | translate}}</a></h3>
        <a class="btn btn-default btn-sm btn-block hidden-lg" ui-sref="apps.schedules.add">{{ 'schedules-app.actions.new' | translate }} <i class="fa fa-plus icon-right"></i></a>
          <div id="schedulesList" class="scrollable-list" rv-spinner rv-spinner-key="schedules-list-loader" rv-spinner-start-active="1"> 

            <div id="errorBox" ng-show="launcherFactory.schedules.apiError" class="text-danger u_padding-md" role="alert">
              <i class="fa fa-times icon-left"></i>
              <strong>{{launcherFactory.schedules.errorMessage}}</strong> {{launcherFactory.schedules.apiError}}
            </div>

            <div class="text-center" ng-hide="launcherFactory.schedules.loadingItems || launcherFactory.schedules.list.length > 0 || launcherFactory.schedules.apiError">
              <h4 class="text-muted u_margin-md-bottom u_margin-md-top" translate>schedules-app.list.noSchedules</h4>
              <button class="btn btn-primary btn-lg" ui-sref="apps.schedules.add">{{ 'schedules-app.actions.new' | translate }} <i class="fa fa-plus icon-right"></i></button>
            </div>

            <div class="list" ng-class="{'help-active' : showHelp}" ng-hide="launcherFactory.schedules.list.length == 0">
              <div class="list-item u_clickable" ng-repeat="schedule in launcherFactory.schedules.list" ui-sref="apps.schedules.details({scheduleId: schedule.id})">
                <h4>{{schedule.name}}</h4>
              </div><!--list-item-->
            </div>
          </div><!--scrollable-list-->
          <a id="schedulesViewAll" class="u_margin-md-top u_margin-md-bottom btn btn-default btn-block" ui-sref="apps.schedules.list" ng-hide="launcherFactory.schedules.list.length == 0" translate>schedules-app.list.viewAll</a>
      </div><!--col-->

      <div class="col-sm-4">
        <a id="displayAddButton" class="btn btn-link pull-right visible-lg" ng-click="displayFactory.addDisplayModal()">{{ 'displays-app.actions.new' | translate }} <i class="fa fa-plus icon-right"></i></a>
        <h3><a ui-sref="apps.displays.list"><img src="https://s3.amazonaws.com/Rise-Images/Icons/displays-icon.png" class="u_margin-right">{{ 'displays-app.title' | translate}}</a></h3>
        <a class="btn btn-default btn-sm btn-block hidden-lg" ng-click="displayFactory.addDisplayModal()">{{ 'displays-app.actions.new' | translate }} <i class="fa fa-plus icon-right"></i></a>
          <div id="displaysList" class="scrollable-list" rv-spinner rv-spinner-key="displays-list-loader" rv-spinner-start-active="1"> 

            <div id="errorBox" ng-show="launcherFactory.displays.apiError" class="text-danger u_padding-md" role="alert">
              <i class="fa fa-times icon-left"></i>
              <strong>{{launcherFactory.displays.errorMessage}}</strong> {{launcherFactory.displays.apiError}}
            </div>

            <div class="text-center" ng-hide="launcherFactory.displays.loadingitems || launcherFactory.displays.list.length > 0 || launcherFactory.displays.apiError">
              <h4 class="text-muted u_margin-md-bottom u_margin-md-top" translate>displays-app.list.noDisplays</h4>
              <button class="btn btn-primary btn-lg" ng-click="displayFactory.addDisplayModal()">{{ 'displays-app.actions.new' | translate }} <i class="fa fa-plus icon-right"></i></button>
            </div>

            <div class="list" ng-class="{'help-active' : showHelp}" ng-hide="launcherFactory.displays.list.length == 0">
              <div class="list-item u_clickable" ng-repeat="display in launcherFactory.displays.list" ui-sref="apps.displays.details({displayId: display.id})">
                <h4>{{display.name}}</h4>
              </div><!--list-item-->
            </div>
          </div><!--scrollable-list-->
          <a id="displaysViewAll" class="u_margin-md-top u_margin-md-bottom btn btn-default btn-block" ui-sref="apps.displays.list" ng-hide="launcherFactory.displays.list.length == 0" translate>displays-app.list.viewAll</a>
      </div><!--col-->
    </div><!--row-->    
  </div>

</div><!--appLauncherContainer-->
