<div class="app-launcher-wizard panel panel-default u_margin-md-top" ng-controller="GetStartedCtrl">
  <wizard-progress-bar number-of-steps="4" current-step="currentStep"></wizard-progress-bar>

  <div class="panel-body aligner">

    <div class="aligner-item" style="max-width: 100%">
        
        <div id="wizardStep1" class="app-launcher-wizard_step welcome-step aligner animated fadeIn" ng-show="currentStep === 1">
          <div class="app-launcher-wizard_image aligner-item">
            <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/UI/apps-wizard-ilustration-1.svg">
          </div><!--wizard-image-->
          <div class="app-launcher-wizard_text aligner-item">
            <h1>Welcome to Rise Vision</h1>
            <h2 class="u_margin-md-bottom">Professional Digital Signage in less than 5 minutes</h2>
            <button id="getStartedButton1" class="btn btn-lg btn-primary" ng-click="nextStep()"><span class="h4">Start Now</span></button>
          </div>
        </div>

        <div id="wizardStep2" class="app-launcher-wizard_step aligner animated fadeIn" ng-show="currentStep === 2">
          <div class="app-launcher-wizard_image aligner-item">
            <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/UI/apps-wizard-ilustration-2.svg">
          </div>
          <div class="app-launcher-wizard_text aligner-item">  
            <h4>Step 1:</h4>
            <h1>Create Your Content</h1>
            <h2>The first step is creating the content you will show. This content is called a Presentation. You can design it from scratch or use one of our 100+ Templates.</h2>
            <button id="getStartedButton2" class="btn btn-lg btn-primary" ng-click="nextStep()">Next</button>
          </div>
        </div>

        <div id="wizardStep3" class="app-launcher-wizard_step aligner animated fadeIn" ng-show="currentStep === 3">
          <div class="app-launcher-wizard_image aligner-item">
            <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/UI/apps-wizard-ilustration-3.svg">
          </div>
          <div class="app-launcher-wizard_text aligner-item">  
            <h4>Step 2:</h4>
            <h1>Set Up Your Display(s)</h1>
            <h2>Your Presentation will display on a TV or monitor that is connected to a Media Player that is running our Rise Player software.</h2>
            <button id="getStartedButton3" class="btn btn-lg btn-primary" ng-click="nextStep()">Next</button>
          </div>
        </div>

        <div id="wizardStep4" class="app-launcher-wizard_step aligner animated fadeIn" ng-show="currentStep === 4">
          <div class="app-launcher-wizard_image aligner-item">
            <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/UI/apps-wizard-ilustration-4.svg">
          </div>
          <div class="app-launcher-wizard_text aligner-item"> 
            <h1>Ready to get started?</h1>
            <h2>Add Your First Template</h2>
            <button  id="getStartedAddPresentation" class="btn btn-lg btn-primary" ng-click="editorFactory.addPresentationModal()">Add Template</button>
            <h2>Or read further into how Rise Vision works.</h2>
            <a class="btn btn-lg btn-default" target="_blank" href="https://help.risevision.com/hc/en-us/articles/115002868706-The-overview-how-does-this-work-">Learn More</a>
          </div>
        </div>

    </div><!--row-->

    
  
  </div><!--panel-body-->
</div>
