<div id="onboardingBar" class="container" ng-show="showOnboarding">
  <div class="arrow-steps hidden-xs u_margin-sm-top u_margin-sm-bottom">
    <div class="step completed">
      <span translate="common-header.onboarding.sign-up"></span>
      <span class="completed-tag" translate="common-header.onboarding.step-completed"></span>
    </div>
    <div id="onboardingAddPresentation" class="step" ng-class="{'current' : currentStep('addPresentation'), 'completed': addPresentationCompleted}">
      <span translate="common-header.onboarding.add-presentation"></span>
      <span id="onboardingAddPresentationButton" class="onboard-actions" ng-if="currentStep('addPresentation')">
        <button class="btn btn-sm btn-primary" ui-sref="apps.editor.add" translate="common-header.onboarding.add-presentation-cta">
        </button>
        <a class="btn btn-sm btn-primary" href="https://help.risevision.com/hc/en-us/articles/115002841803-Create-a-Presentation" target="_blank">
          <i class="fa fa-question u_icon-white"></i>
        </a>
      </span>
      <span class="completed-tag" ng-if="addPresentationCompleted" translate="common-header.onboarding.step-completed"></span>
    </div>
    <div id="onboardingAddDisplay" class="step" ng-class="{'current' : currentStep('addDisplay'), 'completed': addDisplayCompleted}">
      <span translate="common-header.onboarding.add-display"></span>
      <span class="onboard-actions" ng-if="currentStep('addDisplay')">
        <button id="onboardingAddDisplayButton" class="btn btn-sm btn-primary" ng-click="displayFactory.addDisplayModal()" translate="common-header.onboarding.add-display-cta">
        </button>
        <a class="btn btn-sm btn-primary" href="https://help.risevision.com/hc/en-us/articles/115002841943-Add-a-Display" target="_blank">
          <i class="fa fa-question u_icon-white"></i>
        </a>
      </span>
      <span class="completed-tag" ng-if="addDisplayCompleted" translate="common-header.onboarding.step-completed"></span>
    </div>
    <div id="onboardingActivateDisplay" class="step" ng-class="{'current' : currentStep('activateDisplay'), 'completed': activateDisplayCompleted}">
      <span translate="common-header.onboarding.activate-display"></span>
      <span class="onboard-actions" ng-if="currentStep('activateDisplay')">
        <button id="onboardingActivateDisplayButton" class="btn btn-sm btn-primary" ng-click="displayFactory.addDisplayModal(launcherFactory.displays.list[0])" translate="common-header.onboarding.activate-display-cta">
        </button>
        <a class="btn btn-sm btn-primary" href="https://help.risevision.com/hc/en-us/articles/115002841943-Add-a-Display" target="_blank">
          <i class="fa fa-question u_icon-white"></i>
        </a>
      </span>
      <span class="completed-tag" ng-if="activateDisplayCompleted" translate="common-header.onboarding.step-completed"></span>
    </div>
    <div class="step">
      <span>
        <b id="stepCount">{{stepCount}}</b> {{ 'common-header.onboarding.steps-remaining-' + (stepCount === 1 ? 'single' : 'plural') | translate }}
      </span>
    </div>
  </div>
</div>
