<div id="onboardingContainer" class="onboarding-container" rv-spinner rv-spinner-key="onboarding-loader" rv-spinner-start-active="1">
  <div class="app-header my-4">
      <!-- App Title -->
      <h1 class="app-header-title" id="title" translate>Get Started</h1>
  </div>

  <ul id="stepsTabs" class="nav nav-tabs nav-justified nav-tabs-justified">
      <li role="presentation" ng-class="{active : factory.isCurrentTab(1)}">
        <a href="" ng-click="factory.setCurrentTab(1)">
          <img ng-if="factory.isTabCompleted(1)" src="../images/onboarding/circle-checkmark.svg"/><img ng-if="!factory.isTabCompleted(1) && factory.isCurrentTab(1)" src="../images/onboarding/circle-number-one.svg"/><img ng-if="!factory.isTabCompleted(1) && !factory.isCurrentTab(1)" src="../images/onboarding/circle-number-one-blue.svg"/><strong>Pick a Template.</strong>
        </a>
      </li>
      <li role="presentation" ng-class="{active : factory.isCurrentTab(2)}">
        <a href="" ng-click="factory.setCurrentTab(2)">
          <img ng-if="factory.isTabCompleted(2)" src="../images/onboarding/circle-checkmark.svg"/><img ng-if="!factory.isTabCompleted(2) && factory.isCurrentTab(2)" src="../images/onboarding/circle-number-two.svg"/><img ng-if="!factory.isTabCompleted(2) && !factory.isCurrentTab(2)" src="../images/onboarding/circle-number-two-blue.svg"/><strong>Plug in your Display.</strong>
        </a>
      </li>
      <li role="presentation" ng-class="{active : factory.isCurrentTab(3)}">
        <a href="" ng-click="factory.setCurrentTab(3)">
          <img ng-if="factory.isTabCompleted(3)" src="../images/onboarding/circle-checkmark.svg"/><img ng-if="!factory.isTabCompleted(3) && factory.isCurrentTab(3)" src="../images/onboarding/circle-number-three.svg"/><img ng-if="!factory.isTabCompleted(3) && !factory.isCurrentTab(3)" src="../images/onboarding/circle-number-three-blue.svg"/><strong>Keep it interesting.</strong>
        </a>
      </li>
    </ul>
  <div class="panel panel-default nav-tabs-panel">
    <div class="panel-body madero-style">
      <div id="onboardingAddTemplate" class="animated fadeIn" ng-show="factory.isCurrentStep('addTemplate')">
        <div class="row">
          <div class="col-sm-12">
            <p class="text-lg">
              Welcome to the Rise Vision Get Started Guide! The first thing you need to do to start communicating better is to pick a Template.
            </p>
            <p class="text-lg">
              Pick from our most popular Templates:
            </p>
          </div>
        </div>

        <div class="row weekly-templates">
          <div class="u_margin-sm-top text-center">
            <div ng-if="featureBlankPresentation" class="col-sm-6 col-md-4 col-lg-3 col-centered u_margin-md-bottom">
              <div class="product-grid_item panel panel-default u_margin-sm-bottom">
                <figure class="product-grid_image" ui-sref="apps.editor.workspace.artboard">
                  <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/UI/blank-landscape.png" alt="add blank presentation">
                </figure> 
              </div>
              <button id="selectBlank" class="btn btn-default w-100" ui-sref="apps.editor.workspace.artboard">
                Pick This Template
              </button>
            </div>
            <ng-repeat ng-repeat="product in featuredTemplates">
              <div id="storeProduct" class="col-sm-6 col-md-4 col-lg-3 col-centered u_margin-md-bottom">
                <div class="product-grid_item panel panel-default u_margin-sm-bottom">
                  <figure class="product-grid_image" ng-click="select(product)">
                    <img ng-src="{{product.imageUrl}}" class="img-responsive" alt="{{product.name}}">
                  </figure> 
                </div>
                <button id="selectProduct" class="btn btn-default w-100" ng-click="select(product)">
                  Pick This Template
                </button>
              </div>
            </ng-repeat>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="panel mb-0">
              <div class="panel-body text-center">
                <p class="text-lg">
                  <strong>Don’t see what you’re looking for?</strong>
                </p>
                <p class="text-lg">
                  <a id="browse-templates" href="#" ng-click="editorFactory.addPresentationModal()">
                    Browse the Template Gallery
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div><!--onboardingAddTemplate-->

      <div id="onboardingTemplateAdded" class="animated fadeIn" ng-show="factory.isCurrentStep('templateAdded')">
        <div class="row">
          <div class="col-sm-12">
            <p class="text-lg">
              Great job! You’ve successfully picked a template. Proceed to the next step!
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 u_margin-sm-top">
            <button id="nextStep" class="btn btn-primary w-100" ng-click="factory.refresh()">
              Next Step →
            </button>
          </div>
        </div>
      </div><!--onboardingTemplateAdded-->

      <div id="onboardingTemplateNotAdded" class="animated fadeIn" ng-show="factory.isCurrentStep('templateNotAdded1') || factory.isCurrentStep('templateNotAdded2')">
        <div class="row">
          <div class="col-sm-12">
            <p class="text-lg">
              Oops, you need to select a Template first. Go back to the previous step.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 u_margin-sm-top">
            <button id="previousStep" class="btn btn-primary w-100" ng-click="factory.refresh()">
              ← Previous Step
            </button>
          </div>
        </div>
      </div><!--onboardingTemplateNotAdded-->

      <div id="onboardingAddDisplay" class="animated fadeIn" ng-if="factory.isCurrentStep('addDisplay') || factory.isCurrentStep('activateDisplay')">
        <onboarding-display-add download-only="factory.isCurrentStep('activateDisplay')"></onboarding-display-add>
      </div><!--onboardingAddDisplay-->

      <div id="onboardingDisplayActivated" class="animated fadeIn" ng-show="factory.isCurrentStep('displayActivated')">
        <div class="row">
          <div class="col-sm-12">
            <p class="text-lg">
              Excellent! You’ve successfully activated a Display. You’re making great progress. We’re proud of you! Proceed to the next step.
            </p>
          </div>
        </div><!--onboardingDisplayActivated-->

        <div class="row">
          <div class="col-sm-12 u_margin-sm-top">
            <button id="nextStep" class="btn btn-primary w-100" ng-click="factory.refresh()">
              Next Step →
            </button>
          </div>
        </div>
      </div><!--onboardingDisplayActivated-->

      <div id="onboardingDisplayNotActivated" class="animated fadeIn" ng-show="factory.isCurrentStep('displayNotActivated')">
        <div class="row">
          <div class="col-sm-12">
            <p class="text-lg">
              Oops, you need to activate a Display first. Go back to the previous step.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 u_margin-sm-top">
            <button id="nextStep" class="btn btn-primary w-100" ng-click="factory.refresh()">
              ← Previous Step
            </button>
          </div>
        </div>
      </div><!--onboardingDisplayNotActivated-->

      <div id="onboardingPlaybookSignup" class="animated fadeIn" ng-show="factory.isCurrentStep('promotePlaybook')">
        <div class="row">
          <div class="col-sm-12">
            <p class="text-lg">
              Okay, the last step is to keep it interesting. “Keep it interesting” means picking new Templates to put on 
              your Display each week. To do this, you need to subscribe to our Weekly Playbook email for fresh Template recommendations. 
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 u_margin-sm-top">
            <p class="text-lg">
              <strong>Want Template recommendations each week?</strong>
            </p>
          </div>
        </div>

      <div ng-init="playbookSignup = true">
        <div class="btn-group btn-group-justified hidden-xs">
          <button type="button" class="btn w-50" ng-click="playbookSignup = true" ng-class="{'btn-toggle-blue-off' : !playbookSignup, 'btn-toggle-blue-on' : playbookSignup}">
            <streamline-icon name="checkmark" ng-show="playbookSignup"></streamline-icon>
            Yes, sign me up.
          </button>
          <button type="button" class="btn w-50" ng-click="playbookSignup = false" ng-class="{'btn-toggle-blue-off' : playbookSignup, 'btn-toggle-blue-on' : !playbookSignup}">
            <streamline-icon name="checkmark" ng-show="!playbookSignup"></streamline-icon>
            No, don’t sign me up.
          </button>
        </div>
        <div class="btn-group-vertical btn-group-justified visible-xs">
          <button type="button" class="btn w-100" ng-click="playbookSignup = true" ng-class="{'btn-toggle-blue-off' : !playbookSignup, 'btn-toggle-blue-on' : playbookSignup}">
            <streamline-icon name="checkmark" ng-show="playbookSignup"></streamline-icon>
            Yes, sign me up.
          </button>
          <button type="button" class="btn w-100" ng-click="playbookSignup = false" ng-class="{'btn-toggle-blue-off' : playbookSignup, 'btn-toggle-blue-on' : !playbookSignup}">
            <streamline-icon name="checkmark" ng-show="!playbookSignup"></streamline-icon>
            No, don’t sign me up.
          </button>
        </div>
      </div>

        <div class="row">
          <div class="col-sm-12 u_margin-md-top">
            <button id="nextButton" type="submit" class="btn btn-primary w-100" aria-label="Next" tabindex="1" ng-click="factory.setPlaybookSignup(playbookSignup)">
              Next Step →
            </button>
          </div>
        </div>
      </div><!--onboardingPlaybookSignup-->

      <div id="onboardingPromoteTraining" class="animated fadeIn" ng-show="factory.isCurrentStep('promoteTraining')">
        <div class="row">
          <div class="col-sm-12">

            <p class="text-lg" ng-show="playbookSignup && !factory.alreadySubscribed">
              Done! You’re well on your way to communicating better.
            </p>
            <p class="text-lg" ng-show="!playbookSignup">
              Okay! Noted.
            </p>
            <p class="text-lg" ng-show="factory.alreadySubscribed">
              You’ve already subscribed to our Weekly Playbook email, so this step is done! “Keep it interesting” means
              picking new Templates to put on your Display each week. Our Weekly Playbook email gives you fresh Template recommendations.
            </p>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <p class="text-lg">
              Did you know we offer free training each week?
              <a href="https://www.risevision.com/webinars" target="_blank">Register for a free training webinar.</a>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 u_margin-sm-top">
            <p class="text-lg">
              <strong>Can’t wait? Watch a training video now!</strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div align="center" class="panel panel-default panel-thick-shadow embed-responsive embed-responsive-16by9">
              <video controls class="embed-responsive-item">
                <source src="https://storage.googleapis.com/risemedialibrary-7fa5ee92-7deb-450b-a8d5-e5ed648c575f/apps/Rise_Vision_Weekly_Training_Recording.mp4" type="video/mp4" />
              </video>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 u_margin-md-top">
            <button id="nextButton" type="submit" class="btn btn-primary w-100" aria-label="Take me to the Templates" tabindex="1" ui-sref="apps.editor.list">
              I'm finished - take me to the Templates.
            </button>
          </div>
        </div>
      </div><!--onboardingPromoteTraining-->

    </div><!--panel-body-->
  </div>

</div>
