<div class="priority-trial-cta" ng-show="showBanner">
	<span ng-click="closeBanner()" class="half-top add-right fa fa-times fa-lg pull-right clickable"></span>
	<div class="content-box-body">
		<img class="pull-left" src="https://s3.amazonaws.com/Rise-Images/Icons/support.png">
		<h3 translate>launcher.supportBanner.title</h3>
		<p translate>launcher.supportBanner.description</p>
		<button class="btn btn-lg btn-primary" ng-click="openPrioritySupport()">{{'launcher.supportBanner.callToAction' | translate}}</button>
	</div>