<div class="app-launcher-login">
	<div class="container">
		<div class="panel">
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div class="rise-logo"><img src="https://s3.amazonaws.com/Rise-Images/Website/rise-logo.svg"></div>
				</div>
				<div class="col-sm-8 col-xs-12">
					<h1 class="u_remove-top" translate>common.signUp</h1>
					<p class="lead text-muted" translate>launcher.createAccount</p>
					<button ng-controller="RegisterButtonCtrl" ng-click="register()" class="btn btn-danger btn-hg u_margin-md-bottom" translate>common.completeRegistration</button>
					<br>
					<p class="text-muted u_margin-md-top"><a id="sign-in-link" href="" ng-controller="SignOutButtonCtrl" ng-click="logout()" translate>common.signOut</a></p>
				</div><!--col-->
			</div><!--row-->					
		</div><!--panel-->	
	</div><!--container-->
</div><!--app-launcher-login-->
