<div class="alert alert-info mt-4" ng-if="inAppMessagesFactory.messageToShow">
  <div class="fa fa-times pull-right u_clickable" ng-click="inAppMessagesFactory.dismissMessage()" ng-if="inAppMessagesFactory.canDismiss()"></div>

  <confirm-email ng-if="inAppMessagesFactory.messageToShow === 'confirmEmail'"></confirm-email>

  <div ng-if="inAppMessagesFactory.messageToShow === 'pricingChanges'">
    We are making changes to our pricing.
    <a href="https://help.risevision.com/hc/en-us/community/posts/360047690291-Pricing-Change" class="alert-link" target="blank">
      Learn more about these changes and how they impact you here.
    </a>		
  </div>

  <div ng-if="inAppMessagesFactory.messageToShow === 'promoteTraining'">
    Learn how our weekly Template recommendations are used to keep content fresh and engaging, delegate content creation, and save up to 16 hours a week.
    <a href="https://zoom.us/webinar/register/7715669398564/WN_hm-H7ynHTq-7-QjHYF51Xg" class="alert-link" target="blank">
      Sign up for our free weekly training.
    </a>    
  </div>

</div>
