<div class="alert alert-info mt-4" ng-if="inAppMessagesFactory.messageToShow">
  <div class="fa fa-times pull-right u_clickable" ng-click="inAppMessagesFactory.dismissMessage()" ng-if="inAppMessagesFactory.canDismiss()"></div>

  <confirm-email ng-if="inAppMessagesFactory.messageToShow === 'confirmEmail'"></confirm-email>

  <div ng-if="inAppMessagesFactory.messageToShow === 'promoteTraining'">
    Learn how our weekly Template recommendations are used to keep content fresh and engaging, delegate content creation, and save up to 16 hours a week.
    <a href="http://risevision.com/webinars?utm_source=app&utm_medium=web&utm_campaign=in_app_training_notification" class="alert-link" target="_blank">
      Sign up for our free weekly training.
    </a>    
  </div>

</div>
