<div id="autoScheduleModal" class="modal-body text-center u_padding-lg" >
	<button class="close button-badge" ng-click="dismiss()"><i class="fa fa-times"></i></button>
	<br>
	<div class="add-top">
		<img class="animated pulse" src="https://s3.amazonaws.com/Rise-Images/Icons/schedule%402x.png" width="144">
	</div>
	<h2 class="remove-bottom" translate>editor-app.autoSchedule.congrats</h2> 
	<h3 class="modal-title" translate translate-values="{ presentationName: presentationName }">editor-app.autoSchedule.message</h3>

	<br>
	<h3 class="add-bottom" translate>editor-app.autoSchedule.areYouReady</h3>
		<button class="btn btn-primary btn-lg btn-block" ng-click="displayFactory.addDisplayModal(); dismiss()">{{ 'displays-app.actions.new' | translate }} <i class="fa fa-plus icon-right"></i></button>
		<button class="btn btn-default btn-lg btn-block" ng-click="dismiss()">{{ 'editor-app.autoSchedule.maybeLater' | translate }}</button>
</div>
