<div class="col-sm-6 col-md-4 col-lg-3" ng-if="factory.search.category === 'Templates' && !factory.loadingItems">
  <div class="product-grid_item panel panel-default">
    <figure class="product-grid_image u_clickable" ui-sref="apps.editor.workspace.artboard" ng-click="dismiss();">
      <img loading="lazy" class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/UI/blank-landscape.png" alt="add blank presentation"> 
    </figure><!--template-image-->
    <div class="product-grid_details">
      <div class="row">
        <div class="col-xs-8">
          <h4>{{'editor-app.storeProduct.templates.blank' | translate}}</h4>
        </div><!-- end col -->
        <div class="col-xs-4">
          <button class="btn btn-primary btn-sm btn-block" id="newPresentationButton" ui-sref="apps.editor.workspace.artboard" ng-click="dismiss();">
            Add
          </button>
        </div><!-- end col -->
      </div><!-- end row -->
      
    </div>
  </div><!--product-grid-item-->
</div>