<div class="workspace-sidebar-header">
  <h4 translate>editor-app.workspace.sidebar.title</h4>
</div>

<div class="editor-playlist workspace-sidebar-body">
  <div class="editor-playlist-item u_clickable placeholderFromSideBar" 
    ng-repeat="placeholder in factory.getPlaceholders() track by $index"
    tooltip="{{'editor-app.workspace.sidebar.placeholderTooltip' | translate}}" 
    tooltip-placement="bottom" 
    tooltip-append-to-body="true"
    tooltip-trigger="show"
    tooltip-class="cta-tooltip {{tooltipClasses}}"
    pop-on-event-enabled="editorFactory.presentation.placeholders.length > 0 && $index === 0"
    rv-popover>
    <div class="pull-right">
      <button class="btn btn-xs btn-default" id="duplicateButton" ng-click="factory.duplicatePlaceholder(placeholder)"><i class="fa fa-copy"></i></button>
      <button class="btn btn-xs btn-default" id="removeButton" ng-click="remove(placeholder)"><i class="fa fa-trash-o"></i></button>
    </div>
    <div id="manageLink" ng-click="manage(placeholder)">
      <p class="u_remove-bottom placeholder-item-name">{{placeholder.id}}</p>
    </div>
  </div><!--editor-playlist-item-->
  <div ng-hide="factory.getPlaceholders().length">
    <div class="panel-body">
      <p class="text-muted text-center u_remove-bottom" translate>editor-app.workspace.sidebar.no-placeholder</p>
    </div>
  </div>
</div>
