<div ng-controller="PresentationListController">
  <search-filter filter-config="filterConfig" search="search" do-search="factory.doSearch"></search-filter>
  <div class="panel u_margin-sm-top">
    <div class="scrollable-list" 
      scrolling-list="factory.load()"
      rv-spinner rv-spinner-key="presentation-list-loader"
      rv-spinner-start-active="1"
      >
      <table id="presentationListTable" class="table table--hover table--selector table--multiple-selector animated fadeIn">
        <thead class="table-header">
          <tr class="table-header__row">
            <th id="tableHeaderName" ng-click="factory.sortBy('name')" class="table-header__cell u_clickable">
              {{'editor-app.list.heading.name' | translate}}
              <!-- ngIf: search.sortBy == 'name' -->
              <i ng-if="search.sortBy == 'name'" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[search.reverse]"></i>
              <!-- end ngIf: search.sortBy == 'name' -->
            </th>
            <th id="tableHeaderStatus" class="table-header__cell text-right">
              {{'editor-app.list.heading.status' | translate}}
            </th>
          </tr>
        </thead>

        <tbody class="table-body">
          <tr class="table-body__row u_clickable" data-ng-click="togglePresentation(presentation);" data-ng-class="{'active' : isSelected(presentation.id)}" ng-repeat="presentation in factory.items.list">
            <td id="presentationName" class="table-body__cell">{{presentation.name}}</td>
            <td class="table-body__cell text-right"><span ng-class="{'text-danger': presentation.revisionStatus==1}">{{presentation.revisionStatusName | presentationStatus}}</span></td>
          </tr>
          <!-- If no presentation available -->
          <tr class="table-body__row" ng-show="factory.items.list.length === 0 && !search.query">
            <td colspan="3" class="text-center"><span translate>editor-app.list.empty</span></td>
          </tr>
          <!-- If no search results -->
          <tr class="table-body__row" ng-show="factory.items.list.length === 0 && search.query">
            <td colspan="3" class="text-center"><span translate>editor-app.list.no-results</span></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
