<div id="productDetailsModal" class="modal-body u_padding-lg">
  <button id="closeButton" type="button" class="close button-badge" ng-click="dismiss()" aria-hidden="true">
    <i class="fa fa-times"></i>
  </button>
  <div class="row">
    <div class="col-xs-12">
        <h3>{{product.name}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 col-xs-12">
      <p>{{ product.descriptionShort}}</p>
    </div>


    <div class="col-md-5 col-xs-12" rv-spinner rv-spinner-key="loading-price" rv-spinner-start-active="1">
      <a id="useProductButton" ng-if="canUseProduct" href="" class="btn btn-primary btn-lg btn-block" ng-click="select()">
      {{'editor-app.storeProduct.templates.start' | translate}} <i class="fa fa-plus icon-right"></i></a>
      <p id="pricingInfo" ng-if="!canUseProduct" class="template-pricing"><span>${{price}}</span> {{currencyName}} {{product.pricing[0].unit}}</p>
      <a id="viewInStoreButton"  ng-if="!canUseProduct" class="btn btn-primary btn-lg btn-block" href="{{storeUrl}}/product/{{product.productId}}/" target="_blank">
        {{'editor-app.goToStore.view' | translate}} <i class="fa fa-shopping-cart icon-right"></i>
      </a>
    </div>

  </div>

  <div class="video-box u_margin-md-top">
    <img class="img-responsive" ng-src="{{product.imageUrl}}">
  </div>
</div>
