<div id="productDetailsModal">
  <div class="modal-header"> <button id="closeButton" type="button" class="close" ng-click="dismiss()"> <i class="fa fa-times"></i> </button> 
    <h3 class="modal-title">{{product.name}}</h3>
  </div>

  <div class="row modal-body u_padding-lg">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <img class="img-responsive" ng-src="{{product.imageUrl}}">
        <p class="u_margin-md-top">{{product.descriptionShort}}</p>
        <p><a id="previewTemplate" ng-if="showPreviewLink" href="http://preview.risevision.com/?type=presentation&id={{product.rvaEntityId}}&showui=false" target="_blank" translate>editor-app.templatesLibrary.details.preview</a></p>
      </div>
      <div class="col-md-4 col-xs-12">
        <a id="useProductButton" href="" class="btn btn-primary btn-lg btn-block" ng-click="select()">
          {{'editor-app.storeProduct.templates.start' | translate}} <i class="fa fa-plus icon-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
