<div id="addStoreProductModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 id="storeModalTitle" class="modal-title">{{ 'editor-app.storeProduct.' + (factory.search.category === 'Content' ? 'content' : 'templates') + '.title' | translate }}</h3>
  </div>
  <div class="modal-body u_padding-lg" stop-event="touchend">
    <div class="align-center hidden-sm hidden-xs u_margin-md-bottom" ng-show="factory.search.category === 'Templates'">
      <div ng-controller="TemplateLibrarySubscriptionStatusController">
        <div ng-show="displayBanner">
          <a id="displayBanner" href="https://store.risevision.com/product/300/template-library-subscription" target="_blank">
              <img style="width: 900px; margin: 0 auto;" class="img-responsive" src="https://s3.amazonaws.com/Store-Products/Featured+Products/template_library/featured_1140x95.jpg">
          </a>
        </div>
        <div id="subscription-status" subscription-status custom-messages="editor-app.templatesLibrary.subscription"
            product-id="{{productId}}" product-code="{{productCode}}" company-id="{{companyId}}"
            ng-model="subscriptionStatus.result" show-store-modal="showStoreModal" expanded-format="true" custom-product-link="{{productLink}}">
        </div>
      </div>
    </div>

    <search-filter filter-config="filterConfig" search="search" do-search="factory.doSearch"></search-filter>

    <div class="template-filters u_margin-sm-bottom">
      <ul class="list-unstyled">
        <li ng-repeat="category in paymentCategories" ng-class="{ active : search.paymentCategory === category || !search.paymentCategory && category === 'all' }" ng-click="search.paymentCategory = category"><span>{{category}}</span></li>
      </ul>
    </div><!--template-filters-->

    <section id="productList" class="product-grid" 
        scrolling-list="factory.load()"
        rv-spinner rv-spinner-key="product-list-loader"
        rv-spinner-start-active="1">

      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3" ng-if="factory.search.category == 'Templates' && !factory.loadingItems">
          <div class="product-grid_item panel panel-default">
            <figure class="product-grid_image u_clickable" ui-sref="apps.editor.workspace.artboard" ng-click="dismiss();">
              <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/UI/blank-landscape.png" alt="add blank presentation"> 
            </figure><!--template-image-->
            <div class="product-grid_details">
              <div class="row">
                <div class="col-xs-8">
                  <h4>{{'editor-app.storeProduct.templates.blank' | translate}}</h4>
                  
                </div><!-- end col -->
                <div class="col-xs-4">

                  <button class="btn btn-primary btn-sm btn-block" id="newPresentationButton" ui-sref="apps.editor.workspace.artboard" ng-click="dismiss();">
                    Add
                  </button>
                </div><!-- end col -->
                <div class="col-xs-12">
                  <p class="text-muted">&nbsp;</p>
                </div>
              </div><!-- end row -->
              
            </div>
          </div>
        </div>
       
        <ng-repeat ng-repeat="product in factory.items.list | storePaymentCategory:search.paymentCategory">
          <div id="storeProduct" class="col-sm-6 col-md-4 col-lg-3" ng-click="select(product)">
            <div class="product-grid_item panel panel-default">

              <figure class="product-grid_image u_clickable">
                <img ng-src="{{product.imageUrl}}" class="img-responsive" alt="{{product.name}}">
              </figure> 

              <div class="product-grid_details">
                <div class="row">
                  <div class="col-xs-8">
                    <h4 id="productName">{{product.name | characters: 25}}</h4>
                    
                  </div><!--end col-->
                  <div class="col-xs-4">
                    <button ng-if="factory.search.category == 'Templates'" class="btn btn-primary btn-block btn-sm" id="{{product.name | slugify}}" ng-click="quickSelect(product); $event.stopPropagation()">Add</button>

                    <a ng-if="factory.search.category == 'Content'" class="btn btn-default btn-sm btn-block" ng-href="{{storeUrl}}/product/{{product.productId}}/" target="_blank" ng-click="$event.stopPropagation()"><i class="fa fa-info"></i></a>
                  </div><!--end col-->
                  <div class="col-xs-12">
                    <p id="status" class="text-muted">{{product.paymentTerms.toLowerCase() === 'free'? 'Free' : 'Premium'}} {{product.trialPeriod > 0 ? ' - '+product.trialPeriod+' Days Trial' : ''}}</p>
                  </div>
                </div><!--end row-->  
              </div><!-- end product-grid_details -->
            </div>
          </div>
        </ng-repeat>

      </div><!-- end row -->

    </section>

    <div id="suggestTemplate" class="text-center" ng-if="factory.search.category == 'Templates' && !factory.loadingItems">
      <h3 translate>editor-app.storeProduct.templates.cantFind</h3>
      <a translate href="https://docs.google.com/forms/d/1slHKxGxywkiSakMukDr4dMGLmhzhYhoU0F2BHP8FSd4/viewform" target="_blank">
        editor-app.storeProduct.templates.suggest
      </a>
    </div>

    <a id="addWidgetByUrl" class="btn btn-default" href="#" ng-click="addWidgetByUrl()" ng-if="factory.search.category == 'Content'">
      {{'editor-app.addWidget.title' | translate}} <i class="fa fa-code icon-right"></i>
    </a>    
    
  </div>
</div>
