<div id="addStoreProductModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 id="storeModalTitle" class="modal-title">{{ 'editor-app.storeProduct.' + (factory.search.category === 'Content' ? 'content' : 'templates') + '.title' | translate }}</h3>
  </div>
  <div class="modal-body u_padding-lg" stop-event="touchend">
    <search-filter filter-config="filterConfig" search="search" do-search="factory.doSearch"></search-filter>

    <section id="productList" class="product-grid" 
        scrolling-list="factory.load()"
        rv-spinner rv-spinner-key="product-list-loader"
        rv-spinner-start-active="1">

      <div class="professional-content panel panel-default u_margin-md-top">
        <div class="panel-body">
          <div class="product-grid">
            <div class="row">

              <ng-repeat ng-repeat="product in factory.items.list">
                <div id="storeProduct" class="col-sm-6 col-md-4 col-lg-3" ng-click="select(product)">
                  <div class="product-grid_item panel panel-default">

                    <figure class="product-grid_image u_clickable">
                      <img ng-src="{{product.imageUrl}}" class="img-responsive" alt="{{product.imageAlt || product.name}}">
                    </figure> 

                    <div class="product-grid_details">
                      <div class="row">
                        <div class="col-xs-8">
                          <h4 id="productName">{{product.name | characters: 25}}</h4>
                        </div><!--end col-->
                        <div class="col-xs-4">
                          <button class="btn btn-primary btn-block btn-sm" id="{{product.name | slugify}}" ng-click="quickSelect(product); $event.stopPropagation()">Add</button>
                        </div><!--end col-->
                      </div><!--end row-->  
                    </div><!-- end product-grid_details -->
                  </div>
                </div>
              </ng-repeat>

              <div class="col-sm-6 col-md-4 col-lg-3" ng-if="factory.search.category === 'Templates' && !factory.loadingItems">
                <div class="product-grid_item panel panel-default">
                  <figure class="product-grid_image u_clickable" ui-sref="apps.editor.workspace.artboard" ng-click="dismiss();">
                    <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/UI/blank-landscape.png" alt="add blank presentation"> 
                  </figure><!--template-image-->
                  <div class="product-grid_details">
                    <div class="row">
                      <div class="col-xs-8">
                        <h4>{{'editor-app.storeProduct.templates.blank' | translate}}</h4>
                      </div><!-- end col -->
                      <div class="col-xs-4">
                        <button class="btn btn-primary btn-sm btn-block" id="newPresentationButton" ui-sref="apps.editor.workspace.artboard" ng-click="dismiss();">
                          Add
                        </button>
                      </div><!-- end col -->
                    </div><!-- end row -->
                    
                  </div>
                </div><!--product-grid-item-->
              </div>

              <!-- If no search results -->
              <div class="col-sm-12" ng-show="factory.items.list.length === 0 && search.query && !factory.loadingItems">
                <div class="text-muted text-center u_padding-lg"><span translate>editor-app.storeProduct.content.noResults</span></div>
              </div>

            </div>
          </div>
        </div><!--panel-body-->
      </div><!--panel-->

    </section>

    <div id="suggestTemplate" class="text-center" ng-if="factory.search.category === 'Templates' && isEducationCustomer && !factory.loadingItems">
      <h3 translate>editor-app.storeProduct.templates.cantFind</h3>
      <a translate href="https://docs.google.com/forms/d/1slHKxGxywkiSakMukDr4dMGLmhzhYhoU0F2BHP8FSd4/viewform" target="_blank">
        editor-app.storeProduct.templates.suggest
      </a>
    </div>

    <a id="addWidgetByUrl" class="btn btn-default" href="#" ng-click="addWidgetByUrl()" ng-if="factory.search.category === 'Content'">
      {{'editor-app.addWidget.title' | translate}} <i class="fa fa-code icon-right"></i>
    </a>    
    
  </div>
</div>
