<div id="workspace" class="workspace" ng-class="{'hide-sidebar' : artboardFactory.hideSidebar()}" common-header-height>

  <toolbar class="workspace-toolbar" id="workspaceToolbar"></toolbar>

  <div class="workspace-wrapper">
    <sidebar class="workspace-sidebar" ng-class="{'show-ph-properties' : factory.placeholder}"></sidebar>
    <div class="workspace-board" workspace-element>
      <div id="editingModeView" ui-view></div>
    </div><!--editor-bg-->
  </div><!--workspace-wrapper-->

  <footer class="text-right editor-footer"></footer>

</div>
