<!-- Step 5 -->
<div id="checkout-review-purchase">
  <div id="errorBox" class="alert alert-danger" role="alert" ng-show="purchase.estimate.estimateError">
    <div class="row">
      <div class="col-xs-9">
        <p>
          <strong>Tax Estimate Error</strong> {{purchase.estimate.estimateError}}
        </p>
      </div>
      <div class="col-xs-3">
        <a class="btn btn-default btn-block" href="#" ng-click="factory.getEstimate()">
          Retry
        </a>
      </div>
    </div>
  </div>
  <div id="errorBox" class="alert alert-danger" role="alert" ng-show="purchase.checkoutError">
    <strong>Payment Error</strong> {{purchase.checkoutError}}
  </div>

  <div class="row">
    <div class="col-md-6 u_margin-sm-top">
      <h4 class="u_margin-sm-bottom">
        Purchasing For
      </h4>
        <span class="font-weight-bold">{{selectedCompany.name}}</span><br>
        Company ID: {{selectedCompany.id}}
    </div>
    <div class="col-md-6 u_margin-sm-top">
      <h4 class="u_margin-sm-bottom">
        Payment Method
        <button aria-label="Edit Payment Method" class="btn btn-default btn-xs" ng-click="setCurrentStep(2)" tabindex="1">Edit</button>
      </h4>
      <div ng-show="purchase.paymentMethods.paymentMethod === 'card'">
        <span class="font-weight-bold">{{purchase.paymentMethods.selectedCard.cardType}}</span>
        <br>{{purchase.paymentMethods.selectedCard.last4 | cardLastFour}}
        <br>Exp: {{purchase.paymentMethods.selectedCard.expMonth | paddedMonth}}/{{purchase.paymentMethods.selectedCard.expYear}}
      </div>
      <div ng-show="purchase.paymentMethods.paymentMethod === 'invoice'">
        <span class="font-weight-bold">Paying by Invoice</span>
        <br>Due Date: {{purchase.paymentMethods.invoiceDate | date: 'd-MMM-yyyy'}}
        <span ng-if="purchase.paymentMethods.purchaseOrderNumber">
          <br>Purchase Order Number: {{purchase.paymentMethods.purchaseOrderNumber}}
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 u_margin-sm-top">
      <h4 class="u_margin-sm-bottom">
        Billing Address
        <button aria-label="Edit Billing Address" class="btn btn-default btn-xs" ng-click="setCurrentStep(0)" tabindex="1">Edit</button>
      </h4>
        {{purchase.contact.firstName}} {{purchase.contact.lastName}}<br>
        {{purchase.contact.email}}<br>
        {{purchase.billingAddress.name}}<br>
        {{purchase.billingAddress.street}}<br> 
        <span ng-show="purchase.billingAddress.unit">
          {{purchase.billingAddress.unit}}
          <br>
        </span>
        {{purchase.billingAddress.city}}, <span ng-show="purchase.billingAddress.province">{{purchase.billingAddress.province}},</span> {{purchase.billingAddress.postalCode}}<br> 
        {{purchase.billingAddress.country | countryName}}
    </div>
    <div class="col-md-6 u_margin-sm-top">
      <h4 class="u_margin-sm-bottom">
        Shipping Address
        <button aria-label="Edit Shipping Address" class="btn btn-default btn-xs" ng-click="setCurrentStep(1)" tabindex="1">Edit</button>
      </h4>
        {{purchase.shippingAddress.name}}<br>
        {{purchase.shippingAddress.street}}<br> 
        <span ng-show="purchase.shippingAddress.unit">
          {{purchase.shippingAddress.unit}}
          <br>
        </span>
        {{purchase.shippingAddress.city}}, <span ng-show="purchase.shippingAddress.province">{{purchase.shippingAddress.province}},</span> {{purchase.shippingAddress.postalCode}}<br> 
        {{purchase.shippingAddress.country | countryName}}
    </div>
  </div>
  <br/>
  <hr class="u_margin-xs-top u_margin-xs-bottom">
  <div class="row">
    <div class="col-xs-8">
      <h4 class="u_margin-sm-bottom">
        Subscription Details
        <button aria-label="Edit Subscription Details" class="btn btn-default btn-xs" ng-click="setCurrentStep(-1)" tabindex="1">Edit</button>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-6 text-right">
      <p>
        {{purchase.plan.name}}<br>
          <span ng-show="purchase.estimate.couponAmount > 0">Education and Non-profit discount<br></span>
          <span ng-repeat="tax in purchase.estimate.taxes">
            {{tax.taxName}}<br>
          </span>
          Total Tax:
      </p>
      <span class="order-total">Order Total:</span>
    </div>
    <div class="col-sm-4 col-xs-6 text-right">
      <p>
          ${{purchase.estimate.subTotal}}<br>
          <span ng-show="purchase.estimate.couponAmount > 0">-${{purchase.estimate.couponAmount}}<br></span>
          <span ng-repeat="tax in purchase.estimate.taxes">
            ${{tax.taxAmount | number:2}}<br>
          </span>
          ${{purchase.estimate.totalTax | number:2}}
      </p>
      <span class="order-total">
        ${{purchase.estimate.total | number:2}}
        <span class="u_margin-left text-subtle">{{purchase.estimate.currency | uppercase}}</span>
      </span>
    </div>
  </div>
  <div class="row">
    <hr class="u_margin-sm-top">
  </div>

  <div class="row">
    <div class="col-xs-12 text-center u_margin-sm-bottom">
      <a id="showTaxExemption" href="#" aria-label="Are you Tax Exempt?" ng-click="showTaxExemptionModal()" ng-show="purchase.estimate.totalTax > 0 && !purchase.taxExemptionSent" tabindex="3" translate>Are you Tax Exempt?</a>
      <h5 ng-show="purchase.taxExemptionSent">Tax Exemption Submitted</h5>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 u_margin-md-bottom">
      <button id="payButton" class="btn btn-primary btn-hg btn-block" ng-click="completePayment()" tabindex="1" aria-label="Complete Payment">
        <span id="payLabel" ng-if="purchase.paymentMethods.paymentMethod === 'card'">Pay ${{purchase.estimate.total | number:2}} Now</span>
        <span id="invoiceLabel" ng-if="purchase.paymentMethods.paymentMethod === 'invoice'">Invoice Me ${{purchase.estimate.total | number:2}} Now</span>
      </button>
    </div>
  </div>
</div>
