<!-- Step 3 -->
<div id="checkout-shipping-address" class="address-editor">
  <form id="form.shippingAddressForm" role="form" class="u_margin-md-top" name="form.shippingAddressForm" autocomplete="on" novalidate>
    <div class="alert alert-danger" ng-show="form.shippingAddressForm.$submitted && form.shippingAddressForm.$invalid">
      Please complete the missing information below.
    </div>
    <div id="errorBox" class="alert alert-danger" role="alert" ng-show="shippingAddress.validationError">
      <strong>Address Validation Error</strong> {{shippingAddress.validationError}}
    </div>

    <!-- <div class="checkbox">
      <label><input type="checkbox">Same as Billing Address</label>
    </div> -->

    <address-form form-object="form.shippingAddressForm" address-object="shippingAddress"></address-form>

    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button id="backButton" aria-label="Go back to Billing Address" type="button" class="btn btn-default pull-left" ng-click="setPreviousStep()" ng-hide="finalStep" tabindex="2" translate>common.back</button>
        <button id="continueButton" type="submit" form="form.shippingAddressForm" class="btn btn-primary pull-right" aria-label="Continue to Payment Method" ng-click="validateAddress(shippingAddress, null, true)" tabindex="1" translate>common.continue</button>
      </div>
    </div>
  </form>
</div>
