<form>
  <div id="copyUrlModal" class="modal-body" stop-event="touchend" autofocus="autofocus">
    <input id="okCopyButton" type="submit" value="x" class="close" ng-click="cancel()" ng-hide="true"/>
    <button id="closeButton" type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
    <h5 class="u_ellipsis-lg span12 text-left">Link To "{{copyFile.name}}"</h5>
    <input type="text" class="form-control" id="copyUrlInput" value="{{copyUrl}}" autofocus="autofocus">
  </div>
</form>
