<div class="file-empty-state u_margin-md-top">
  <p class="u_margin-md-top" translate>storage-client.empty-state.no-uploads</p>
  <span> {{ 'storage-client.empty-state.select' | translate}} <b translate>storage-client.upload-files</b>, <b translate>storage-client.upload-folder</b>, {{ 'storage-client.empty-state.or' | translate}} <b translate>storage-client.new-folder</b>.</span>
  <br/><br/>
  <div ng-if="isMultipleFilesFoldersSelector">
    <div>
      <svg-icon p="riseWidgetFolder"></svg-icon>
      <span translate>storage-client.empty-state.select-folder</span>
    </div>
    <div>
      <svg-icon p="riseWidgetImageMulti"></svg-icon>
      <span translate>storage-client.empty-state.select-file</span>
    </div>
  </div>
</div>
