<div ng-controller="FileActionsController">
	<div id="files-toolbar" ng-hide="fileListStatus.code === 404">
		<div class="toolbar">
			<div class="icon-nav">
        <span ng-show="filesDetails.checkedItemsCount > 0">
          <span translate="storage-client.selected-items" translate-values="{ count: filesDetails.checkedItemsCount }"></span>
        </span>
				<button id="fileDownloadButton" type="button" class="btn btn-link" title="Download" ng-click="factory.downloadButtonClick()" ng-disabled="isDisabledDownloadButton()">
          <i class="fa fa-cloud-download fa-2x" ng-class="{ 'icon-gray': isDisabledDownloadButton() }"></i>
        </button>
        <button id="fileCopyUrlButton" type="button" class="btn btn-link" title="Copy Url" ng-click="factory.copyUrlButtonClick()" ng-hide="storageFactory.isTrashFolder()" ng-disabled="isDisabledCopyUrlButton()">
          <i class="fa fa-link fa-2x" ng-class="{ 'icon-gray': isDisabledCopyUrlButton() }"></i>
        </button>
				<button id="moveToTrashButton" type="button" class="btn btn-link" title="Move To Trash" ng-click="factory.trashButtonClick()" ng-show="!storageFactory.isTrashFolder()" ng-disabled="isDisabledTrashButton()">
          <i class="fa fa-trash-o fa-2x" ng-class="{ 'icon-gray': isDisabledTrashButton() }"></i>
        </button>
        <button id="restoreFromTrashButton" type="button" class="btn btn-link" title="Restore From Trash" ng-click="factory.restoreButtonClick()" ng-show="storageFactory.isTrashFolder()" ng-disabled="isDisabledRestoreButton()">
          <i class="fa fa-trash-o fa-2x" ng-class="{ 'icon-gray': isDisabledRestoreButton() }"></i>
          <i class="fa fa-share" ng-class="{ 'icon-gray': isDisabledRestoreButton() }"></i>
        </button>
				<button id="deleteForeverButton" type="button" class="btn btn-link" title="Delete"  ng-click="factory.deleteButtonClick()" ng-show="storageFactory.isTrashFolder()" ng-disabled="isDisabledDeleteButton()">
          <i class="fa fa-trash-o fa-2x" ng-class="{ 'icon-gray': isDisabledDeleteButton() }"></i>
        </button>
      </div>
    </div>
	</div>

  <div id="pendingOperationsPanel" ng-show="factory.pendingOperations.length > 0">
    <div>
      <div class="panel panel-info animated fadeInDown">
        <div class="panel-heading" ng-click="factory.isPOCollapsed = !factory.isPOCollapsed">
          <h3 class="panel-title">
            <span ng-hide="factory.pendingOperations[0].actionFailed">{{'storage-client.pending-' + factory.pendingOperations[0].action | translate}}...</span>
            <span ng-hide="!factory.pendingOperations[0].actionFailed">{{factory.statusDetails.message}}</span>
            <span class="collapse-control"><i class="fa" ng-class="{false: 'fa-chevron-up', true:'fa-chevron-down'}[!factory.isPOCollapsed]"></i></span>
          </h3>
        </div>
        <div class="panel-body" ng-show="!factory.isPOCollapsed">
          <table class="table">
            <tbody>
              <tr ng-repeat="item in factory.pendingOperations">
                <td ng-show="!item.actionFailed">{{'storage-client.pending-' + item.action | translate}}</td>
                <td ng-show="item.actionFailed">{{'storage-client.failed-' + item.action | translate}}</td>
                <td>{{item.name | trashItemFilter}}</td>
                <td>
                  <span class="text-danger" ng-click="factory.removePendingOperation(item)">
                    <i class="fa fa-times-circle-o"></i> <span translate="common.lremove"></span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
	<div class="content-box" ng-show="downloadFactory.activeFolderDownloads.length > 0">
	  <div class="content-box-body">
	    <div class="row" ng-repeat="folder in downloadFactory.activeFolderDownloads">
	      <div class="col-sm-12">
	        <span>
	          <i class="fa fa-file-archive-o"></i> {{folder.name}}
	        </span>
	        <a class="add-left" href="#" ng-click="downloadFactory.cancelFolderDownload(folder)"><span translate="common.cancel"></span></a>
	        <span class="text-muted add-left">
	          <i class="fa fa-spinner fa-spin fa-lg"></i> {{folder.currentFile}}
	        </span> 
	      </div>
	    </div>
	  </div>
	</div>
</div>
