<div class="panel half-top" ng-show="!trialAvailable">
  <div class="scrollable-list" 
  rv-spinner rv-spinner-key="storage-selector-loader"
  rv-spinner-start-active="1" >
    <ng-include src="'partials/storage/list-view.html'" ng-if="isListView"></ng-include>
    <ng-include src="'partials/storage/grid-view.html'" ng-if="!isListView"></ng-include>
    
    <ng-include src="'partials/storage/empty-state.html'" ng-show="!filesFactory.loadingItems && isEmptyState()"></ng-include>
  </div>	
</div>
