<div class="text-center text-muted u_margin-md-top u_margin-md-bottom" ng-if="filesDetails.files.length === 0 && statusDetails.code!==202 && statusDetails.code!==404 && isFileListVisible()" translate>storage-client.empty-state.no-uploads</div>

<div id="storageFilesGrid" class="grid-selector-list grid-selector-list_storage" ng-if="filesDetails.files.length > 0 && statusDetails.code!==202 && statusDetails.code!==404 && isFileListVisible()">

  <div thumbnail-image
   ng-repeat="file in filesDetails.files | filter:search.query | orderBy:search.sortBy:search.reverse track by $index"
   ng-click="fileClick(file)" 
   class="grid-selector-list-item" 
   ng-class="gridItemClasses"
   ng-if="storageFactory.storageFull || !storageUtils.fileIsTrash(file)" 
   title="{{file.name | fileNameFilter:filesFactory.folderPath}}{{ file.isThrottled? ' - '+('storage-client.error.blocked-file' | translate) : '' }}" data-toggle="tooltip" data-placement="top" tooltip>

    <img class="list-item-icon" ng-if="isSvg" loading="lazy" ng-src="{{imgSrc}}">
    
    <img ng-if="!isSvg" loading="lazy" ng-src="{{imgSrc}}"/>

    <div ng-if="!file.metadata.thumbnail || file.isThrottled" class="list-item-label">
      {{file.name | fileNameFilter:filesFactory.folderPath}}
    </div>
    
  </div><!--end grid-selector-list-item-->
  <div class="grid-selector-list-item list-item-placeholder"></div>
  <div class="grid-selector-list-item list-item-placeholder"></div>
  <div class="grid-selector-list-item list-item-placeholder"></div>
  <div class="grid-selector-list-item list-item-placeholder"></div>
  <div class="grid-selector-list-item list-item-placeholder"></div>
  <div class="grid-selector-list-item list-item-placeholder"></div>
  <div class="grid-selector-list-item list-item-placeholder"></div>
  <div class="grid-selector-list-item list-item-placeholder"></div>

</div>
