<div class="container storage-full" ng-controller="FilesListController">

	<div class="app-header row" ng-show="!trialAvailable">
		<div class="col-sm-5">
			<div class="title-block u_margin-sm-bottom">
				<h1 id="title" translate>storage-client.header</h1>
			</div>	
		</div>
		<div class="col-sm-7">
			<div class="pull-right">
				<ng-include src="'partials/storage/global-actions.html'"></ng-include>	
			</div>			
		</div>
	</div>
	
	<div ng-controller="SubscriptionStatusController">
		<div id="subscription-status" subscription-status
		product-id="{{productId}}" product-code="{{productCode}}" company-id="{{companyId}}"
		ng-model="subscriptionStatus.result" show-store-modal="showStoreModal" expanded-format="true"></div>
	</div>

	<ng-include src="'partials/storage/upload-panel.html'"></ng-include>
	
	<search-filter filter-config="filterConfig" search="search" do-search="search.doSearch" ng-show="isFileListVisible()"></search-filter>


	<div ng-controller="FileActionsController">
		<div class="row u_margin-md-top" ng-show="isFileListVisible()">
			<div class="col-md-6">
				<storage-breadcrumb></storage-breadcrumb>
			</div>
			<div class="col-md-6" ng-show="filesDetails.bucketExists">
				<ng-include src="'partials/storage/list-grid-toggle.html'"></ng-include>
				<div id="files-toolbar" ng-hide="fileListStatus.code === 404">
					<div class="pull-right">
						<span class="selected-count" ng-show="filesDetails.checkedItemsCount > 0">
							<span translate="storage-client.selected-items" translate-values="{ count: filesDetails.checkedItemsCount }"></span>
						</span>
						<div class="icon-nav">
							<ng-include src="'partials/storage/file-actions.html'"></ng-include>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ng-include src="'partials/storage/pending-operations-panel.html'"></ng-include>
	</div>


	<ng-include src="'partials/storage/files-list.html'"></ng-include>

	<ng-include src="'partials/storage/start-trial.html'" ng-show="trialAvailable"></ng-include>

</div>
