<div class="container storage-full" ng-controller="FilesListController">

	<div class="app-header">
		<div class="title-block"  ng-show="!trialAvailable">
			<h1 id="title" translate>storage-client.header</h1>
		</div>	
	</div>
	
	<div ng-controller="SubscriptionStatusController">
		<div id="subscription-status" subscription-status
		product-id="{{productId}}" product-code="{{productCode}}" company-id="{{companyId}}"
		ng-model="subscriptionStatus.result" show-store-modal="showStoreModal" expanded-format="true"></div>
	</div>

	<ng-include src="'partials/storage/global-actions.html'"></ng-include>

	<div class="add-top">
		<ng-include class="add-top" src="'partials/storage/upload-panel.html'"></ng-include>
	</div>
	

	<div ng-show="filesDetails.bucketExists">
   		<ng-include src="'partials/storage/file-actions.html'"></ng-include>
  	</div>

	<div class="row add-top" ng-show="!trialAvailable && isFileListVisible()">
		<div class="col-sm-6">
		  <ng-include src="'partials/storage/breadcrumb.html'"></ng-include>
		</div>
		<div class="col-sm-6">
		  <search-filter filter-config="filterConfig" search="search" do-search="search.doSearch"></search-filter>
		</div>
	</div>

	<ng-include src="'partials/storage/files-list.html'" ng-show="isFileListVisible()"></ng-include>

	<ng-include src="'partials/storage/empty-state.html'" ng-show="isEmptyState()"></ng-include>

	<ng-include src="'partials/storage/start-trial.html'" ng-show="trialAvailable"></ng-include>

</div>
