<div class="container storage-full" ng-controller="FilesListController">

	<div class="app-header my-4" ng-show="!trialAvailable">
		<h1 class="app-header-title" id="title" translate>storage-client.header</h1>
		
			<div class="ml-auto">
				<ng-include src="'partials/storage/global-actions.html'"></ng-include>	
			</div>			
		
	</div>
	
	<div ng-controller="SubscriptionStatusController">
		<div id="subscription-status" subscription-status
		product-id="{{productId}}" product-code="{{productCode}}" company-id="{{companyId}}"
		ng-model="subscriptionStatus.result" show-store-modal="showStoreModal" expanded-format="true" custom-on-click="showPlansModal()" custom-product-link="{{productLink}}"></div>
	</div>

	<upload files-factory="filesFactory"></upload>
	
	<search-filter filter-config="filterConfig" search="search" do-search="search.doSearch" ng-show="isFileListVisible()"></search-filter>

	<div>
		<div class="row u_margin-md-top" ng-show="isFileListVisible()">
			<div class="col-md-6">
				<storage-breadcrumb files-factory="filesFactory"></storage-breadcrumb>
			</div>
			<div class="col-md-6" ng-show="filesDetails.bucketExists">
				<ng-include src="'partials/storage/list-grid-toggle.html'"></ng-include>
				<div id="files-toolbar" ng-hide="fileListStatus.code === 404">
					<div class="pull-right">
						<selected-files-count checked-items-count="filesDetails.checkedItemsCount"></selected-files-count>
						<file-actions files-factory="filesFactory"></file-actions>
					</div>
				</div>
			</div>
		</div>
		<pending-operations></pending-operations>
	</div>


	<ng-include src="'partials/storage/files-list.html'"></ng-include>

	<ng-include src="'partials/storage/start-trial.html'" ng-show="trialAvailable"></ng-include>

</div>
