<table id="storageFileList" class="table table--hover table--selector" ng-class="storageFactory.isMultipleSelector() ? 'table--multiple-selector' : 'table--single-selector'" ng-show="filesDetails.code!==202 && filesDetails.code!==404 && isFileListVisible()">
  <thead class="table-header">
    <tr class="table-header__row u_clickable">
      <th class="col-sm-6 table-header__cell">
        <input type="checkbox" class="u_margin-right" ng-model="selectAll">
        <label ng-click="filesFactory.selectAllCheckboxes(search.query)" ng-show="storageFactory.isMultipleSelector()"></label>
        <span id="tableHeaderName" ng-click="sortBy(fileNameOrderFunction)">
          <span translate="common.file-name"></span>
          <!-- ngIf: search.sortBy = fileNameOrderFunction -->
          <i ng-if="search.sortBy === fileNameOrderFunction" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[search.reverse]"></i>
          <!-- end ngIf: search.sortBy = fileNameOrderFunction -->
        </span>
      </th>
      <th class="col-sm-2 table-header__cell hidden-xs" ng-click="sortBy(fileExtOrderFunction)" ng-if="!storageFactory.isFolderFilter()">
        <span translate="common.file-type"></span>
        <!-- ngIf: search.sortBy = fileExtOrderFunction -->
        <i ng-if="search.sortBy === fileExtOrderFunction" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[search.reverse]"></i>
        <!-- end ngIf: search.sortBy = fileExtOrderFunction -->
      </th>
      <th class="col-sm-2 table-header__cell visible-lg" ng-click="sortBy(fileSizeOrderFunction)" ng-if="!storageFactory.isFolderFilter()">
        <span translate="common.file-size"></span>
        <!-- ngIf: search.sortBy = fileSizeOrderFunction -->
        <i ng-if="search.sortBy === fileSizeOrderFunction" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[search.reverse]"></i>
        <!-- end ngIf: search.sortBy = fileSizeOrderFunction -->
      </th>
      <th class="col-sm-2 table-header__cell visible-lg" ng-click="sortBy(dateModifiedOrderFunction)" ng-if="!storageFactory.isFolderFilter()">
        <span translate="common.file-date-mod"></span>
        <!-- ngIf: search.sortBy = dateModifiedOrderFunction -->
        <i ng-if="search.sortBy === dateModifiedOrderFunction" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[search.reverse]"></i>
        <!-- end ngIf: search.sortBy = dateModifiedOrderFunction -->
      </th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr class="table-body__row"
    ng-click="fileClick(file);"
    ng-class="{'active': file.isChecked, 'table-body__row--blocked-file': file.isThrottled, 'table-body__row--no-select': !storageFactory.canSelect(file), 'table-body__row--disabled': storageFactory.isDisabled(file) }"
    ng-repeat="file in filesDetails.files | filter:search.query | orderBy:search.sortBy:search.reverse track by $index" 
    ng-if="!storageUtils.fileIsTrash(file) || storageFactory.storageFull">
      <td ng-if="storageUtils.fileIsFolder(file)" class="table-body__cell">
        <span class="folder"><strong>{{file.name | fileNameFilter:filesFactory.folderPath}}</strong></span>
      </td>
      <td ng-if="!storageUtils.fileIsFolder(file)" class="col-sm-6 table-body__cell">
        <span class="file" ng-class='{"throttled-type": file.isThrottled && !storageUtils.fileIsFolder(file)}'>
          <span class="u_ellipsis-lg" data-toggle="tooltip" title="{{file.name | fileNameFilter:filesFactory.folderPath}}">
            <i class="fa" ng-class='{"fa-exclamation": file.isThrottled && !storageUtils.fileIsFolder(file), "u_icon-red": file.isThrottled && !storageUtils.fileIsFolder(file)}'></i>
            <strong>{{file.name | fileNameFilter:filesFactory.folderPath}}</strong>
          </span>
        </span>
        <div ng-show="file.showThrottledCallout && !storageUtils.fileIsFolder(file)" class="callout callout-red" ng-click="$event.stopPropagation();file.showThrottledCallout=false;">
          <span class="arrow"></span>
          <p translate="storage-client.error.blocked-file"></p>
          <p translate="common.need-help"></p>
        </div>
      </td>
      <td class="col-sm-2 table-body__cell hidden-xs" ng-if="!storageFactory.isFolderFilter()">
        <span> {{file.name | fileTypeFilter}}</span>
      </td>
      <td class="col-sm-2 table-body__cell visible-lg" ng-if="!storageFactory.isFolderFilter()">
        <span> {{file.size | fileSizeFilter}}</span>
      </td>
      <td class="col-sm-2 table-body__cell visible-lg" ng-if="!storageFactory.isFolderFilter()">
        <span> {{file.updated.value | date:'d-MMM-yyyy h:mm a'}}</span>
      </td>
    </tr>
  </tbody>
</table>
