<table id="storageFileList" class="table table--hover table--selector" ng-class="storageFactory.isMultipleSelector() ? 'table--multiple-selector' : 'table--single-selector'" ng-show="filesDetails.code!==202 && filesDetails.code!==404 && isFileListVisible()">
  <thead class="table-header">
    <tr class="table-header__row u_clickable">
      <th class="col-sm-6 table-header__cell">
        <input type="checkbox" class="u_margin-right" ng-model="selectAll">
        <label ng-click="fileSelectorFactory.selectAllCheckboxes(query)" ng-show="storageFactory.isMultipleSelector()"></label>
        <span id="tableHeaderName" ng-click="orderByAttribute = fileNameOrderFunction; reverseSort = !reverseSort">
          <span translate="common.file-name" ></span>
          <span ng-show="orderByAttribute==fileNameOrderFunction">
            <span ng-show="reverseSort">
              <i class="fa fa-long-arrow-up"></i>
            </span>
            <span ng-show="!reverseSort">
              <i class="fa fa-long-arrow-down"></i>
            </span>
          </span>
        </span>
      </th>
      <th class="col-sm-2 table-header__cell hidden-xs" ng-click="orderByAttribute = fileExtOrderFunction; reverseSort = !reverseSort">
        <span translate="common.file-type"></span>
          <span ng-show="orderByAttribute==fileExtOrderFunction">
            <span ng-show="reverseSort">
              <i class="fa fa-long-arrow-up"></i>
            </span>
            <span ng-show="!reverseSort">
              <i class="fa fa-long-arrow-down"></i>
            </span>
          </span>
      </th>
      <th class="col-sm-2 table-header__cell visible-lg" ng-click="orderByAttribute = fileSizeOrderFunction; reverseSort = !reverseSort">
        <span translate="common.file-size"></span>
          <span ng-show="orderByAttribute==fileSizeOrderFunction">
            <span ng-show="reverseSort">
              <i class="fa fa-long-arrow-up"></i>
            </span>
            <span ng-show="!reverseSort">
              <i class="fa fa-long-arrow-down"></i>
            </span>
          </span>
      </th>
      <th class="col-sm-2 table-header__cell visible-lg" ng-click="orderByAttribute = dateModifiedOrderFunction; reverseSort = !reverseSort">
        <span translate="common.file-date-mod"></span>
          <span ng-show="orderByAttribute==dateModifiedOrderFunction">
            <span ng-show="reverseSort">
              <i class="fa fa-long-arrow-up"></i>
            </span>
            <span ng-show="!reverseSort">
              <i class="fa fa-long-arrow-down"></i>
            </span>
          </span>
      </th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr class="table-body__row"
    ng-click="fileClick(file);"
    ng-class="{'active': file.isChecked, 'table-body__row--blocked-file': file.isThrottled, 'table-body__row--no-select': !storageFactory.canSelect(file), 'table-body__row--disabled': storageFactory.isDisabled(file) }"
    ng-repeat="file in filesDetails.files | filter:search.query | orderBy:orderByAttribute:reverseSort track by $index" 
    ng-if="!storageFactory.fileIsTrash(file) || storageFactory.storageFull">
      <td ng-if="storageFactory.fileIsFolder(file)" class="table-body__cell">
        <span class="folder"><strong>{{file.name | fileNameFilter:storageFactory.folderPath}}</strong></span>
      </td>
      <td ng-if="!storageFactory.fileIsFolder(file)" class="col-sm-6 table-body__cell">
        <span class="file" ng-class='{"throttled-type": file.isThrottled && !storageFactory.fileIsFolder(file)}'>
          <span class="u_ellipsis" data-toggle="tooltip" title="{{file.name | fileNameFilter:storageFactory.folderPath}}">
            <i class="fa" ng-class='{"fa-exclamation": file.isThrottled && !storageFactory.fileIsFolder(file), "u_icon-red": file.isThrottled && !storageFactory.fileIsFolder(file)}'></i>
            <strong>{{file.name | fileNameFilter:storageFactory.folderPath}}</strong>
          </span>
        </span>
        <div ng-show="file.showThrottledCallout && !storageFactory.fileIsFolder(file)" class="callout callout-red" ng-click="$event.stopPropagation();file.showThrottledCallout=false;">
          <span class="arrow"></span>
          <p translate="storage-client.blocked-file"></p>
          <p translate="common.need-help"></p>
        </div>
      </td>
      <td class="col-sm-2 table-body__cell hidden-xs">
        <span> {{file.name | fileTypeFilter}}</span>
      </td>
      <td class="col-sm-2 table-body__cell visible-lg">
        <span> {{file.size | fileSizeFilter}}</span>
      </td>
      <td class="col-sm-2 table-body__cell visible-lg">
        <span> {{file.updated.value | date:'d-MMM-yyyy h:mm a'}}</span>
      </td>
    </tr>
  </tbody>
</table>