<div id="pendingOperationsPanel" class="u_margin-md-top" ng-show="factory.pendingOperations.length > 0">
  <div class="panel progress-panel animated fadeInDown">

    <div ng-click="factory.isPOCollapsed = !factory.isPOCollapsed">
      <div class="panel-header">
        <span class="collapse-control">
          <i class="fa" ng-class="{false: 'fa-chevron-up', true:'fa-chevron-down'}[!factory.isPOCollapsed]"></i>
        </span>
        <p>
          <span ng-hide="factory.pendingOperations[0].actionFailed">{{'storage-client.pending-operation.' + factory.pendingOperations[0].action | translate}}...</span>
          <span ng-hide="!factory.pendingOperations[0].actionFailed">{{factory.statusDetails.message}}</span>
        </p>
      </div>
    </div>

    <div class="panel-body" ng-show="!factory.isPOCollapsed">
      <table class="table">
        <tbody>
          <tr ng-repeat="item in factory.pendingOperations">
            <td ng-show="!item.actionFailed">{{'storage-client.pending-operation.' + item.action | translate}}</td>
            <td ng-show="item.actionFailed">{{'storage-client.pending-operation.failed.' + item.action | translate}}</td>
            <td>{{item.name | trashItemFilter}}</td>
            <td>
              <span class="text-danger" ng-click="factory.removePendingOperation(item)">
                <i class="fa fa-times-circle-o"></i> <span translate="common.lremove"></span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="panel progress-panel u_margin-md-top" ng-show="downloadFactory.activeFolderDownloads.length > 0">
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr ng-repeat="folder in downloadFactory.activeFolderDownloads">
          <td>
            <i class="fa fa-file-archive-o"></i> {{folder.name}}
          </td>
          <td>
            <span class="text-muted u_margin-left">
              <i class="fa fa-spinner fa-spin fa-lg"></i> {{folder.currentFile}}
            </span>
          </td>
          <td>
            <a class="u_margin-left" href="#" ng-click="downloadFactory.cancelFolderDownload(folder)"><span translate="common.cancel"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
