<div id="appLauncherContainer">
  <div class="container u_margin-md-top">

    <div class="alert alert-info">
        If you need to pause your account please contact <a href="mailto:support@risevision.com">support@risevision.com</a>.
    </div>

    <h2 class="u_margin-md-bottom">Account & Billing</h2>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Invoices</h3>
      </div>
      <div class="panel-body">
        <h4 style="display:none">Unpaid Invoices</h4>
        <a style="display:none" href="#">View Unpaid Invoices</a>
        <h4>Invoice History</h4>
        <ul class="list-unstyled">
          <li><a href="#" ng-click="viewPastInvoices()">View Past Invoices</a></li>
          <li><a href="#" ng-click="viewPastInvoicesStore()" ng-show="checkCreationDate()">View Past Invoices (Prior to September 2018)</a></li>
          <li><a href="#" ng-click="viewUnpaidInvoicesStore()" ng-show="hasUnpaidInvoices">View Unpaid Invoices (Prior to September 2018)</a></li>
        </ul>
      </div>
    </div><!--panel-->

    <div id="errorBox" ng-show="subscriptions.apiError" class="alert alert-danger" role="alert">
      <strong>{{subscriptions.errorMessage}}</strong> {{subscriptions.apiError}}
    </div>

    <div id="errorBoxChargebee" ng-show="chargebeeFactory.apiError" class="alert alert-danger" role="alert">
      <span ng-show="chargebeeFactory.apiError === 403">
        <span ng-show="currentPlan.parentPlanContactEmail" translate translate-values="{ parentPlanContactEmail: currentPlan.parentPlanContactEmail }">account-and-billing.errors.403-contact-email</span>
        <span ng-hide="currentPlan.parentPlanContactEmail" translate>account-and-billing.errors.403-no-contact-email</span>
      </span>
      <span ng-hide="chargebeeFactory.apiError === 403">{{chargebeeFactory.apiError}}</span>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Subscriptions</h3>
      </div>
      <div class="panel-body"
          scrolling-list="subscriptions.load()"
          rv-spinner rv-spinner-key="subscriptions-list-loader"
          rv-spinner-start-active="1">

        <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Subscription ID</th>
              <th>Subscription</th>
              <th>Ship To</th>
              <!-- <th>Total</th> -->
              <th colspan="2">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="subscriptions.items.list.length === 0">
              <td colspan="6" class="text-center">
                <span>You haven't Subscribed to any Products yet.</span>
              </td>
            </tr>

            <tr ng-repeat="subs in subscriptions.items.list" ng-hide="subs.quantity < 1">
              <td>{{subs.subscriptionId}}</td>
              <td class="font-weight-bold">{{getSubscriptionDesc(subs)}}</td>
              <td>{{subs.shipToName}}</td>
              <!-- <td>${{getSubscriptionPrice(subs) | number:2}}</td> -->
              <td>
                <span class="label" ng-class="{ 'label-success': isActive(subs), 'label-warning': isSuspended(subs) || isCancelled(subs) }">
                  {{subs.status}}
                </span>
              </td>
              <td>
                <a href="#" ng-click="editSubscription(subs)" ng-if="subs.billToId === company.id">Edit</a>
                <span ng-if="subs.billToId !== company.id">Managed by Parent</span>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Payment Methods</h3>
      </div>
      <div class="panel-body">
        <a href="#" ng-click="editPaymentMethods()">Edit Payment Methods</a>
      </div>
    </div><!--panel-->

    <div class="panel panel-default" require-role="ua">
      <div class="panel-heading">
        <h3 class="panel-title">Account Information</h3>
      </div>
      <div class="panel-body">
        <p class="font-weight-bold">Billing Notifications Email</p>
        <span class="text-muted u_margin-right" ng-show="company.billingContactEmails">{{company.billingContactEmails.join(', ')}}</span>
        <span class="text-muted u_margin-right" ng-show="!company.billingContactEmails">Not set. Please enter a billing email.</span>
        <a href="#" ng-click="companySettingsFactory.openCompanySettings()">Edit</a>
      </div>
    </div>
  </div><!--container-->
</div><!--appLauncherContainer-->
