<div class="attribute-editor-component video-component-settings"
  ng-show="showSettingsUI()"
>
  <div class="attribute-editor-row">
    <div class="video-component-volume">
      <label>Volume</label>
      <div class="row">
        <div class="col-xs-12">
          <input min="0" max="100" type="range"
            ng-model="values.volume"
            ng-change="saveVolume()"
          >
        </div>
      </div>
      <p class="range-value">{{ values.volume }}</p>
    </div>

    <p class="mt-3">
      Your video(s) won't be shown in preview but will play on your Display.
    </p>
  </div>
</div>

<div class="video-component-list file-component-list te-scrollable-container"
     rv-spinner rv-spinner-key="template-editor-loader"
     rv-spinner-start-active="1"
     ng-class="{ 'not-empty': selectedFiles.length > 0 }"
>
  <div rv-sortable on-sort="sortItem(evt)" append-to=".component-container" class="sortable-list">

    <template-editor-file-entry
       ng-repeat="file in selectedFiles track by $index"
       ng-show="showSettingsUI()"
       entry="file"
       file-type="video"
       remove-action="removeFileFromList"
       show-grip-handle="selectedFiles.length > 1">
    </template-editor-file-entry>
  </div>

  <template-editor-empty-file-list file-type="video"
     ng-hide="isUploading || selectedFiles.length !== 0 || factory.loadingPresentation">
  </template-editor-empty-file-list>

  <basic-uploader uploader-id="video-list-uploader"
     upload-manager="uploadManager"
     valid-extensions="validExtensions"
     valid-type="video"
     ng-show="isUploading">
  </basic-uploader>
</div>

<div class="file-component-list-action-button-bar">
  <div class="upload-files">
    <label id="video-list-uploader-label"
      class="btn btn-default btn-block"
      for="video-list-uploader"
      ng-disabled="isUploading"
    >
      <strong>Upload Videos</strong>
    </label>
  </div>
  <div class="select-from-storage">
    <button id="video-list-storage-button" class="btn btn-default btn-block" ng-click="selectFromStorage()" ng-disabled="isUploading">
      <strong>Select From Storage</strong>
    </button>
  </div>
</div>
