<company-buttons
  ng-show="isRiseVisionUser"
  ng-controller="CompanyButtonsCtrl"
></company-buttons>

<ul>
  <li ng-show="isRiseVisionUser">
    <a href="" ng-click="alertSettings()" class="alert-settings-button action">
      <i class="fa fa-bullhorn"></i>
      <span class="item-name">Alert Settings</span>
    </a>
  </li>

  <li ng-show="isRiseVisionUser">
    <a href="" ng-click="userSettings()" class="user-settings-button action">
      <i class="fa fa-user"></i>
      <span class="item-name">User Settings</span>
    </a>
  </li>

  <li ng-show="isRiseVisionUser">
    <a href="https://store.risevision.com/account" target="_blank" class="store-account-button action" link-cid ng-show="!isChargebee()">
      <i class="fa fa-shopping-cart"></i>
      <span class="item-name">Account & Billing</span>
    </a>
    <a ui-sref="apps.billing.home" link-cid class="store-account-button action" ng-if="isChargebee() && isApps()">
      <i class="fa fa-shopping-cart"></i>
      <span class="item-name">Account & Billing</span>
    </a>
    <a href="https://apps.risevision.com/billing" target="_blank" class="store-account-button action" link-cid ng-show="isChargebee() && !isApps()">
      <i class="fa fa-shopping-cart"></i>
      <span class="item-name">Account & Billing</span>
    </a>
  </li>

  <span ng-if="isLoggedIn && !isRiseVisionUser" class="google-account" class="username">{{username}}</span>

  <li class="dropdown-footer text-right" ng-show="isLoggedIn">
    <button class="sign-out-button btn btn-sm btn-default u_margin-sm-bottom" ng-controller="SignOutButtonCtrl" ng-click="logout()">Sign Out<i class="fa fa-sign-out icon-right"></i>
  </li>
</ul>
