<div rv-spinner rv-spinner-key="registration-modal" rv-spinner-start-active="1">
  <div class="modal-header">
    <h2 class="modal-title">One last step!</h2>
  </div>
  <div id="registration-modal" class="modal-body" stop-event="touchend">
    
    <form id="forms.registrationForm" novalidate role="form" name="forms.registrationForm" autocomplete="on">
      <div class="row">
        <div class="col-xs-12">
          Help us personalize your experience.
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 u_margin-md-top">
          <!-- First Name -->
          <div class="form-group" ng-class="{ 'has-error' : forms.registrationForm.firstName.$invalid && !forms.registrationForm.firstName.$pristine }">
            <label for="firstName">First name *</label>
            <input type="text" class="form-control firstName" name="firstName" id="firstName" autocomplete="fname" aria-required="true" tabindex="1" ng-model="profile.firstName" autofocus required>
            <p ng-show="forms.registrationForm.firstName.$invalid && !forms.registrationForm.firstName.$pristine"
              class="help-block validation-error-message-first-name">Enter first name.</p>
          </div>

          <!-- Last Name -->
          <div class="form-group" ng-class="{ 'has-error' : forms.registrationForm.lastName.$invalid && !forms.registrationForm.lastName.$pristine }">
            <label for="lastName">Last name *</label>
            <input type="text" class="form-control lastName" name="lastName" id="lastName" autocomplete="lname" aria-required="true" tabindex="1" ng-model="profile.lastName" required>
            <p ng-show="forms.registrationForm.lastName.$invalid && !forms.registrationForm.lastName.$pristine"
              class="help-block validation-error-message-last-name">Enter last name.</p>
          </div>

          <!-- Organization -->
          <div class="form-group" ng-class="{'has-error': forms.registrationForm.companyName.$invalid && !forms.registrationForm.companyName.$pristine}" ng-show="newUser">
            <label for="companyName">Organization *</label>
            <input type="text" class="form-control companyName" name="companyName" id="companyName" tabindex="1" aria-required="true" ng-model="company.name" ng-required="newUser">
            <p ng-show="forms.registrationForm.companyName.$invalid && !forms.registrationForm.companyName.$pristine"
              class="help-block validation-error-message-company-name">Enter organization.</p>
          </div>

          <!-- Phone Number -->
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" tabindex="1" ng-model="profile.telephone">
          </div>

          <!-- Industry -->
          <div class="form-group" ng-class="{'has-error': forms.registrationForm.companyIndustry.$invalid && !forms.registrationForm.companyIndustry.$pristine}" ng-show="newUser">
            <label for="companyIndustry">Tell us your Industry to help us make your Display look great *</label>
            <select class="form-control selectpicker companyIndustry" name="companyIndustry" id="companyIndustry" tabindex="1" aria-required="true" ng-model="company.companyIndustry" ng-required="newUser">
              <option value="" ng-show="false">&lt; Select Industry &gt;</option>
              <option class="companyIndustryOption"
                ng-repeat="industry in DROPDOWN_INDUSTRY_FIELDS | orderBy:industry[0]" value="{{industry[1]}}">{{industry[0]}}
              </option>
            </select>
            <p ng-show="forms.registrationForm.companyIndustry.$invalid && !forms.registrationForm.companyIndustry.$pristine"
              class="help-block validation-error-message-company-industry">Select an Industry.</p>
          </div>

          <!-- Newsletter -->
          <newsletter-signup ng-model="profile.mailSyncEnabled" company-industry="company.companyIndustry"></newsletter-signup>

          <!-- Terms of Service and Privacy -->
          <div class="form-group">
            <div class="checkbox" ng-class="{ 'has-error' : forms.registrationForm.accepted.$invalid && !userForm.accepted.$pristine }">
              <label for="accepted">
                <input type="checkbox" id="accepted" name="accepted" class="accept-terms-checkbox" ng-model="profile.accepted" tabindex="1" required />
                <span>
                   I accept the 
                   <a href="https://help.risevision.com/hc/en-us/articles/360000924446-Terms-of-Service" target="_blank" tabindex="1">Terms of Service</a> 
                   and 
                   <a href="https://help.risevision.com/hc/en-us/articles/360000915023-Privacy-Policy" target="_blank" tabindex="1">Privacy Policy</a> *
                </span
              </label>
              <p class="help-block validation-error-message-accepted" ng-show="forms.registrationForm.accepted.$invalid && !forms.registrationForm.accepted.$pristine">
                You must accept the terms and conditions.
              </p>
            </div>
          </div>
        </div>
      </div>

    </form>

  </div> <!-- //Modal Body -->

  <div class="modal-footer"> 
    <!-- buttons -->
    <div class="row">
      <div class="col-xs-12 u_margin-sm-top">
        <button id="createAccount" type="submit" aria-label="Create Account" tabindex="1" form="forms.registrationForm" class="btn btn-lg btn-success btn-block registration-save-button" ng-click="save()" ng-disabled="registering">
          Create Account <i class="fa fa-white fa-check icon-right"></i>
        </button>
      </div>
    </div>
  </div>

</div>
