<div rv-spinner="spinnerOptions"
rv-spinner-key="user-settings-modal"
rv-spinner-start-active="1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
      <i class="fa fa-times"></i>
    </button>
    <h2 id="user-settings-label" class="modal-title">
    <span ng-if="!isAdd">User Settings</span>
    <span ng-if="isAdd">Add User</span>
    </h2>
  </div>
  <div class="modal-body user-settings-modal" stop-event="touchend">
    <div ng-if="isAdd" class="alert alert-info">
      A Google account is no longer required by users being added to your Company. Any email address can be used!
    </div>
    <form id="forms.userSettingsForm" role="form" novalidate name="forms.userSettingsForm">
      <div id="passwordAlert" class="animated" ng-if="editingYourself && !isAdd" ng-show="!isRiseAuthUser && showChangePassword" ng-class="{ 'fadeIn': showChangePassword }">
        <div class="panel-body bg-info u_margin-sm-bottom">
          <p class="u_remove-bottom">
            <span>This account is authenticated by Google.<br/>
            <a href="https://myaccount.google.com/security#signin" target="_blank">Change your password on your Google account.</a></span>
          </p>
        </div>
      </div>
      <div class="form-group"
        ng-class="{ 'has-error' : forms.userSettingsForm.username.$invalid && (!forms.userSettingsForm.username.$pristine || forms.userSettingsForm.$submitted) }"
        ng-if="isAdd">
        <label>
          Username *
        </label>
        <input id="user-settings-username"
          type="email" required name="username"
          class="form-control"
          ng-model="user.username"
          />
          <p ng-show="forms.userSettingsForm.username.$invalid && (!forms.userSettingsForm.username.$pristine || forms.userSettingsForm.$submitted)"
            class="help-block validation-error-message-email">User name must be a valid email address.</p>
      </div>
      <div class="row" ng-if="!isAdd">
        <div class="col-xs-6">
          <div class="form-group">
            <label>
              Username *
            </label>
            <div>
              <span id="user-settings-username-label">{{user.username}}</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 text-right">
          <span ng-if="editingYourself && isUserAdmin">
            <a href="" class="btn btn-default btn-sm change-password" ng-click="toggleChangePassword()">Change password</a>
          </span>
        </div>
      </div>
      <div id="passwordForm" class="animated" ng-if="editingYourself && !isAdd && isRiseAuthUser && showChangePassword" ng-class="{ 'fadeIn': showChangePassword }">

        <password-input 
          id="user-settings-current-password"
          name="currentPassword"
          ng-model="userPassword.currentPassword"
          label="Current Password *"
          placeholder="Enter Current Password"
          required>
        </password-input>
      
        <password-input 
          name="newPassword"
          label="New Password *"
          placeholder="Enter New Password"
          ng-model="userPassword.newPassword"
          show-password-meter="true" minlength="4" required>
        </password-input>
        <hr />
      </div>
      <div class="form-group"
        ng-class="{ 'has-error' : forms.userSettingsForm.firstName.$invalid && (!forms.userSettingsForm.firstName.$pristine || forms.userSettingsForm.$submitted) }">
        <label for="user-settings-first-name">
          First Name *
        </label>
        <input id="user-settings-first-name"
          type="text" required name="firstName"
          class="form-control"
          ng-model="user.firstName"
          />
          <p ng-show="forms.userSettingsForm.firstName.$invalid && (!forms.userSettingsForm.firstName.$pristine || forms.userSettingsForm.$submitted)"
            class="help-block validation-error-message-firstName">First Name is required.</p>
      </div>
      <div class="form-group"
        ng-class="{ 'has-error' : forms.userSettingsForm.lastName.$invalid && (!forms.userSettingsForm.lastName.$pristine || forms.userSettingsForm.$submitted) }">
        <label for="user-settings-last-name">
          Last Name *
        </label>
        <input id="user-settings-last-name"
          type="text" required name="lastName"
          class="form-control"
          ng-model="user.lastName"
          />
          <p ng-show="forms.userSettingsForm.lastName.$invalid && (!forms.userSettingsForm.lastName.$pristine || forms.userSettingsForm.$submitted)"
            class="help-block validation-error-message-lastName">Last Name is required.</p>
      </div>
      <div class="form-group">
        <label for="company-role">
          Company Role
        </label>
        <select id="company-role" class="form-control selectpicker" ng-model="user.companyRole">
          <option value="" ng-show="false">&lt; Select Role &gt;</option>
          <option ng-repeat="role in COMPANY_ROLE_FIELDS" value="{{role[1]}}">{{role[0]}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="user-settings-phone">
          Phone Number
        </label>
        <input
          id="user-settings-phone"
          type="tel"
          name="phone"
          class="form-control"
          ng-model="user.telephone"
           />
      </div>
      <div class="form-group"
        ng-class="{ 'has-error' : forms.userSettingsForm.email.$invalid && (!forms.userSettingsForm.email.$pristine || forms.userSettingsForm.$submitted) }">
        <label for="user-settings-email">
          Email *
        </label>
        <input
          id="user-settings-email"
          type="email" required name="email"
          class="form-control"
          ng-model="user.email"
          />
          <p ng-show="forms.userSettingsForm.email.$invalid && (!forms.userSettingsForm.email.$pristine || forms.userSettingsForm.$submitted)"
            class="help-block validation-error-message-email">A valid email address is required.</p>
      </div>
      <div class="form-group">
        <label>
          Roles
        </label>
        <div class="checkbox" ng-repeat="role in availableRoles"
          ng-show="editRoleVisible(role)">
          <label>
            <input type="checkbox"
              id="user-settings-{{role.key}}"
              checklist-model="user.roles"
              ng-disabled="!editRoleAllowed(role)"
              checklist-value="role.key"> {{role.name}}
          </label>
        </div>
      </div>
      <div class="form-group" ng-if="user.lastLogin">
        <label>
          Last Login
        </label>
        <div>{{user.lastLogin | date:'d-MMM-yyyy h:mm a'}}</div>
      </div>
      <div class="form-group" ng-if="!editingYourself && !isAdd">
        <label for="user-settings-status">
          Status
        </label>
        <select id="user-settings-status"
          class="form-control selectpicker" ng-model="user.status" integer-parser>
          <option value="1">Active</option>
          <option value="0">Inactive</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <p class="text-right"><last-modified change-date="user.changeDate" changed-by="user.changedBy"></last-modified></p>
    <button type="button" id="delete-button" class="btn btn-danger btn-fixed-width pull-left"
      ng-if="!isAdd && isUserAdmin" ng-click="deleteUser()">
      Delete <i class="fa fa-white fa-trash-o icon-right"></i>
    </button>
    <div class="pull-right">
      <button type="submit" form="forms.userSettingsForm"
        class="btn btn-primary btn-fixed-width"
        data-dismiss="modal"
        ng-click="save()" id="save-button" ng-if="isUserAdmin">
        Save <i class="fa fa-white fa-check icon-right"></i>
      </button>
      <button type="button" class="btn btn-default btn-fixed-width" ng-click="closeModal()">
        Cancel <i class="fa fa-white fa-times icon-right"></i>
      </button>
    </div>
  </div>
</div>
