<div>
  <button type="button" class="dismiss" ng-click="dismiss()" aria-hidden="true">
    <i class="fa fa-lg fa-times"></i>
  </button>

  <h3 id="pricingComponentTitle" translate>common-header.plans.pricing-component-title</h3>

  <div id="pricingComponentContainer">
    <pricing-component
      ng-attr-apply-discount="{{pricingComponentDiscount ? '' : undefined}}"
      ng-attr-prod-env="{{useProductionChargebeeData ? '' : undefined}}"
      rv-on="display-count-changed:refreshButton">
    </pricing-component>

    <button type="button" ng-disabled="!pricingAtLeastOneDisplay" ng-click="dismissAndShowPurchaseModal()" id="subscribeButton">I Want To Subscribe</button>
  </div>
</div>
