<form id="confirmForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" data-dismiss="modal" aria-hidden="true">
      <streamline-icon name="close" width="12" height="12"></streamline-icon>
    </button>
  </div>
  <div class="modal-body" stop-event="touchend">
    <h4>Almost there!</h4>
    <div class="plan-features">
      <p>Unlock this feature by subscribing to Rise Vision.</p>
      <p><strong>By subscribing, you’ll get access to:</strong></p>
      <ul >
        <li><streamline-icon name="checkmark"></streamline-icon>Hundreds of professionally-designed templates.</li>
        <li><streamline-icon name="checkmark"></streamline-icon>Unlimited storage for your videos and images.</li>
        <li><streamline-icon name="checkmark"></streamline-icon>Dozens of integrations.</li>
        <li><streamline-icon name="checkmark"></streamline-icon>Free, world-class email and phone support.</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-default w-100" ng-click="dismiss()">
          <span>Cancel</span>
        </button>
      </div>
      <div class="col-xs-6">
        <button id="confirm-primary" class="btn btn-primary w-100" ng-click="ok()">
          <span>Subscribe</span>
        </button>
      </div>
    </div>
  </div>
</form>
