.rise-player-list {
  border-radius: 4px;
  border: 1px solid #DDD;
  overflow: hidden;
}

.rise-player-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5em 1em;
  border-bottom: 1px solid $light-gray;
  min-height: 48px;
  background-color: #FFF;
  &:last-child {
    border-bottom: none;
  }
  .rise-player-list-item__icon {
    max-width: 24px;
    margin-right: 1em;
  }
}

/* ==========================================================================
   Extra Small devices (tablets, 576px and up)
   ========================================================================== */
 
@media (min-width: 576px) {
  .rise-player-list.display-instructions {
    padding-left: 200px;
    background-image: url('https://s3.amazonaws.com/Rise-Images/UI/display-diagram.png');
    background-position: left center;
    background-size: 200px;
  }
}


.id-form {
  cursor: default !important;
  background-color: #FFF !important;
  font-family: 'Lucida Console', Monaco, monospace;
  text-indent: 66px;
  letter-spacing: 19px;
  background: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 24px;
  line-height: 1.42857;
  color: #5b5b5b;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #dad7d4;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  /* On Medium Devices, Tablets */
  @media (max-width: 550px) {
    text-indent: 4px;
  }
  /* On Small Devices, Phones */
  @media (max-width: 480px) {
    letter-spacing: 16px;
    font-size: 17px;
  }
}

/* Deprecate Below
 +   ========================================================================== 
 +   ========================================================================== 
 +   ========================================================================== 
 +   ========================================================================== 
 +   ========================================================================== */

.display-name {
  span {
    @extend .u_ellipsis-md;
    max-width: 240px;
    display: inline-block;
    vertical-align: middle;
  }
}

.display-address {
  span {
    @extend .u_ellipsis-md;
    max-width: 320px;
    display: inline-block;
    vertical-align: middle;
  }
}

.offline {
  &:before {
    color: #e74c3c;
  }
}

.notinstalled {
  &:before {
    color: #444;
  }
}

.online {
  &:before {
    color: $rise-green;
  }
}

.display-product {
  padding: 4px 8px !important;
  & span,
  a {
    display: block;
    cursor: pointer;
  }
  & span:nth-child(2) {
    display: inline;
  }
}

.display-status {
  padding: 4px 8px !important;
  & span,
  a {
    display: block;
    cursor: pointer;
  }
  & .btn-link.btn-xs {
    display: block;
  }
}
