.onboarding-container {
	a, .nav>li>a, .panel-body a strong {
		color: $madero-light-blue;
		text-decoration: underline;
	}

	.nav>li.active>a {
		color: $madero-black;
		text-decoration: none;
	}

	a.btn {
		text-decoration: none;
	}

	.app-header-title {
		color: $madero-black;
		font-size: 24px;
		font-weight: bold;
	}

	.product-grid_image {
		cursor: pointer;
	}

	.text-muted {
		color: $madero-gray;
	}

	.panel, .panel-footer, .nav-tabs.nav-justified>li.active>a {
		border-color: $madero-gray;
		box-shadow: none;
	}

	.product-grid_item.panel-default {
		border-color: #ddd;
	}

	@media (min-width: $screen-sm) {
		.nav-tabs.nav-justified>li>a {
			border-bottom-color: $madero-gray;	
		}
		.nav-tabs.nav-justified>li.active>a {
			border-bottom-color: $white;	
		}
	}

	.has-error {
		.text-danger {
			margin-top: 5px;
		}
	}

	.panel-body, .panel-footer {
		padding: 20px;
	}
}