.playlist-item-reference {
  @extend .u_ellipsis-md;
  max-width: 320px;
  line-height: 24px;
}

.shared-schedule-modal {
  .copy-text-box {
    background-color: #f0f0f0;
  }

  .u_bordered-hover {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}
