$short-phone-height: 570px;
$madero-black: #020620;
$madero-gray: #999999;
$madero-light-blue: #107DDA;
$madero-green: #45b764;
$maderio-green-disabled: #a2dbb2;

.template-editor {
  --common-header-height: 93px;
  --toolbar-height: 78px;
  --toolbar-margin: 20px;
  --footer-height: 98px;
  --sidebar-width: 400px;
  --component-header-height: 63px;
  --preview-holder-height: 200px;

  &.hide-sidebar { --sidebar-width: 0px; }

  --body-height: calc(var(--common-header-height) + var(--toolbar-height) + var(--toolbar-margin));
  --attribute-list-height: calc(100vh - var(--body-height));

  background-color: #FFF;
  height: calc(100vh - var(--common-header-height));
}

@media (max-width: $screen-sm) {
  .template-editor {
    --chrome-bar-height: 55px;
    --common-header-height: 55px;
    --sidebar-width: 360px;
    --body-height: calc(var(--chrome-bar-height) + var(--common-header-height) + var(--toolbar-height) + var(--footer-height));
    --attribute-list-height: calc(100vh - var(--body-height) - var(--preview-holder-height));

    height: calc(100vh - var(--chrome-bar-height) - var(--common-header-height));
    &.active-component {
      --toolbar-height: 63px;
      --body-height: calc(var(--chrome-bar-height) + var(--common-header-height) + var(--toolbar-height));

      &.desktop-mode {
        --body-height: calc(var(--common-header-height) + var(--toolbar-height));
      }
    }

    @media (max-height: $short-phone-height) {
      --toolbar-height: 50px;
      --preview-holder-height: 140px;
    }
  }
}

.template-editor-toolbar {
  display: flex;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid $madero-gray;
  margin: 0px var(--toolbar-margin) var(--toolbar-margin);
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  height: var(--toolbar-height);

  & i {
    font-size: 18px;
  }

  & .presentation-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    white-space: nowrap;

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      background-color: transparent;
    }

    @media (max-width: $screen-sm) {
      font-size: 18px;
    }
  }

  & .edit-name, .delete-presentation {
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;

    &:hover {
      text-decoration: none;
      cursor: pointer;
      opacity: 0.65;
      filter: alpha(opacity=65);
    }

    &:focus {
      outline: 0;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none;
      opacity: .50;
      filter: alpha(opacity=50);
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  & .toolbar-right {
    display: flex;
    margin-left: auto;
    flex-wrap: nowrap;
    align-items: center;

    .auto-saving-changes {
      position: relative;
      width: 120px;
      height: 33px;
      margin-right: 20px;
      overflow: hidden;
      font-size: 12px;
      white-space: nowrap;

      div {
        position: absolute;
        top: 50%;
        margin-top: -6px;
        right: 0px;

        div {
          width: 114px;
          margin-top: 0px;

          svg {
            fill: $madero-black;
            stroke: none;
            position: absolute;
            margin-left: 5px;
            margin-top: 1px;
          }
        }
      }
    }
  }

  & .btn {
    width: 152px;
  }

  & a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
}

.template-editor-body {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-flow: column-reverse;
}

@media (min-width: $screen-sm) {
  .template-editor-body {
    display: flex;
    flex-flow: row;
    height: calc(100vh - var(--body-height));
  }
}

.preview-holder {
  background-image: linear-gradient(white, #f2f2f2);
  z-index: 10;
  width: 100%;
  height: var(--preview-holder-height);
  overflow: auto;

  @media (min-width: $screen-sm) {
    width: 100%;
    height: 100%;
  }
}

#template-editor-preview-parent {
  margin: 0px;

  @media (min-width: $screen-sm) {
    width: 100%;
  }

  @media (max-width: $screen-sm) {
    height: 100%;
    width: 320px;
    margin: auto;
    padding-bottom: 0px;
  }
}

#template-editor-preview {
  margin: 0 20px 20px 20px;
  transform-origin: top left;

  @media (max-width: $screen-sm) {
    margin: 0 10px 10px 10px;
  }
}

.template-editor-file-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 4px 0px;
  border-bottom: 1px solid $madero-gray;
  margin-left: 20px;
  margin-right: 20px;

  .file-thumbnail {
    display: flex;
    justify-content: center;
    width: var(--thumbnail-width);
    height: 56px;
    overflow: hidden;
    margin-right: 10px;
    flex: 0 0 auto;
    border-radius: 2px;
    background-color: $lighter-gray;

    img {
      height: 100%;
      width: 100%;
      max-height: 100%;
      max-width: 100%;
      flex: 0;
      object-fit: contain;
    }

    .broken-link {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;

      streamline-icon {
        display: flex;
      }

      img {
        max-height: 100%;
        max-width: 100%;
        flex: 0;
      }

      svg {
        height: 30px;
        fill: $mid-gray;
      }
    }
  }

  .file-entry {
    display: flex;
    flex: 1;
    align-items: center;
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
    max-width: 100%;

    &.is-error {
      .file-text {
        .file-name {
          color: $madero-gray;
        }
      }
    }

    .file-text {
      flex: 1;
      overflow: hidden;

      .file-name {
        color: $madero-black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .file-error {
        color: $danger;
        line-height: 14px;
      }
    }

    .file-remove {
      flex: 0 0 auto;

      a {
        display: block;
        color: $danger;
        font-weight: bold;
        text-decoration: underline;
        margin-left: 10px;
        vertical-align: middle;
        text-transform: capitalize;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


.attribute-editor {
  height: 100%;
  overflow: hidden;

  @media (min-width: $screen-sm) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: var(--sidebar-width);
    width: var(--sidebar-width);
  }

  & a {
    cursor: pointer;
    text-decoration: none;
  }

  & .attribute-list {
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  & .attribute-list-hide {
    animation-name: slide-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-150%); }
  }

  @keyframes slide-in {
    0% { transform: translateX(-150%); }
    100% { transform: translateX(0%); }
  }

  @keyframes slide-in-right {
    0% { transform: translateX(150%); }
    100% { transform: translateX(0%); }
  }

  @keyframes slide-out-right {
    0% { transform: translateX(0%); }
    100% { transform: translateX(150%); }
  }

  & .attribute-list {
    font-size: 1.1em;
    height: var(--attribute-list-height);
    overflow-x: hidden;
    overflow-y: auto;
  }

  & .attribute-list-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  & .attribute-row {
    border-bottom: 1px solid $madero-gray;
    min-height: 45px;
    display: flex;
    align-items: center;

    @media (max-width: $screen-sm) {
      min-height: 40px;
    }
  }

  & .attribute-row-first {
    @extend .attribute-row;
    margin-top: 20px;
  }

  & .attribute-row-last {
    @extend .attribute-row;
    border-bottom: none;
  }

  & .attribute-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;

    @media (max-width: $screen-sm) {
      font-size: 14px;
    }

    & a {
      margin-right: 18px;
    }
  }

  & .streamline-component-icon {
    top: 2px;

    @media (max-width: $screen-sm) {
      top: 1px;
    }

    svg {
      height: 16px;

      @media (max-width: $screen-sm) {
        height: 12px;
      }
    }
  }

  & .attribute-edit {
    color: rgb(69, 183, 100);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
  }

  & .component-header {
    font-size: 18px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 20px;
    margin: 0px 20px;

    @media (max-width: $screen-sm) {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &.visible-bottom-rule {
      border-bottom: 1px solid $madero-gray;
    }

    & .component-icon {
      margin-left: 15px;
      svg {
        height: 16px;
      }
    }
  }

  & .component-container {
    overflow: hidden;
  }

  & .arrow-icon {
    line-height: 10px;
  }
}

.template-editor-footer {
  padding: 0px 20px;
  background-color: #FFF;

  & > div {
    border-top: 1px solid $madero-gray;
    padding: 10px 0;
  }

  & .btn {
    margin: 10px 0px;
  }

  .auto-saving-changes {
    position: relative;
    width: 100%;
    height: 25px;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;

    div {
      position: absolute;
      width: 100%;
      top: 50%;
      margin-top: -5px;
      text-align: center;
    }

    .all-changes-saved-message {
      svg {
        fill: $madero-black;
        stroke: none;
        position: absolute;
        margin-left: 5px;
        margin-top: 1px;
      }
    }
  }
}

.te-scrollable-container {
  --base-size : 5px;
  overflow-y: auto;
}

.te-scrollable-container::-webkit-scrollbar {
  width: var(--base-size);
}

.te-scrollable-container::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: var(--base-size);
}

.te-scrollable-container::-webkit-scrollbar-thumb {
  border-radius: var(--base-size);
  background: gray;
}

.attribute-editor-show-from-right {
  animation-name: slide-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.attribute-editor-hide-to-right {
  animation-name: slide-out-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.attribute-editor-show-from-left {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.attribute-editor-hide-to-left {
  animation-name: slide-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.attribute-editor-component {
  position: relative;
  margin-top: 20px;

  .attribute-editor-row {
    margin: 7.5px 20px 7.5px 20px;
  }
}

// Storage
@media (min-width: $screen-sm) {
  .storage-selector-container {
    --storage-selector-button-bar-height: 115px;
    --storage-selector-body-height: calc(100vh - var(--body-height) - var(--component-header-height));
  }
}

@media (max-width: $screen-sm) {
  .storage-selector-container {
    --storage-selector-button-bar-height: 120px;
    --storage-selector-body-height: calc(100vh - var(--body-height));
  }
}

.storage-selector-component, .storage-selector-action-button-bar {
  &.no-files {
    @media (min-width: $screen-sm) {
      --storage-selector-button-bar-height: 65px;
    }

    @media (max-width: $screen-sm) {
      --storage-selector-button-bar-height: 70px;
    }
  }
}

.storage-selector-component {
  --storage-column-width: 100%;

  height: calc(var(--storage-selector-body-height) - var(--storage-selector-button-bar-height));
  overflow-x: hidden;
  overflow-y: auto;

  .storage-selector-list {
    column-count: 2;
    column-gap: 5px;
    margin: 10px 20px 0;

    .storage-row {
      position: relative;
      break-inside: avoid-column;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      padding-bottom: 5px;
      overflow: hidden;
    }

    .folder-entry {
      text-align: center;
      background-color: $lighter-gray;
      width: var(--storage-column-width);

      a {
        display: block;
        padding: 20px 10px;

        i {
          font-size: 42pt;
          color: $mid-gray;
        }

        streamline-icon {
          svg {
            fill: $madero-gray;
            width: 38px;
            height: 30px;
          }
        }

        .folder-name {
          margin-top: 5px;
          color: $madero-gray;
          font-weight: bold;
          font-size: 12px;
        }
      }
    }

    .file-entry {
      background: inherit;
    }

    .video-entry {
      text-align: center;
      background-color: $lighter-gray;
      width: var(--storage-column-width);

      a {
        display: block;
        padding: 20px 10px;

        streamline-icon {
          display: block;
          height: 30px;

          svg {
            fill: $mid-gray;
            width: 32px;
            height: 30px;
          }
        }

        .video-name {
          margin-top: 10px;
          color: $mid-gray;
          font-size: 12px;
          letter-spacing: 0px;
          line-height: 18px;
          height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      & ~ .overlay-entry {
        height: 100%;
        background-color: $madero-light-blue;
        padding: 21px 10px 20px 10px;
        text-align: center;

        .overlay-icon {
          position: relative;
          left: initial;
          top: initial;
          display: block;
          height: 29px;

          svg {
            width: 34px;
            height: 29px;
          }
        }

        .overlay-text {
          position: relative;
          left: initial;
          bottom: initial;
          width: auto;
          margin-top: 10px;
          font-size: 12px;
          font-weight: normal;
          letter-spacing: 0px;
          line-height: 18px;
          height: 18px;
        }
      }
    }

    .overlay-entry {
      position: absolute;
      top: 0;
      width: var(--storage-column-width);
      height: calc(100% - 5px);
      background-color: rgba(50, 106, 191, 0.8);
      cursor: pointer;
    }

    .overlay-content {
      position: absolute;
      top: 30%;
    }

    .overlay-icon {
      position: absolute;
      left: calc(50% - 16px);
      top: calc(50% - 16px);

      & svg {
        fill: $white;
        stroke: none;
      }
    }

    .overlay-text {
      position: absolute;
      width: calc(var(--storage-column-width) - 20%);
      left: 10%;
      bottom: 10px;
      color: $white;
      font-family: Helvetica;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    img {
      width: 100%;
      background-color: #f2f2f2;
    }

    .selected-item {
      background-color: gray;
    }
  }

}

.item-list-empty {
  color: $madero-black;
  margin: 20px;

  h2 {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 0;
    margin-top: 0;
  }

  p {
    font-size: 12px !important;
    line-height: 18px;
    padding-bottom: 33px;
  }

  img {
    width: 335px;
    margin: 0;
  }

  @media (max-width: $screen-sm) {
    .img-responsive {
      width: 200px !important;
    }
  }
}

.storage-selector-action-button-bar {
  height: var(--storage-selector-button-bar-height);
  padding: 0px 20px;
  background: $white;

  & .add-selected {
    padding: 10px 0 0 0;

    button {
      border-width: 2px;
    }
  }
}

.storage-upload-panel {
  margin-top: 5px;

  .actions-block {
    text-align: right;
  }

  .collapse-control {
    line-height: 28px;
    padding: 0 15px;
    margin-right: -15px;
    float: right;
  }

  .file-row {
    @extend .template-editor-file-row;

    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 17px;

    .file-entry {
      width: 100%;
    }
  }

  .progress {
    height: 10px;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid $madero-gray;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .progress-bar {
    width: 50%;
    background: $madero-green;
    animation: none;
    height: 100%;
    box-shadow: none;
  }
}

.file-component-list {
  --thumbnail-width: 80px;

  overflow-x: hidden;
  overflow-y: auto;
  width: var(--sidebar-width);

  @media (max-width: $screen-sm) {
    width: 100%;
  }

  .file-row {
    @extend .template-editor-file-row;
  }

}

.file-component-list-action-button-bar {
  height: var(--image-component-list-button-bar-height);
  padding: 0px 20px;
  background: $white;

  .select-from-storage {
    padding: 10px 0 0 0;

    button {
      background: $white;
      border-width: 2px;
      color: $madero-green;
      border-color: $madero-green;
    }
  }
}

// Madero is the codename of the new style-guide
.madero-style {
  font-family: Helvetica, Arial, sans-serif;
  color: $madero-black;

  h4 {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    font-size: 14px;

    &.range-value {
      font-weight: bold;
      line-height: 20px;
      text-align: center;
    }
  }

  label {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .btn {
    font-weight: bold;
    min-height: 40px;
    line-height: 18px;

    &:focus {
      outline: none;
    }
  }

  .btn-default {
    background: $white;
    border-width: 2px;
    color: $madero-green;
    border-color: $madero-green;
    padding: 5px 12px;

    &[disabled] {
      opacity: 1;
      border-color: $maderio-green-disabled;
      color: $maderio-green-disabled;
    }
  }

  .btn-primary {
    &, &:hover, &:active, &:focus {
      color: $white;
      background-color: $madero-green;
      border-color: $madero-green;
      box-shadow: none;
    }

    &[disabled] {
      opacity: 1;
      background-color: $maderio-green-disabled;
      border-color: $maderio-green-disabled;
      color: $white;
    }
  }

  .radio {
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 25px;
  }

  .radio label {
    padding-left: 0px;
  }

  input[type=radio] {
    position: absolute;
    top: auto;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    white-space: nowrap;
  }

  input[type=radio] + label {
    display: block;
    padding-top: 5px;
  }

  input[type=radio] + label:before {
    content: '';
    background: #fff;
    border: .15em solid $madero-gray;
    background-color: rgba(255, 255, 255, .8);
    display: block;
    box-sizing: border-box;
    float: left;
    width: 20px;
    height: 20px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all .1s ease-out;
  }

  input[type=radio] + label:before {
    border-radius: 100%;
    margin-right: 10px;
  }

  input[type=radio]:checked + label:before {
    background-color: $madero-light-blue;
    border: .15em solid $madero-light-blue;
    box-shadow: inset 0 0 0 0.23em rgba(255, 255, 255, .95);
  }

  input[type='range'] {
    margin: 0;
    outline: none;
    padding: 0;
    width: 100%;
    height: 30px;
    background: transparent;
    font: 1em/1 arial, sans-serif;

    &:hover, &:active {
      &::-webkit-slider-runnable-track {
        box-shadow: inset 0 0 0 1px $madero-light-blue;
      }

      &::-moz-range-track,
      &::-ms-track {
        border-color: $madero-light-blue;
      }
    }
  }
  input[type='range'], [type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px $madero-gray;
    border-radius: 0.5em;
    width: 100%;
    height: 0.75em;
    background: transparent;
  }
  input[type='range']::-moz-range-track {
    box-sizing: border-box;
    border: solid 1px $madero-gray;
    width: 100%;
    height: 0.75em;
    border-radius: 0.5em;
    background: transparent;
  }
  input[type='range']::-ms-track {
    box-sizing: border-box;
    border: solid 1px $madero-gray;
    width: 100%;
    height: 0.75em;
    border-radius: 0.5em;
    background: transparent;
  }
  input[type='range']::-moz-range-progress {
    height: 0.25em;
    background: transparent;
  }
  input[type='range']::-ms-fill-lower {
    height: 0.25em;
    background: transparent;
  }
  input[type='range']::-webkit-slider-thumb {
    margin-top: -10px;
    box-sizing: border-box;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $madero-light-blue;
  }
  input[type='range']::-moz-range-thumb {
    box-sizing: border-box;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $madero-light-blue;
  }
  input[type='range']::-ms-thumb {
    margin-top: 0;
    box-sizing: border-box;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $madero-light-blue;
  }
  input[type='range']::-ms-tooltip {
    display: none;
  }

  &.centered-modal::before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  &.centered-modal {
    text-align: center;

    & .modal-dialog {
      display: inline-block;
      vertical-align: middle;
    }
  }

  @media screen and (min-width: 768px) {
    &.centered-modal {
      & .modal-dialog {
        width: 460px;
      }
    }
  }

  .modal-content {
    background: $white;

    .modal-header {
      background: inherit;
      border-bottom: 0;

      .close {
        width: 20px;
        height: 20px;
        margin: 5px 5px -5px 0px;
        & svg {
          fill: $madero-gray;
        }
      }

      @media (max-width: 480px) {
        .close {
          padding: inherit;
        }
      }

    }

    .modal-body {
      padding: 0px 20px 15px 20px;

      h4 {
        margin-top: 0px;
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 0px;
        font-size: 12px;
      }
    }

    .modal-footer {
      padding: 0px 20px 20px;
    }
  }

  &.primary-btn-danger .modal-footer {
    & .btn-primary {
      background: $danger;
      border-color: $danger;
    }

    & .btn-default {
      color: $white;
      border-width: 1px;
      background: $madero-green;
      border-color: $madero-green;
      padding: 6px 12px;
    }
  }

  .form-control {
    height: 40px;
    border-color: $madero-gray;
    color: $madero-black;
    box-shadow: none;

    &:focus {
      border: 1px solid $madero-light-blue;
      box-shadow: none;
    }
  }

  .control-label {
    font-weight: bold;
    color: $madero-black;
  }

  .form-control-feedback {
    top: 31px;
    fill: #f2f2f2;
  }

  .has-error {
    .control-label {
      color: inherit;
    }
    .form-control {
      border-color: #d9534f;
    }
    .overlay-icon {
      fill: #d9534f;
    }
  }

  .has-success {
    .control-label {
      color: inherit;
    }
    .overlay-icon {
      fill: $madero-green;
    }
  }

  .input-group {

    .form-control {

      &:not(:first-child):not(:last-child) {
        border-left: none;
        border-right: none;
      }

      &:first-child {
        border-right: none;
      }
      &:last-child {
        border-left: none;
      }
    }

    .input-group-addon {
      border-color: $madero-gray;
      background-color: #f2f2f2;
      color: $madero-black;

      &:first-child {
        border-right: none;
      }

      &:last-child {
        border-left: none;
      }
    }

    &:focus-within .input-group-addon {
      border-color: $madero-light-blue;
      box-shadow: none;
    }
  }

  .input-duration {
    width: 140px;
  }

  .icon-help {
    fill: rgb(69, 183, 100);
    position: relative;
    top: 3px;
  }

  .upload-files {
    padding: 18px 0 0 0;
    border-top: 1px solid $madero-gray;

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      font-size: 14px;
      border-width: 2px;
    }
  }

}

.streamline-component-icon {
  display: inline-block;
  margin-right: .5rem;
  position: relative;
  top: 3px;
}
