<div class="storage-selector-component">
  <div class="storage-selector-list-empty" ng-show="folderItems.length === 0 && !isUploading">
    <div class="row">
      <div class="col-xs-12">
        <h2>You have no images in Storage</h2>
        <p>Upload images from your device to keep your display interesting!</p>
        <div>
          <img class="img-responsive" src="../images/image-empty-list.svg">
        </div>
      </div>
    </div>
  </div>

  <basic-uploader uploader-id="{{storageSelectorId}}"
                  upload-manager="storageUploadManager"
                  valid-extensions="validExtensions"
                  ng-show="isUploading">
  </basic-uploader>
</div>

<div class="storage-selector-action-button-bar">
  <div class="upload-images">
    <label class="btn btn-primary btn-block" for="{{storageSelectorId}}" ng-disabled="isUploading">
      <strong>Upload Images</strong>
    </label>
  </div>
</div>
