<div class="row attribute-row" ng-repeat="comp in components track by $index">
  <div class="col-xs-10 pl-0 attribute-desc">
    <component-icon icon="{{ getComponentIcon(comp) }}" type="{{ getComponentIconType(comp) }}"></component-icon>
    <span>
      {{ ( "template." + comp.type ) | translate }} -
      {{ comp.label }}
    </span>
  </div>
  <div class="col-xs-2 pr-0 align-right">
    <a ng-click="editComponent(comp);">
      <span class="attribute-edit text-nowrap">
        <span translate>template.attribute-editor.edit-component</span>
        <i class="fa fa-lg fa-angle-right arrow-icon"></i>
      </span>
    </a>
  </div>
</div>
