<div>
  <div class="storage-upload-panel" ng-show="activeUploadCount() > 0">
    <div class="storage-upload-body te-scrollable-container">
      <div class="u_margin-sm-top" ng-repeat="item in uploader.queue">
        <p>
          <a class="pull-right" href="#" ng-click="removeItem(item)">
            <span translate="common.lremove"></span>
          </a>
          <a class="pull-right u_margin-right" href="#" ng-click="retryFailedUpload(item)" ng-show="item.isError">
            <span translate="common.lretry"></span>
          </a>
          <span class="pull-right text-muted u_margin-left u_margin-right"> {{ item.file.size | fileSizeFilter }}</span>
          <span class="u_ellipsis-lg" ng-class="{'text-danger': item.isError }">
            {{ fileNameOf(item.file.name) }}
          </span>
        </p>
        <div class="progress inline-progress">
          <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                ng-style="{ 'width': item.progress + '%' }"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1">
    <form id="upload-form-{{uploaderId}}">
      <input type="file" id="{{uploaderId}}" uploader="uploader" multiple accept="{{validExtensions}}">
    </form>
  </div>
</div>
