
<div class="row storage-selector-search-container">
  <div class="col-xs-12">
    <search-filter filter-config="filterConfig" search="search" do-search="search.doSearch" icon-set="madero"></search-filter>
  </div> 
</div>

<div class="storage-selector-component te-scrollable-container"
  ng-class="{ 'no-files': !hasRegularFileItems() }"
  rv-spinner
  rv-spinner-key="storage-{{storageSelectorId}}-spinner"
  rv-spinner-start-active="1"
>

  <div class="file-component-list" ng-show="folderItems.length > 0 && !isUploading" ng-if="basicStorageSelectorFactory.isListView">
    <div class="pl-0 file-component-list-header" ng-hide="filteredItems.length === 0">
      <div class="file-entry">
        <div class="madero-checkbox" ng-if="!storageManager.isSingleFileSelector()" ng-click="selectAllItems()">
          <input type="checkbox" ng-model="search.selectAll" tabindex="1">
          <label>
            <streamline-icon name="checkmark" width="14" height="12"></streamline-icon>
          </label>
        </div>
        <div class="mr-auto u_clickable" ng-click="sortBy(fileNameOrderFunction)">
          File name
          <i ng-if="search.sortBy === fileNameOrderFunction" class="fa" ng-class="{false: 'fa-caret-up', true: 'fa-caret-down'}[search.reverse]"></i>
        </div>
        <div class="u_clickable" ng-click="sortBy(dateModifiedOrderFunction)">
          Last modified
          <i ng-if="search.sortBy === dateModifiedOrderFunction" class="fa" ng-class="{false: 'fa-caret-up', true: 'fa-caret-down'}[search.reverse]"></i>
        </div>
      </div>
    </div>

    <div ng-repeat="item in folderItems | filter:search.query | orderBy:search.sortBy:search.reverse as filteredItems track by $index">

      <div class="pl-0 file-component-list-folder-row u_clickable" ng-class="{'active': isSelected(item)}" ng-if="isFolder(item.name)" ng-click="loadItems(item.name)">
        <div class="file-entry" ng-class="{'ml-5': !storageManager.isSingleFileSelector()}">
          <div class="file-text">
            <div class="file-name">{{fileNameOf(item.name)}}/</div>
          </div>
        </div>
      </div>

      <div class="pl-0 file-component-list-file-row u_clickable" ng-if="!isFolder(item.name)" ng-click="selectItem(item)">
        <div class="file-entry">
          <div class="madero-checkbox" ng-if="!storageManager.isSingleFileSelector()">
            <input type="checkbox" ng-checked="isSelected(item)" tabindex="1">
            <label>
              <streamline-icon name="checkmark" width="14" height="12"></streamline-icon>
            </label>
          </div>
          <div class="file-text mr-auto">
            <div class="file-name">{{fileNameOf(item.name)}}</div>
          </div>
          <div ng-hide="item.kind === 'folder'">
            {{item.updated.value | date:'MMM d, yyyy'}}
          </div>
        </div>
      </div>
    </div>

    <div id="noSearchResult" class="item-list-empty" ng-if="filteredItems.length === 0">
      No Results Found
    </div>
  </div>

  <div class="storage-selector-grid" ng-show="folderItems.length > 0 && !isUploading" ng-if="!basicStorageSelectorFactory.isListView">  
    <div class="storage-row" ng-repeat="item in folderItems | filter:search.query | orderBy:search.sortBy:search.reverse as filteredItems track by $index">
      <div>
        <div class="folder-entry" ng-if="isFolder(item.name)" ng-click="loadItems(item.name)">
          <a href="#">
            <streamline-icon name="folder" width="38" height="30"></streamline-icon>
            <div class="folder-name">{{ fileNameOf(item.name) }}</div>
          </a>
        </div>
        <div class="file-entry" ng-if="!isFolder(item.name) && fileType != 'video'" ng-click="selectItem(item)">
          <a href="#">
            <img loading="lazy" src="{{ thumbnailFor(item) }}"></img>
          </a>
        </div>
        <div class="video-entry" ng-if="!isFolder(item.name) && fileType == 'video'" ng-click="selectItem(item)">
          <a href="#">
            <streamline-icon name="video"></streamline-icon>
            <div class="video-name">{{ fileNameOf(item.name) }}</div>
          </a>
        </div>
        <div class="overlay-entry" ng-if="isSelected(item)" ng-click="selectItem(item)">
          <streamline-icon class="overlay-icon" name="checkmark" width="38" height="28"></streamline-icon>
          <p class="overlay-text">{{ fileNameOf(item.name) }}</p>
        </div>
      </div>
    </div>

    <div id="noSearchResult" ng-if="filteredItems.length === 0">
      <p>No Results Found</p>
    </div>
  </div>

  <div class="item-list-empty" ng-show="folderItems.length === 0 && !isUploading">
    <div class="row">
      <div class="col-xs-12">
        <h2 ng-show="!currentFolder">You have no {{fileType}}s in Storage.</h2>
        <h2 ng-show="currentFolder">You have no {{fileType}}s in {{currentFolder}}.</h2>
        <p>Upload {{fileType}}s from your device to keep your display interesting!</p>
        <div>
          <img class="img-responsive" src="../images/empty-list.svg">
        </div>
      </div>
    </div>
  </div>

  <basic-uploader uploader-id="{{storageSelectorId}}-uploader"
                  upload-manager="storageUploadManager"
                  valid-extensions="validExtensions"
                  valid-type="{{fileType}}"
                  ng-show="isUploading">
  </basic-uploader>
</div>

<div class="storage-selector-action-button-bar"
  ng-class="{ 'no-files': !hasRegularFileItems() }"
>
  <div class="upload-files">
    <label id="{{storageSelectorId}}-uploader-label"
      class="btn btn-block"
      ng-class="hasRegularFileItems() ? 'btn-default' : 'btn-primary'"
      for="{{storageSelectorId}}-uploader"
      ng-disabled="isUploading"
    >
      <strong>
        {{ ( 'template.' + fileType + '.upload' ) | translate }}
      </strong>
    </label>
  </div>
  <div class="add-selected" ng-show="hasRegularFileItems()">
    <button id="{{storageSelectorId}}-add-selected"
      class="btn btn-primary btn-block"
      ng-click="addSelected()"
      ng-disabled="isUploading || selectedItems.length === 0"
    >
      <strong>Add Selected</strong>
    </button>
  </div>
</div>
