<div>
  <div id="upload-panel-{{uploaderId}}" class="storage-upload-panel" ng-show="activeUploadCount() > 0">
    <div class="storage-upload-body te-scrollable-container">
      <div ng-repeat="item in uploader.queue">
        <div class="storage-upload-file-row">
          <div class="file-entry" ng-class="{'is-error': item.isError}">
            <div class="file-text">
                <div class="file-name">{{ fileNameOf(item.file.name) }}</div>
                <div class="file-error" ng-show="item.isError">
                  Your file couldn't be uploaded.
                  <a href="#" ng-click="retryFailedUpload(item)">Try again?</a>
                </div>
            </div>

            <div class="file-remove">
              <a href="#" ng-click="removeItem(item)">
                <span translate="common.lremove"></span>
              </a>
            </div>
          </div>

          <div class="progress inline-progress" ng-show="!item.isError">
            <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                  ng-style="{ 'width': item.progress + '%' }"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1">
    <form id="upload-form-{{uploaderId}}">
      <input type="file" id="{{uploaderId}}" uploader="uploader" multiple accept="{{accept}}">
    </form>
  </div>
</div>
