<div class="storage-selector-component te-scrollable-container"
  ng-class="{ 'no-files': !hasRegularFileItems() }"
  rv-spinner
  rv-spinner-key="storage-{{storageSelectorId}}-spinner"
  rv-spinner-start-active="1"
>
  <div class="storage-selector-list" ng-show="folderItems.length > 0 && !isUploading">
    <div class="storage-row" ng-repeat="item in folderItems track by $index">
      <div>
        <div class="folder-entry" ng-if="isFolder(item.name)" ng-click="loadItems(item.name)">
          <a href="#">
            <streamline-icon name="folder" width="38" height="30"></streamline-icon>
            <div class="folder-name">{{ fileNameOf(item.name) }}</div>
          </a>
        </div>
        <div class="file-entry" ng-if="!isFolder(item.name) && fileType != 'video'" ng-click="selectItem(item)">
          <a href="#">
            <img loading="lazy" src="{{ thumbnailFor(item) }}"></img>
          </a>
        </div>
        <div class="video-entry" ng-if="!isFolder(item.name) && fileType == 'video'" ng-click="selectItem(item)">
          <a href="#">
            <streamline-icon name="video"></streamline-icon>
            <div class="video-name">{{ fileNameOf(item.name) }}</div>
          </a>
        </div>
        <div class="overlay-entry" ng-if="isSelected(item)" ng-click="selectItem(item)">
          <streamline-icon class="overlay-icon" name="checkmark" width="38" height="28"></streamline-icon>
          <p class="overlay-text">{{ fileNameOf(item.name) }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="item-list-empty" ng-show="folderItems.length === 0 && !isUploading">
    <div class="row">
      <div class="col-xs-12">
        <h2 ng-show="!currentFolder">You have no {{fileType}}s in Storage.</h2>
        <h2 ng-show="currentFolder">You have no {{fileType}}s in {{currentFolder}}.</h2>
        <p>Upload {{fileType}}s from your device to keep your display interesting!</p>
        <div>
          <img class="img-responsive" src="../images/empty-list.svg">
        </div>
      </div>
    </div>
  </div>

  <basic-uploader uploader-id="{{storageSelectorId}}-uploader"
                  upload-manager="storageUploadManager"
                  valid-extensions="validExtensions"
                  valid-type="{{fileType}}"
                  ng-show="isUploading">
  </basic-uploader>
</div>

<div class="storage-selector-action-button-bar"
  ng-class="{ 'no-files': !hasRegularFileItems() }"
>
  <div class="upload-files">
    <label id="{{storageSelectorId}}-uploader-label"
      class="btn btn-block"
      ng-class="hasRegularFileItems() ? 'btn-default' : 'btn-primary'"
      for="{{storageSelectorId}}-uploader"
      ng-disabled="isUploading"
    >
      <strong>
        {{ ( 'template.' + fileType + '.upload' ) | translate }}
      </strong>
    </label>
  </div>
  <div class="add-selected" ng-show="hasRegularFileItems()">
    <button id="{{storageSelectorId}}-add-selected"
      class="btn btn-primary btn-block"
      ng-click="addSelected()"
      ng-disabled="isUploading || selectedItems.length === 0"
    >
      <strong>Add Selected</strong>
    </button>
  </div>
</div>
