<div class="component-header"
    ng-class="{ 'visible-bottom-rule': isHeaderBottomRuleVisible(factory.selected) }">
  <div class="attribute-desc">
    <a ng-click="onBackButton();">
      <span class="attribute-edit text-nowrap">
        <i class="fa fa-lg fa-angle-left arrow-icon"></i>
        <span translate>template.attribute-editor.back-to-list</span>
      </span>
    </a>
    <i class="ml-2 mr-2 fa fa-lg {{ getComponentIcon(factory.selected) }}"></i>
    <span>
      {{ ( "template." + factory.selected.type ) | translate }} -
      {{ factory.selected.label }}
    </span>
  </div>
</div>
<div class="component-container">
  <template-component-financial></template-component-financial>
  <template-component-image></template-component-image>
</div>
