<div class="pl-0 file-component-list-file-row rv-sortable-item">
  <div class="list-grip pr-4 rv-sortable-handle" ng-if="showGripHandle">
    <img class="img-responsive" src="../images/navigation-menu-vertical.svg">
  </div>
  <div class="file-thumbnail">
    <div class="file-helper"></div>
    <img ng-src="{{ entry['thumbnail-url'] }}"
      ng-if="entry.exists && !isStreamlineThumbnail()"
      width="80"
    ></img>
    <div class="broken-link" ng-hide="entry.exists && !isStreamlineThumbnail()">
      <streamline-icon width="61" height="60"
        name="{{ entry.exists ? getStreamlineIcon() : 'forbidden' }}"
      ></streamline-icon>
    </div>
  </div>
  <div class="file-entry" ng-class="{'is-error' : !entry.exists}">
    <div class="file-text">
      <div class="file-name">{{getFileName()}}</div>
      <div class="file-error" ng-hide="entry.exists">
        Your {{fileType}} has been deleted, renamed, or moved.
      </div>
    </div>
    <div class="file-remove">
      <a href="#" ng-click="removeFileFromList()"
        translate>editor-app.details.remove</a>
    </div>
  </div>
</div>
