<div>
  <button id="saveButton" require-role="ce cp" class="btn btn-primary btn-block"
          ng-disabled="factory.savingPresentation"
          ng-click="factory.save()">
    <strong>
      {{ factory.savingPresentation ?
        ( 'common.saving' | translate ) : ( 'common.save' | translate )
      }}
    </strong>
  </button>

  <button id="publishButton" require-role="cp" class="btn btn-primary btn-block"
          ng-disabled="hasUnsavedChanges || !factory.isRevised() || factory.savingPresentation"
          ng-click="factory.publishPresentation()">
    <strong translate>common.publish</strong>
  </button>
</div>
