<div>
  <div class="auto-saving-changes" ng-if="hasContentEditorRole()">
    <div ng-show="!factory.savingPresentation && factory.isUnsaved()">
      Unsaved changes
    </div>
    <div ng-show="factory.savingPresentation">
      Saving changes...
    </div>
    <div class="all-changes-saved-message"
         ng-show="!factory.savingPresentation && !factory.isUnsaved()">
      All changes saved
      <streamline-icon name="checkmark" width="12" height="12"></streamline-icon>
    </div>
  </div>
  <div class="auto-saving-changes" ng-if="!hasContentEditorRole()">
    <div class="text-danger">You don’t have permission to edit</div>
  </div>
  <button id="publishButton" require-role="cp" class="btn btn-primary btn-block"
          ng-disabled="factory.isPublishDisabled()"
          ng-click="factory.publish()">
    Publish To Display
  </button>
</div>
