<form id="confirmForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" data-dismiss="modal" aria-hidden="true">
      <streamline-icon name="close" width="12" height="12"></streamline-icon>
    </button>
  </div>
  <div class="modal-body" stop-event="touchend">
    <h4 ng-if="confirmationTitle" translate>{{confirmationTitle}}</h4>
    <p translate>{{confirmationMessage}}</p>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-default w-100" ng-click="cancel()">
          <span translate="{{cancelButton}}"></span>
        </button>
      </div>
      <div class="col-xs-6">
        <button id="confirm-primary" class="btn btn-primary w-100" ng-click="ok()">
          <span translate="{{confirmationButton}}"></span>
        </button>
      </div>
    </div>
  </div>
</form>
