<style>
  .template-editor {
    background-color: #FFF;
  }
 
  .template-editor-toolbar {
    display: flex;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid #f2f2f2;
    padding: 18px 0px;
    margin: 0px 20px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  .template-editor-toolbar i {
    font-size: 18px;
  }

  .template-editor-toolbar .presentation-name {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .template-editor-toolbar .toolbar-right {
    display: flex;
    margin-left: auto;
    flex-wrap: nowrap;
  }

  .template-editor-toolbar button {
    width: 152px;
  }

  .template-editor-body {
    margin-left: 0px;
    margin-right: 0px;
  }

  .preview-holder {
    padding: 20px;
    background-image: linear-gradient(white, lightgray);
    min-height: 50px;
  }

  .attribute-editor {
    padding: 20px;
    min-height: calc(100vh - 190px);
  }

  .template-editor-footer {
    padding: 0px 10px;
    background-color: #FFF;
  }

  .template-editor-footer > div {
    border-top: 2px solid #f2f2f2;
  }

  .template-editor-footer .btn {
    margin: 10px 0px;
  }

  @media screen and (min-width:768px) {
    .template-editor-toolbar .presentation-name {
      max-width: calc(100vw - 440px);
    }

    .preview-holder {
      min-height: calc(100vh - 180px);
    }

    .attribute-editor {
      padding: 20px;
      min-height: calc(100vh - 180px);
    }
  }
</style>

<div class="container-flow template-editor">

  <div>
    <template-editor-toolbar class="template-editor-toolbar">
    </template-editor-toolbar>
  </div>

  <div class="row template-editor-body">
    <div class="col-sm-8 col-sm-push-4 preview-holder">
      <div style="background-color: #C0C0C0">
        <template-editor-preview-holder>
        </template-editor-preview-holder>
      </div>
    </div>

    <div class="col-sm-4 col-sm-pull-8 attribute-editor">
      <template-attribute-editor>
      </template-attribute-editor>
    </div>
  </div>

  <template-editor-footer
    class="template-editor-footer navbar-fixed-bottom visible-xs">
  </template-editor-footer>

</div>
