<div id="template-editor" class="template-editor madero-style"
     ng-class="{ 'active-component' : factory.selected,
                 'desktop-mode': !considerChromeBarHeight }" common-header-height>
  <div>
    <template-editor-toolbar
      class="template-editor-toolbar"
      ng-class="{ 'hidden-xs': factory.selected }">
    </template-editor-toolbar>
  </div>
  <div class="template-editor-body">
    <div class="attribute-editor">
      <template-attribute-editor>
      </template-attribute-editor>
    </div>
    <div id="preview-holder" class="preview-holder"
         ng-class="{ 'hidden-xs': factory.selected }">
      <template-editor-preview-holder>
      </template-editor-preview-holder>
    </div>
  </div>

  <template-editor-footer
    class="template-editor-footer navbar-fixed-bottom visible-xs"
    ng-class="{ 'hidden-xs': factory.selected }">
  </template-editor-footer>

</div>
