<style>
  .rise-time-picker {
    position: absolute;
    padding: 15px;
    top: 42px;
    right: 0px;
    width: 260px;
    height: 100px;
    text-align: center;

    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
  }

  .hours-col {
    width: 60px;
    float: left;
    margin-left: -15px;
  }

  .delimiter-col {
    width: 10px;
    float: left;
    padding-top: 23px;
  }

  .minutes-col {
    width: 60px;
    float: left;
  }

  .meridian-col {
    width: 100px;
    float: left;
    margin-top: 14px;
    margin-left: 5px;
  }

  .meridian-col .btn-group {
    border: 1px solid #107dda;
    border-radius: 5px;
  }

  .meridian-col button {
    float: left;
  }

  .tp-arrow-up {
    color: #107dda;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .tp-arrow-down {
    color: #107dda;
    margin-top: 5px;
    cursor: pointer;
  }

  .tp-label {
    font-weight: bold;
    user-select: none;
  }

  .active-button {
    background-color: #107dda !important;
    color: white !important;
  }
</style>
<div class="rise-time-picker" ng-show="isOpen">
  <div class="hours-col">
    <div class="tp-arrow-up" ng-click="increaseHours()"><i class="fa fa-chevron-up"></i></div>
    <div class="tp-label">{{padNumber(hours)}}</div>
    <div class="tp-arrow-down" ng-click="decreaseHours()"><i class="fa fa-chevron-down"></i></div>
  </div>
  <div class="delimiter-col">
    <div class="tp-label">:</div>
  </div>
  <div class="minutes-col">
    <div class="tp-arrow-up" ng-click="increaseMinutes()"><i class="fa fa-chevron-up"></i></div>
    <div class="tp-label">{{padNumber(minutes)}}</div>
    <div class="tp-arrow-down" ng-click="decreaseMinutes()"><i class="fa fa-chevron-down"></i></div>
  </div>
  <div class="meridian-col">
    <div class="btn-group">
      <button class="btn btn-default text-center"
              ng-class="{ 'active-button': meridian === 'AM' }"
              ng-click="setMeridian('AM')">AM</button>
      <button class="btn btn-default text-center"
              ng-class="{ 'active-button': meridian === 'PM' }"
              ng-click="setMeridian('PM')">PM</button>
    </div>
  </div>
</div>
