<div class="rise-time-picker" ng-show="isOpen">
  <div class="hours-col">
    <div class="tp-arrow-up" ng-click="increaseHours()"><i class="fa fa-chevron-up"></i></div>
    <div class="tp-label">{{padNumber(hours)}}</div>
    <div class="tp-arrow-down" ng-click="decreaseHours()"><i class="fa fa-chevron-down"></i></div>
  </div>
  <div class="delimiter-col">
    <div class="tp-label">:</div>
  </div>
  <div class="minutes-col">
    <div class="tp-arrow-up" ng-click="increaseMinutes()"><i class="fa fa-chevron-up"></i></div>
    <div class="tp-label">{{padNumber(minutes)}}</div>
    <div class="tp-arrow-down" ng-click="decreaseMinutes()"><i class="fa fa-chevron-down"></i></div>
  </div>
  <div class="meridian-col">
    <div class="btn-group">
      <button class="btn btn-default text-center"
              ng-class="{ 'active-button': meridian === 'AM' }"
              ng-click="setMeridian('AM')">AM</button>
      <button class="btn btn-default text-center"
              ng-class="{ 'active-button': meridian === 'PM' }"
              ng-click="setMeridian('PM')">PM</button>
    </div>
  </div>
</div>
