<!-- Presentation Name -->
<input type="text" class="input-stretchy presentation-name"
       ng-model="factory.presentation.name" ng-blur="onPresentationNameBlur()" ng-disabled="!isEditingName">
<div>
  <button ng-disabled="isEditingName" type="button" class="edit-name" ng-click="isEditingName=true">
    <i class="fa fa-pencil u_margin-left"></i>
  </button>
  <i class="fa fa-trash-o u_margin-left hidden-xs"></i>
</div>

<div class="toolbar-right">
  <button id="saveButton"
    class="btn btn-primary btn-fixed-width u_margin-right hidden-xs">
    {{ 'common.save' | translate }}
    <i class="fa fa-check icon-right"></i>
  </button>

  <button id="publishButton" disabled
    class="btn btn-primary btn-fixed-width hidden-xs">
    {{'common.publish' | translate}}
  </button>

  <i class="fa fa-trash-o u_margin-left visible-xs"></i>
</div>
