<!-- Presentation Name -->
<input type="text" id="presentationName" class="input-stretchy presentation-name" ng-keyup="presentationNameKeyUp($event)"
       ng-model="factory.presentation.name" ng-blur="onPresentationNameBlur()" ng-disabled="!isEditingName">
<div>
  <button id="editNameButton" ng-disabled="isEditingName" type="button" class="edit-name pr-0" ng-click="isEditingName=true">
    <i class="fa fa-pencil u_margin-left"></i>
  </button>
  <button id="deleteButton" ng-disabled="isEditingName || !factory.presentation.id" ng-click="confirmDelete()" class="delete-presentation pl-0">
    <i class="fa fa-trash-o u_margin-left"></i>
  </button>
</div>

<div class="toolbar-right">
  <div id="autoSavingDesktop" class="auto-saving-changes hidden-xs">
    <div ng-show="!factory.savingPresentation && hasUnsavedChanges">
      Unsaved changes
    </div>
    <div ng-show="factory.savingPresentation">
      Saving changes...
    </div>
    <div ng-show="!factory.savingPresentation && !hasUnsavedChanges">
      <div>
        All changes saved <streamline-icon name="checkmark" width="12" height="12"></streamline-icon>
      </div>
    </div>
  </div>
  <button id="publishButtonDesktop" require-role="cp" class="btn btn-primary btn-fixed-width hidden-xs"
          ng-disabled="hasUnsavedChanges || !factory.isRevised() || factory.savingPresentation"
          ng-click="factory.publishPresentation()">
    <strong translate>common.publish</strong>
  </button>
</div>
