<!-- Presentation Name -->
<h2 class="presentation-name">
  {{factory.presentation.name}}
  <i class="fa fa-pencil u_margin-left"></i>
  <i class="fa fa-pencil u_margin-left hidden-xs"></i>
</h2>

<div class="toolbar-right">
  <button class="btn btn-primary btn-fixed-width u_margin-right hidden-xs">
    {{ 'common.save' | translate }}
  </button>

  <button disabled class="btn btn-primary btn-fixed-width u_margin-right hidden-xs">
    {{'common.publish' | translate}}
  </button>

  <i class="fa fa-pencil u_margin-left visible-xs"></i>
</div>
