<div class="image-settings-fs" ng-controller="ImageSettingsController" ng-cloak>

  <!-- Modal Header-->
  <div class="modal-header">
    <button type="button" class="close" ng-click="closeSettings()">
      <i class="fa fa-times half-top"></i>
    </button>
    <h2 class="modal-title">
      {{"image.settings" | translate }}
      <a class="btn btn-link" href="https://github.com/Rise-Vision/widget-image" target="_blank">
        <i class="fa fa-github fa-2x icon-gray"></i>
      </a>
    </h2>
  </div>

  <!-- Modal Body-->
  <div class="modal-body">
    <form role="form" name="settingsForm">
      <!-- File Selector -->
      <file-selector id="file-selector" name="fileSelector"
                     company-id="{{settings.params.companyId}}"
                     title="{{'image.url.label' | translate}}"
                     file-label="{{'image.url.file' | translate}}"
                     folder-label="{{'image.url.folder' | translate}}"
                     file-type="image"
                     selector="settings.additionalParams.selector"
                     ng-model="fileselector" selector-valid valid></file-selector>

      <!-- Resume Playback -->
      <div class="form-group" ng-show="isFolder">
        <div class="checkbox">
          <label for="resume">
            <input id="resume" type="checkbox" ng-model="settings.additionalParams.resume">
            {{"widgets.resume" | translate}}
          </label>
        </div>
      </div>

      <!-- Scale to Fit -->
      <div class="form-group">
        <div class="checkbox">
          <label for="scale-to-fit">
            <input id="scale-to-fit" type="checkbox" ng-model="settings.additionalParams.scaleToFit">
            {{"widgets.scale-to-fit" | translate}}
          </label>
        </div>
      </div>

      <!-- Alignment -->
      <div class="form-group">
        <position-setting position="settings.additionalParams.position"></position-setting>
      </div>

      <!-- Duration -->
      <div class="form-group" ng-show="isFolder">
        <label>{{"image.duration.label" | translate}}:</label>
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" value="10" ng-model="settings.additionalParams.duration">
              <span class="input-group-addon">sec</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Resume Playing After -->
      <div class="form-group" ng-show="isFolder">
        <label>{{"image.pause.label" | translate}}:</label>
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" value="10" ng-model="settings.additionalParams.pause">
              <span class="input-group-addon">sec</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Auto Hide Navigation -->
      <div class="form-group" ng-show="isFolder">
        <div class="checkbox">
          <label for="auto-hide">
            <input type="checkbox" ng-model="settings.additionalParams.autoHide">
            {{"image.auto-hide" | translate}}
          </label>
        </div>
      </div>

      <hr>
    </form>
  </div><!-- .modal-body -->

  <!-- Modal Footer-->
  <div class="modal-footer">
    <!-- Button Toolbar -->
    <widget-button-toolbar save="saveSettings()" cancel="closeSettings()" disable-save="settingsForm.$invalid">
    </widget-button-toolbar>
  </div>

</div><!-- .image-settings-fs -->
