<div id="twitterSettingsModal" ng-controller="TwitterSettingsController" ng-cloak>
	<div class="modal-header">
		<button id="dismissButton" type="button" class="close" ng-click="closeSettings()">
			<i class="fa fa-times"></i>
		</button>
		<h3 class="modal-title">{{"widget-twitter.settings" | translate }}</h3>
	</div>
	<div class="modal-body">
		<div class="alert alert-warning" ng-show="!twitterConnected">
			<div class="alert-body text-center">
				<p>{{"widget-twitter.authentication.connectText" | translate }}</p>
				<button id="connectButton" class="btn btn-primary" ng-click="connect()">{{"widget-twitter.authentication.connectButtonText" | translate }}</button>
			</div>
		</div>

		<div class="alert alert-info" ng-show="twitterConnected">
			<div class="alert-body text-center">
				<span>{{"widget-twitter.authentication.connectedText" | translate }} <a id="revokeLink" href="#" ng-click="revoke()">{{"widget-twitter.authentication.revokeLinkText" | translate }}</a></span>
			</div>
		</div>

		<form role="form" name="settingsForm">
		  <div class="form-group" ng-class="{'has-error': !settingsForm.screenName.$pristine && settingsForm.screenName.$invalid}" show-errors>
		    <!--label class="control-label">Enter a #hashtag or @handle to display Tweets from any public account</label>
		    <input type="text" class="form-control" placeholder="#hashtag/@handle"-->
	      <label class="control-label">{{"widget-twitter.screenName.text" | translate }}</label>
		    <div class="input-group">
		      <span class="input-group-addon" id="basic-addon1">@</span>
		      <input id="twitterScreenName" name="screenName" type="text" class="form-control" placeholder="username" required ng-model="settings.additionalParams.screenName">
		    </div>
				<p class="text-danger" ng-show="!settingsForm.screenName.$pristine && settingsForm.screenName.$invalid" translate>
					widget-twitter.screenName.error
			  </p>
			</div><!--form-inline-->

		  <div class="alert alert-info">
		  	<div class="alert-body">
		  		{{"widget-twitter.previewText" | translate }}
		  	</div>
		  </div>

		</form>
	</div>
	<div class="modal-footer">
	  <widget-button-toolbar save="saveSettings()" cancel="closeSettings()" disable-save="settingsForm.$invalid || !twitterConnected">
	  </widget-button-toolbar>
	</div>
</div>
