<form id="forms.loginForm" name="forms.loginForm" role="form" novalidate>
  <div>

    <!-- ERROR PANEL 1 -->
    <div class="panel-body bg-danger u_margin-sm-top" ng-show="errors.duplicateError">
      <p class="u_remove-bottom">
        <i class="fa fa-warning icon-left"></i>
        <span id="already-registered-warning">This email address is already registered. You can <a ui-sref="common.auth.unauthorized">sign in</a> with this address.</span>
      </p>
    </div>

    <!-- ERROR PANEL 2 -->
    <div class="panel-body bg-danger u_margin-sm-top" ng-show="errors.genericError && isSignUp">
      <p class="u_remove-bottom">
        <i class="fa fa-warning icon-left"></i>
        <span id="signup-failure-error">Registration failed. <br/>If you are having problems registering, please check this <a href="https://help.risevision.com/hc/en-us/articles/115001402743-I-am-having-trouble-logging-in-what-can-I-do-" target="_blank">Help Center article</a>.</span> 
      </p>
    </div>

    <!-- ERROR PANEL 3 -->
    <div class="panel-body bg-danger u_margin-sm-top" ng-show="errors.genericError && !isSignUp">
      <p class="u_remove-bottom">
        <i class="fa fa-warning icon-left"></i>
        <span id="incorrect-credentials-error">Your email address/password combination is incorrect. <br/>If you are having problems signing in, please check this <a href="https://help.risevision.com/hc/en-us/articles/115001402743-I-am-having-trouble-logging-in-what-can-I-do-" target="_blank">Help Center article</a>.</span>
      </p>
    </div>

    <!-- ERROR PANEL 4 -->
    <div class="panel-body bg-danger u_margin-sm-top" ng-show="errors.message">
      <p><strong>{{errors.messageTitle}}</strong></p>
      <p class="u_remove-bottom">{{errors.message}}</p>
    </div>

    <!-- ERROR PANEL 5 -->
    <div class="panel-body bg-danger u_margin-sm-top" ng-show="errors.userAccountLockoutError">
      <p class="u_remove-bottom">
        <i class="fa fa-warning icon-left"></i>
        <span id="user-account-lockout-error">
          Hmm, you've had too many failed login attempts.
          As a security precaution, we've blocked access to your account.
          You can try again in 24 hours.
          <br/>
          Feel like your account shouldn't be blocked?
          Please <a target="_blank" href="mailto:support@risevision.com">reach out to our Support team</a>.
        </span>
      </p>
    </div>

    <!-- MESSAGE PANEL 1 -->
    <div class="panel-body bg-info u_margin-sm-top" ng-show="messages.passwordReset">
      <p class="u_remove-bottom">
        <i class="fa fa-warning icon-left"></i>
        <span>Password successfully updated. <br/> Please sign in to proceed.</span>
      </p>
    </div>

    <!-- MESSAGE PANEL 2 -->
    <div class="panel-body bg-danger u_margin-sm-top" ng-show="messages.isGoogleAccount">
      <p class="u_remove-bottom">
        <i class="fa fa-warning icon-left"></i>
        <span>This account is authenticated by Google. <br/> Please, use the 'Sign in with Google' button.</span>
      </p>
    </div>
  </div>

  <div class="u_margin-sm-top">

    <div class="form-group" ng-class="{'has-error': (forms.loginForm.$submitted && forms.loginForm.username.$invalid)}" show-errors>
      <label class="control-label">Email</label>
      <input type="email" class="form-control" placeholder="Enter Your Email Address" id="username" name="username" ng-model="credentials.username" required focus-me="true" autocomplete="email">
      <p class="text-danger" ng-show="forms.loginForm.$submitted && forms.loginForm.username.$invalid">
        Please enter an Email
      </p>
    </div>
      
    <password-input 
      name="password"
      ng-model="credentials.password" 
      label="{{isSignUp ? 'Create Password' : 'Password'}}"
      minlength="{{ isSignUp ? 4 : 0}}" required>
    </password-input>

    </div>
  </div>

</form>
