<div ng-if="!joinAccount">
  <h1 class="u_remove-top" >Get Started For Free</h1>					
  <p class="lead text-muted" >No credit card or commitment required.</p>
</div>

<div ng-if="joinAccount">
  <h1 class="u_remove-top" >Join Your Company</h1>					
  <p class="lead text-muted" >Complete your account <span ng-if="!companyName">registration</span><span ng-if="companyName">with {{companyName}}</span>.</p>
</div>

<!-- GOOGLE API -->
<div class="col-xs-12 col-md-8" ng-show="!errors.confirmationRequired">
  <button class="btn btn-google-auth btn-hg" id="sign-up-google-link" ng-click="googleLogin('registrationComplete')">
    <span>
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg">
      Sign up with Google
    </span>
  </button>
</div>

<div class="section-divider col-xs-12 col-md-8 u_margin-md-top" ng-show="!errors.confirmationRequired" ng-if="!FORCE_GOOGLE_AUTH">
  <div></div>
    <span>OR</span>
    <div></div>
</div>

<!-- CUSTOM LOGIN -->
<div class="col-md-8 col-xs-12" ng-if="!FORCE_GOOGLE_AUTH">
	<div ng-include="'partials/components/userstate/auth-form.html'"></div>

	<div class="form-group" ng-show="!errors.confirmationRequired">
		<button id="sign-up-button" class="btn btn-primary btn-hg" type="submit" form="forms.loginForm" ng-click="createAccount('registrationComplete')">
			<span translate="Sign Up"></span>
		</button>
	</div>
</div>

<br>

<div class="col-xs-12 u_margin-lg-top">
	<p class="text-muted">Already have an account? <a id="sign-in-link" ui-sref="common.auth.unauthorized">Sign in</a></p>
</div>
