<h1 class="u_remove-top">Send Confirmation Email</h1>
<!-- CUSTOM LOGIN -->

<!-- ERROR PANEL -->
<div class="col-xs-12 col-md-8">
  <div class="panel-body bg-info u_margin-lg-top" ng-show="emailSent">
    <p class="u_remove-bottom">
      <i class="fa fa-warning icon-left"></i>
      <span>
        We've sent a confirmation email to {{credentials.username}}. <br/>
        Please check your inbox to complete your account registration. <br/>
      </span>
    </p>
  </div>
  <div class="panel-body bg-info u_margin-lg-top" ng-show="emailAlreadyConfirmed">
    <p class="u_remove-bottom">
      <i class="fa fa-warning icon-left"></i>
      <span>The {{credentials.username}} account is already confirmed.</span>
    </p>
  </div>
  <div class="panel-body bg-danger u_margin-lg-top" ng-show="isGoogleAccount">
    <p class="u_remove-bottom">
      <span>
        <i class="fa fa-warning icon-left"></i>
        This account is authenticated by Google.<br/>
        <p class="text-muted">
          You can <a id="sign-in-link" ui-sref="common.auth.unauthorized">Sign in with Google</a> in our login page.
        </p>
      </span>
    </p>
  </div>
</div>

<form id="confirmationEmailForm" role="form" name="forms.confirmationEmailForm" novalidate ng-show="!emailSent">
  <div class="col-md-8 col-xs-12  u_margin-md-top">
    <div class="form-group" ng-class="{'has-error': (forms.confirmationEmailForm.$submitted && forms.confirmationEmailForm.username.$invalid)}" show-errors>
      <label class="control-label">Email</label>
      <input type="text" class="form-control" name="username" ng-model="credentials.username" required focus-me="true">
      <p class="text-danger" ng-show="forms.confirmationEmailForm.$submitted && forms.confirmationEmailForm.username.$invalid">
        Please enter an Email
      </p>
    </div>

    <button class="btn btn-primary btn-hg" ng-disabled="forms.confirmationEmailForm.$invalid" ng-click="requestConfirmationEmail()">Send Confirmation Email</button>
  </div>
</form>

<br>
<div class="col-xs-12 u_margin-lg-top">
  <p class="text-muted"><a id="sign-in-link" ui-sref="common.auth.unauthorized">Sign in</a> to your account instead.</p>
</div>
