<h1 class="u_remove-top">Password Confirmation</h1>
<!-- CUSTOM LOGIN -->
<div>
  <!-- ERROR PANEL 1 -->
  <div class="panel-body bg-info u_margin-lg-top" ng-show="emailResetSent">
    <p class="u_remove-bottom">
      <i class="fa fa-warning icon-left"></i>
      <span>An email with password reset instructions has been sent to your email inbox.</span>
    </p>
  </div>
  <!-- ERROR PANEL 4 -->
  <div class="panel-body bg-danger u_margin-lg-top" ng-show="invalidToken">
    <p class="u_remove-bottom"><i class="fa fa-warning icon-left"></i>
      <span>The password reset token is not valid. <a href="#" ng-click="requestPasswordReset()">Request Password Reset</a></span> 
    </p>
  </div>
</div>

<form id="forms.resetPasswordForm" role="form" name="forms.resetPasswordForm" novalidate ng-show="!emailResetSent">
  <div class="col-md-8 col-xs-12 u_margin-md-top">
    <div class="form-group" ng-class="{'has-error': (forms.resetPasswordForm.$submitted && forms.resetPasswordForm.newPassword.$invalid)}" show-errors>
      <label class="control-label">New Password</label>
      <input type="password" class="form-control" name="newPassword" id="newPassword" ng-model="credentials.newPassword" required minlength="4" focus-me="true">
      <p class="text-danger" ng-show="forms.resetPasswordForm.$submitted && forms.resetPasswordForm.newPassword.$error.minlength">
        New Password must be at least 4 characters long.
      </p>
      <p class="text-warning" ng-show="forms.resetPasswordForm.newPassword.$valid">
        A strong password is at least 8 characters, includes uppercase/lowercase letters, and one or more numbers.
      </p>
    </div>
    <div class="form-group" ng-class="{'has-error': (forms.resetPasswordForm.$submitted && forms.resetPasswordForm.confirmPassword.$invalid)}" show-errors>
      <label class="control-label">Confirm Password</label>
      <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="credentials.confirmPassword" required confirm-password-validator="credentials.newPassword">
      <p ng-show="forms.resetPasswordForm.$submitted && forms.resetPasswordForm.confirmPassword.$error.required" class="text-danger">
        Confirm Password is required.
      </p>
      <p ng-show="forms.resetPasswordForm.$submitted && forms.resetPasswordForm.confirmPassword.$error.passwordMatch" class="text-danger">
        New Password and Confirm Password must match.
      </p>
    </div>

    <button id="resetPasswordButton" type="submit" form="forms.resetPasswordForm" class="btn btn-primary btn-hg" ng-click="resetPassword()">
      Update Password
    </button>
  </div>
</form>
