<h1 class="u_remove-top">Password Confirmation</h1>
<!-- CUSTOM LOGIN -->
<div>
  <!-- ERROR PANEL 1 -->
  <div class="panel-body bg-info u_margin-lg-top" ng-show="emailResetSent">
    <p class="u_remove-bottom">
      <i class="fa fa-warning icon-left"></i>
      <span>An email with password reset instructions has been sent to your email inbox.</span>
    </p>
  </div>
  <!-- ERROR PANEL 2 -->
  <div class="panel-body bg-danger u_margin-lg-top" ng-show="invalidToken">
    <p class="u_remove-bottom"><i class="fa fa-warning icon-left"></i>
      <span>The password reset token is not valid. <a href="#" ng-click="requestPasswordReset()">Request Password Reset</a></span> 
    </p>
  </div>
</div>

<form id="forms.resetPasswordForm" role="form" name="forms.resetPasswordForm" novalidate ng-show="!emailResetSent">
  <div class="col-md-8 col-xs-12 u_margin-md-top">
    
    <password-input 
      name="newPassword"
      label="Create Password"
      ng-model="credentials.newPassword"
      show-password-meter="true" minlength="4" required>
    </password-input>

    <button id="resetPasswordButton" type="submit" form="forms.resetPasswordForm" class="btn btn-primary btn-hg" ng-click="resetPassword()">
      Update Password
    </button>
  </div>
</form>
