<div>
  <div class="video-component-container" style="display: none">
    <ng-include src="getPartialPath('video-list.html')"></ng-include>
  </div>

  <div class="storage-selector-container video-storage-container"
      style="display: none">
    <basic-storage-selector storage-selector-id="video-storage"
                            file-type="video"
                            valid-extensions="validExtensions"
                            storage-manager="storageManager">
    </basic-storage-selector>
  </div>
</div>
