<div class="attribute-editor-component" rv-spinner rv-spinner-key="twitter-editor-loader" rv-spinner-start-active="1">
  <div class="attribute-editor-row" ng-show="connectionFailure">
    <p class="text-error">
      <span>We're having trouble connecting to your Twitter account.</span>
    </p>
  </div>
  <div class="attribute-editor-row" ng-show="!connected">
    <button class="btn btn-primary btn-block" ng-click="connectToTwitter()">
      <span>Connect to Twitter</span>
    </button>
  </div>
</div>

