<div class="attribute-editor-component" rv-spinner rv-spinner-key="twitter-editor-loader" rv-spinner-start-active="1">
  <div class="attribute-editor-row" ng-show="connectionFailure">
    <p class="text-error">
      <span>We're having trouble connecting to your Twitter account.</span>
    </p>
  </div>
  <div class="attribute-editor-row" ng-show="!connected">
    <button id="twitterConnectButton" class="btn btn-primary btn-block" ng-click="connectToTwitter()">
      <span>Connect to Twitter</span>
    </button>
  </div>
  <div class="attribute-editor-row" ng-show="connected">
    <div class="form-group has-feedback" ng-class="{ 'has-error': usernameStatus && usernameStatus !== 'VALID', 'has-success': usernameStatus === 'VALID' && username !== '' }">
      <label class="control-label" for="twitterUsername">Enter a username:</label>
      <input type="text" id="twitterUsername"  class="form-control u_ellipsis" ng-model="username" placeholder="@RiseVision" ng-change="save()">
      <streamline-icon class="overlay-icon form-control-feedback" aria-hidden="true" name="{{usernameStatus && usernameStatus !== 'VALID' ? 'exclamation' : 'checkmark'}}" width="14" height="12"></streamline-icon>
      <p class="help-block" ng-switch on="usernameStatus">
        <span ng-switch-when="INVALID_USERNAME">Please provide a valid username.</span>
      </p>
    </div>
  </div>
  <div class="attribute-editor-row" ng-show="connected">
    <div class="form-group has-feedback" ng-class="{ 'has-error': maxitemsStatus && maxitemsStatus !== 'VALID', 'has-success': maxitemsStatus === 'VALID' && maxitems }">
      <label class="control-label" for="twitterMaxitems">Number of Tweets in queue:</label>
      <input type="text" id="twitterMaxitems" class="form-control u_ellipsis" ng-model="maxitems" placeholder="Max {{MAX_ITEMS}}" ng-change="save()">
      <streamline-icon class="overlay-icon form-control-feedback" aria-hidden="true" name="{{maxitemsStatus && maxitemsStatus !== 'VALID' ? 'exclamation' : 'checkmark'}}" width="14" height="12"></streamline-icon>
      <p class="help-block" ng-switch on="maxitemsStatus">
        <span ng-switch-when="INVALID_RANGE">Please provide a number between 1 and {{MAX_ITEMS}}.</span>
      </p>
    </div>
  </div>
</div>
