<div class="attribute-editor-component">
  <div class="attribute-editor-row counter-container">
    <label ng-show="counterType == 'down'" class="u_margin-sm-top">Countdown to:</label>
    <label ng-show="counterType == 'up'" class="u_margin-sm-top">Count up from:</label>
    <div class="radio">
      <input type="radio" ng-model="targetUnit" value="targetDate" id="specificDate" name="specificDate" ng-change="save()" aria-required="true" tabindex="1" required>
      <label for="specificDate">
        A specific date:
      </label>
      <div class="input-group rise-date-picker radio-nested-input-group" ng-show="targetUnit == 'targetDate'">
        <input type="text"
               class="form-control"
               readonly="true"
               id="targetDate"
               name="targetDate"
               ng-model="targetDate"
               ng-change="save()"
               ng-click="openDatePicker($event)"
               datepicker-options="dateOptions"
               datepicker-popup="MMMM dd, yyyy"
               show-button-bar="false"
               is-open="targetDatePicker.isOpen"
               init-date="targetDatePicker.initDate"
               min-date="today"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary" ng-click="openDatePicker($event)"><i class="fa fa-calendar"></i></button>
        </span>
      </div>
    </div>

    <div class="radio">
      <input type="radio" ng-model="targetUnit" value="targetTime" id="specificTime" name="specificTime" ng-change="save()" aria-required="true" tabindex="1" required>
      <label for="specificTime">
        A specific time, every day:
      </label>
    </div>
  </div>
</div>
