<div class="attribute-editor-component">
  <div class="attribute-editor-row" ng-show="type === 'timedate' || type === 'date'">
    <div class="form-group">
      <label class="control-label" for="te-td-date-format">Date format:</label>
      <select id="te-td-date-format"
              class="form-control"
              ng-model="dateFormat"
              ng-options="df.format as df.date for df in dateFormats"
              ng-change="save()">
      </select>
    </div>
  </div>
  <div class="attribute-editor-row" ng-show="type === 'timedate' || type === 'time'">
    <label class="u_margin-sm-top mb-0">Time format:</label>

    <div class="radio" id="time12HoursRadio">
      <input type="radio" ng-model="timeFormat" value="Hours12" id="Hours12" name="Hours12" ng-change="save()" aria-required="true" required>
      <label for="Hours12" id="Hours12Label">
        12 hour.
      </label>
    </div>

    <div class="radio" id="time24HoursRadio">
      <input type="radio" ng-model="timeFormat" value="Hours24" id="Hours24" name="Hours24" ng-change="save()" aria-required="true" required>
      <label for="Hours24" id="Hours24Label">
        24 hour.
      </label>
    </div>
  </div>
</div>
