<div class="instrument-list"
    ng-class="{ 'instrument-list-show': enteringInstrumentSelector, 'instrument-list-cover': enteringSymbolSelector, 'instrument-list-uncover': exitingSymbolSelector }"
    ng-show="showInstrumentList || enteringInstrumentSelector || exitingSymbolSelector"
    rv-spinner rv-spinner-key="template-editor-loader"
    rv-spinner-start-active="1">
  <div class="row instrument-row" ng-repeat="instr in instruments">
    <div class="col-xs-10">
      <div class="instrument-name">{{ instr.name | uppercase }}</div>
      <div class="instrument-rate">{{ instr.symbol | uppercase }}</div>
    </div>
    <div class="col-xs-2 instrument-delete">
      <a href="#"
         ng-click="removeInstrument(instr.symbol)"
         translate>editor-app.details.remove</a>
    </div>
  </div>
</div>

<div class="row financial-action-button-bar" ng-show="showInstrumentList">
  <div class="col-sm-4">
    <button class="btn btn-primary btn-block" ng-click="showSymbolSearch()">
      <strong>{{ getOpenSymbolSelectorButtonLabel() | translate }}</strong>
    </button>
  </div>
</div>

<div class="instrument-selector"
    ng-class="{ 'instrument-selector-show': enteringSymbolSelector, 'instrument-selector-hide': exitingSymbolSelector }"
    ng-show="showSymbolSelector || enteringSymbolSelector">
  <div class="input-group">
    <span class="input-group-addon" ng-click="searchInstruments()"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control"
           ng-model="searchKeyword" ng-disabled="searching" ng-keyup="searchKeyPressed($event)"
           placeholder="{{ getSearchPlaceholder() | translate }}"
           aria-label="{{ getSearchPlaceholder() | translate }}">
    <span class="input-group-addon" ng-click="resetSearch()">
      <i class="fa fa-close"></i>
    </span>
  </div>

  <div class="instrument-selector-no-results" ng-show="!instrumentSearch.length || instrumentSearch.length === 0">
    <h2 translate>template.financial.no-results.title</h2>
    <div translate>template.financial.no-results.question</div>
    <div>
      <a target="_blank"
        href="https://help.risevision.com/hc/en-us/articles/115001426846-Verify-a-stock-symbol-is-valid"
        translate>template.financial.no-results.verify-start</a>
      {{ 'template.financial.no-results.verify-mid' | translate }}
      <a href="mailto:support@risevision.com">support@risevision.com</a>
      {{ 'template.financial.no-results.verify-end' | translate }}
    </div>
  </div>

  <div class="instrument-selector-popular" ng-show="popularResults">{{ getPopularTitle() | translate }}</div>

  <div class="row instrument-row" ng-show="instrumentSearch.length > 0"
       ng-repeat="(key, value) in instrumentSearch"
       ng-click="selectInstrument(key)"
       ng-class="{'instrument-row--is-selected' : value.isSelected}">
    <div class="col-xs-12">
      <span class="instrument-selector-checkbox">
        <input id="{{value.symbol}}" type="checkbox"
               ng-click="selectInstrument(key)"
               ng-checked="value.isSelected">
        <label for="{{value.symbol}}"></label>
      </span>
      <span class="instrument-selector-name">
        <div class="instrument-name">{{ value.name | uppercase }}</div>
        <div class="instrument-rate">{{ value.symbol | uppercase }}</div>
      </span>
    </div>
  </div>
</div>

<div class="row financial-action-button-bar" ng-show="showSymbolSelector">
  <div class="col-sm-4">
    <button class="btn btn-primary btn-block" ng-click="selectInstruments()">
      <strong translate>template.financial.add-selected</strong>
    </button>
  </div>
</div>
