<div class="rise-playlist-container attribute-editor-component"
rv-spinner rv-spinner-key="rise-playlist-templates-loader">

  <!-- default view -->
  <div ng-show="!view">
    <div class="playlist-templates-title" ng-show="selectedTemplates.length">
      <label>Embedded Templates:</label>
    </div>
    <div class="templates-selector te-scrollable-container" ng-show="selectedTemplates.length">
      <div rv-sortable on-sort="sortItem(evt)" append-to=".component-container" class="sortable-list">
        <div class="row templates-row  rv-sortable-item"
            ng-repeat="(key, value) in selectedTemplates">
          <div class="list-grip pr-4 rv-sortable-handle">
            <img class="img-responsive" src="../images/navigation-menu-vertical.svg">
          </div>
          <div class="col-xs-10 pl-0 pr-0">
            <span class="playlist-item-name">
              <div class="templates-name">{{ value.name }}</div>
              <div class="templates-status templates-status-inline" ng-class="{'templates-status-revised' : value.revisionStatusName === 'Revised' || value.removed}">{{ value.revisionStatusName }}</div>
              <div class="templates-status templates-status-inline" ng-hide="value.removed"> • {{ durationToText(value) }}</div>
            </span>
          </div>
          <div class="col-xs-2 pr-0 playlist-item-actions">
            <a href="#"
               ng-click="editProperties(key)" ng-hide="value.removed">
               <streamline-icon class="u_margin-left streamline-component-icon" name="edit" width="16" height="16"></streamline-icon>
            </a>
            <a href="#"
               ng-click="removeTemplate(key)">
               <streamline-icon class="u_margin-left streamline-component-icon" name="trash" width="16" height="16"></streamline-icon>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="playlist-action-button-bar">
      <div class="select-templates" ng-class="{'no-selected-templates' : !selectedTemplates.length || selectedTemplates.length === 0}">
        <button id="te-playlist-select-templates" class="btn btn-primary btn-block" ng-click="showAddTemplates()">
          Select Templates
        </button>
      </div>
    </div>
  </div>

  <!-- "add-templates" view -->
  <div ng-show="view === 'add-templates'">
    <div class="playlist-templates-title active-search">
      <label>Choose A Template</label>
    </div>
    <div class="input-group templates-selector-search-box">
      <span class="input-group-addon" ng-click="searchTemplates()">
        <streamline-icon name="magnifier" width="16" height="16"></streamline-icon>
      </span>
      <input id="te-playlist-search" type="text" class="form-control"
            ng-model="searchKeyword" ng-keyup="searchKeyPressed($event)"
            placeholder="Search Templates"
            aria-label="Search Templates">
      <span class="input-group-addon" ng-click="resetSearch()">
        <streamline-icon name="close" width="12" height="12"></streamline-icon>
      </span>
    </div>

    <div class="templates-selector te-scrollable-container active-search"
         scrolling-list="templatesFactory.load()">
      <div id="te-playlist-no-results" class="templates-selector-no-results" ng-show="!(templatesFactory.items.list.length > 0)">
        No Templates found. To create a new Template <a ng-click="createNewTemplate()">click here</a>. 
      </div>

      <div class="row templates-row" ng-show="templatesFactory.items.list.length > 0"
          ng-repeat="(key, value) in templatesFactory.items.list"
          ng-click="selectTemplate(key)">
        <div class="col-xs-12 pl-0 pr-0">
          <span class="templates-selector-checkbox">
            <input id="{{value.id}}" type="checkbox"
                  ng-click="selectTemplate(key)"
                  ng-checked="value.isSelected">
            <label for="{{value.id}}">
              <span></span>
            </label>
          </span>
          <span class="templates-selector-name">
            <div class="templates-name">{{ value.name }}</div>
            <div class="templates-status" ng-class="{'templates-status-revised' : value.revisionStatusName === 'Revised'}">{{ value.revisionStatusName }}</div>
          </span>
        </div>
      </div>
    </div>

    <div class="playlist-action-button-bar">
      <div class="add-templates">
        <button id="te-playlist-add-template" class="btn btn-primary btn-block" ng-click="addTemplates()" ng-disabled="!canAddTemplates">
          Add Template
        </button>
      </div>
    </div>

  </div>

  <!-- "edit" view -->
  <div ng-show="view === 'edit'">
    <div class="form-group has-feedback">

      <div class="attribute-editor-row">
        <label class="control-label" for="te-playlist-item-duration">Duration:</label>
        <div  ng-show="selectedItem['play-until-done-supported']">
          <div class="madero-radio">
            <input type="radio" ng-model="selectedItem['play-until-done']" value="true" name="pud" id="te-playlist-item-pud-true" ng-change="saveProperties()" aria-required="true" required>
            <label for="te-playlist-item-pud-true">
              Play until done (PUD).
            </label>
          </div>
          <div class="madero-radio">
            <input type="radio" ng-model="selectedItem['play-until-done']" value="false" name="pud" id="te-playlist-item-pud-false" ng-change="saveProperties()" aria-required="true" required>
            <label for="te-playlist-item-pud-false">
              A specific time period.
            </label>
          </div>
        </div>
      </div>

      <div class="attribute-editor-row" ng-show="selectedItem['play-until-done'] === 'false'">
        <!-- Use the <form> tag in order to handle "debounce" option correctly for the <input> tag.
        That way the model value is processed immeditly on Form submit and saveProperties() is called only once. -->
        <form>
          <div class="input-group">
            <input type="number" id="te-playlist-item-duration" class="form-control" ng-class="{'duration-input-group' : selectedItem['play-until-done-supported']}" ng-model="selectedItem.duration" placeholder="Enter duration" ng-model-options="{ debounce: 1000 }" ng-change="saveProperties()">
            <span class="input-group-addon">seconds</span>
          </div>
        </form>
      </div>

      <div class="attribute-editor-row">
        <label class="control-label" for="te-playlist-item-transition">Transition:</label>
        <select id="te-playlist-item-transition" ng-model="selectedItem['transition-type']" class="form-control" ng-change="saveProperties()">
          <option value="normal">No transition</option>
          <option value="fadeIn">Fade in</option>
          <option value="slideFromLeft">Slide from left</option>
          <option value="slideFromRight">Slide from right</option>
          <option value="slideFromTop">Slide from top</option>
          <option value="slideFromBottom">Slide from bottom</option>
          <option value="stripesHorizontal">Stripes horizontal</option>
          <option value="stripesVertical">Stripes vertical</option>
          <option value="zoomIn">Zoom in</option>
        </select>
      </div>

    </div>
  </div>

</div>
