<div class="attribute-editor-component">
  <div class="attribute-editor-row">
    <label>Text:</label>
    <div class="row">
      <div class="col-xs-12">
        <input id="text-component-input" type="text" class="form-control" ng-model="value" placeholder="Enter your text" ng-change="save()">
      </div>
    </div>
  </div>
  <div class="attribute-editor-row" ng-show="showFontSize">
    <div>
      <label class="u_margin-md-top">Font size:</label>
      <div class="row">
        <div class="col-xs-12">
          <rzslider rz-slider-model="fontsize" rz-slider-options="sliderOptions"></rzslider>
        </div>
      </div>
      <p class="range-value">{{ fontsize }}px</p>
    </div>
  </div>
</div>
