<div class="attribute-editor-component">
  <div class="attribute-editor-row counter-container">
    <label ng-show="counterType == 'down'" class="u_margin-sm-top">Countdown to:</label>
    <label ng-show="counterType == 'up'" class="u_margin-sm-top">Count up from:</label>
    <div class="madero-radio" id="dateRadio">
      <input type="radio" ng-model="targetUnit" value="targetDate" id="specificDate" name="specificDate" ng-change="save()" aria-required="true" tabindex="1" required>
      <label for="specificDate" id="specificDateLabel">
        A specific date and time:
      </label>
      <div class="input-group rise-date-picker radio-nested-input-group" ng-show="targetUnit == 'targetDate'">
        <input type="text"
               class="form-control"
               readonly="true"
               id="targetDate"
               name="targetDate"
               ng-model="targetDate"
               ng-change="save()"
               ng-click="openDatePicker($event)"
               datepicker-options="dateOptions"
               datepicker-popup="MMMM dd, yyyy"
               show-button-bar="false"
               is-open="targetDatePicker.isOpen"
               init-date="targetDatePicker.initDate"
               min-date="today"/>
        <span class="input-group-btn">
          <button type="button" id="datePickerButton" class="btn btn-primary" ng-click="openDatePicker($event)"><i class="fa fa-calendar"></i></button>
        </span>
      </div>
      <div class="input-group rise-date-picker radio-nested-input-group mt-3" ng-show="targetUnit == 'targetDate'">
        <input type="text"
               class="form-control"
               readonly="true"
               id="targetDateTime"
               name="targetDateTime"
               ng-model="targetDateTime"
               ng-change="save()"
               ng-click="openTimePicker($event, 'date')"
               time-picker-popup
               is-open="targetDateTimePicker.isOpen"
        />
        <span class="input-group-btn">
          <button type="button" id="dateTimePickerButton" class="btn btn-primary" ng-click="openTimePicker($event, 'date')">
            <streamline-icon name="clock"></streamline-icon>
          </button>
        </span>
      </div>
    </div>

    <div class="madero-radio" id="timeRadio">
      <input type="radio" ng-model="targetUnit" value="targetTime" id="specificTime" name="specificTime" ng-change="save()" aria-required="true" tabindex="1" required>
      <label for="specificTime" id="specificTimeLabel">
        A specific time, every day:
      </label>
      <div class="input-group rise-date-picker radio-nested-input-group" ng-show="targetUnit == 'targetTime'">
        <input type="text"
               class="form-control"
               readonly="true"
               id="targetTime"
               name="targetTime"
               ng-model="targetTime"
               ng-change="save()"
               ng-click="openTimePicker($event)"
               time-picker-popup
               is-open="targetTimePicker.isOpen"
               />
        <span class="input-group-btn">
          <button type="button" id="timePickerButton" class="btn btn-primary" ng-click="openTimePicker($event)">
            <streamline-icon name="clock"></streamline-icon>
          </button>
        </span>
      </div>
    </div>
    <div class="form-group mt-4" ng-show="counterType == 'down' && !nonCompletion">
      <label class="control-label" for="completionMessage">Enter countdown completion message:</label>
      <input type="text" id="completionMessage" class="form-control u_ellipsis" ng-model="completionMessage" ng-change="save()" placeholder="Eg. &quot;It's time for...&quot;">
    </div>
  </div>
</div>
