<div class="image-component-list">
  <div class="image-component-list-empty" ng-hide="availableImages.length > 0">
    <div class="row">
      <div class="col-xs-12">
        <h2>You have no images here</h2>
        <p>Upload images from your device or select images from storage to keep your display interesting!</p>
        <div>
          <img class="img-responsive" src="../images/image-empty-list.svg">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="image-component-list-action-button-bar">
  <div class="upload-images">
    <button class="btn btn-primary btn-block" ng-click="uploadImages()">
      <strong>Upload Images</strong>
    </button>
  </div>
  <div class="select-from-storage">
    <button class="btn btn-primary btn-block" ng-click="selectFromStorage()">
      <strong>Select from Storage</strong>
    </button>
  </div>
</div>
