<div class="image-component-list-duration"
     ng-show="selectedImages.length > 1 && !isUploading">
  <label>Show each image for:</label>
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <input type="number" class="form-control" ng-model="values.duration" ng-change="saveDuration()">
        <span class="input-group-addon">Seconds</span>
      </div>
    </div>
  </div>
</div>
<div class="image-component-list file-component-list te-scrollable-container"
     ng-class="{'active-duration' : selectedImages.length > 1 && !isUploading}"
     rv-spinner rv-spinner-key="template-editor-loader"
     rv-spinner-start-active="1">
  <div class="pl-0 file-row"
    ng-repeat="image in selectedImages track by $index"
    ng-show="selectedImages.length > 0 && !isUploading">
    <div class="file-thumbnail">
      <div class="file-helper"></div>
      <img src="{{ image['thumbnail-url'] }}" ng-if="image.exists"
        width="80"></img>
      <div class="broken-link" ng-hide="image.exists">
        <streamline-icon name="forbidden" width="61" height="60"></streamline-icon>
      </div>
    </div>
    <div class="file-entry">
      <div class="file-text">
        <div class="file-name">{{ fileNameOf(image.file) }}</div>
        <div class="file-not-available" ng-hide="image.exists">
          Your image has been deleted, renamed, or moved.
        </div>
      </div>
      <div class="file-remove">
        <a href="#" ng-click="removeImageFromList(image)"
          translate>editor-app.details.remove</a>
      </div>
    </div>
  </div>

  <div class="file-component-list-empty" ng-hide="isUploading || selectedImages.length !== 0 || factory.loadingPresentation">
    <div class="row">
      <div class="col-xs-12">
        <h2>You have no images here.</h2>
        <p>Upload images from your device or select images from storage to keep your display interesting!</p>
        <div>
          <img class="img-responsive" src="../images/image-empty-list.svg">
        </div>
      </div>
    </div>
  </div>

  <basic-uploader uploader-id="image-list-uploader"
                  upload-manager="uploadManager"
                  valid-extensions="validExtensions"
                  ng-show="isUploading">
  </basic-uploader>
</div>

<div class="file-component-list-action-button-bar">
  <div class="upload-files">
    <label id="image-list-uploader-label" class="btn btn-primary btn-block" for="image-list-uploader" ng-disabled="isUploading">
      <strong>Upload Images</strong>
    </label>
  </div>
  <div class="select-from-storage">
    <button id="image-list-storage-button" class="btn btn-primary btn-block" ng-click="selectFromStorage()" ng-disabled="isUploading">
      <strong>Select from Storage</strong>
    </button>
  </div>
</div>
