<div class="image-component-list te-scrollable-container">
  <div class="pl-0 image-row">
    <div class="image-thumbnail">
      <div>
        <img src="http://via.placeholder.com/80x60" width="80" height="60"></img>
      </div>
    </div>
    <div class="image-entry">
      <div class="image-entry-top">
        <div class="image-name">image.jpg</div>
        <a href="#" translate>editor-app.details.remove</a>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="pl-0 image-row">
    <div class="image-thumbnail">
      <img src="http://via.placeholder.com/80x60" width="80" height="60"></img>
    </div>
    <div class="image-entry">
      <div class="image-entry-top">
        <div class="image-name">very-long-image-name-of-image.jpg</div>
        <a href="#" translate>editor-app.details.remove</a>
      </div>
      <div class="image-not-available">
        Your image has been deleted, renamed, or moved.
      </div>
    </div>
  </div>

  <div class="image-component-list-empty" ng-hide="availableImages.length > 0">
    <div class="row">
      <div class="col-xs-12">
        <h2>You have no images here</h2>
        <p>Upload images from your device or select images from storage to keep your display interesting!</p>
        <div>
          <img class="img-responsive" src="../images/image-empty-list.svg">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="image-component-list-action-button-bar">
  <div class="upload-images">
    <button class="btn btn-primary btn-block" ng-click="uploadImages()">
      <strong>Upload Images</strong>
    </button>
  </div>
  <div class="select-from-storage">
    <button class="btn btn-primary btn-block" ng-click="selectFromStorage()">
      <strong>Select from Storage</strong>
    </button>
  </div>
</div>
