<div class="storage-selector-component">
  <div class="storage-selector-list-empty">
    <div class="row">
      <div class="col-xs-12">
        <h2>You have no images in Storage</h2>
        <p>Upload images from your device to keep your display interesting!</p>
        <div>
          <img class="img-responsive" src="../images/image-empty-list.svg">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="storage-selector-action-button-bar">
  <div class="upload-images">
    <button class="btn btn-primary btn-block">
      <strong>Upload Images</strong>
    </button>
  </div>
</div>
