<div class="app-header my-4">
    <!-- App Title -->
    <h1 class="app-header-title" translate>reports-app.title</h1>
</div>

<div class="container" ng-controller="reports">
  <div ng-if="!isSubmitted()">
    <ng-include src="'partials/reporting/reports-list.html'"></ng-include>

    <label id="reportRunButton" ng-click="runReports()" class="btn btn-primary">
      <span translate>reports-app.run</span>
    </label>
  </div>
  <div ng-if="isSubmitted()" class="panel">
    <div ng-repeat="response in responses">
      <div class="panel-body">
        <span><i class="fa fa-bell-o icon-left"></i>{{response}}</span>
      </div>
    </div>
  </div>
</div>
