<div class="app-header my-4">
    <!-- App Title -->
    <h1 class="app-header-title">Reports</h1>
</div>

<div class="container" ng-controller="reports">
  <div ng-if="!isSubmitted()">
    <ng-include src="'partials/reporting/reports-list.html'"></ng-include>

    <label id="reportRunButton" ng-click="runReports()" class="btn btn-primary">
      <span>Run</span>
    </label>
  </div>
  <div ng-if="isSubmitted() && hasResults()">
    <div class="panel col-sm-6">
      <div ng-repeat="response in responses">
        <div class="panel-body">
          <span><i class="fa fa-bell-o icon-left"></i><strong>{{response.name}}</strong> is running.</span>
        </div>
      </div>
    </div>
    <div class="clear-both">Results will be sent to <strong>{{userEmail}}</strong> when ready.</div>
  </div>
</div>
