#pricingComponentTitle {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 0;
}

#pricingComponentContainer {
  margin: 0 20px;
}

.pricing-component-modal button.dismiss {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5em 0.5em 0 0;
  background: none;
  border: none;
  text-align: right
}

.pricing-component-modal button.dismiss i.fa {
  opacity: 0.4
}

.pricing-component-modal .modal-dialog {
  width: 755px;
}

.pricing-component-modal .modal-content {
  padding: 0;
  color: #020620;
  background-color: #fff;
}

@media (max-width: 755px) {
  .pricing-component-modal .modal-dialog {
    width: 100%;
  }
}

#subscribeButton {
  width: 100%;
  background-color: #45b764;
  color: white;
  font-weight: bold;
  font-size: large;
  padding: 0.7em;
  margin-bottom: 0.5em;
  border-radius: 4px;
}

#subscribeButton[disabled] {
  color: #c4c4c4;
  opacity: 0.3;
}
